USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[AC1_Ceck_Pulizia_CreazioneArticoli_Marche]    Script Date: 20/06/2025 10:26:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =======================================================================================================================================
-- Author:		<Sacco,,Antonio>
-- Create date: <04-10-2015>
-- Description:	<Listini Automatici Piattaforme e PDV>
-- Controllo e Pulizia dei Vari Campi Articolo, ed Eventuale Creazione dei Nuovi Articoli
-- =======================================================================================================================================
ALTER PROCEDURE [dbo].[AC1_Ceck_Pulizia_CreazioneArticoli_Marche]
	-- Add the parameters for the stored procedure here

AS
BEGIN

	SET NOCOUNT ON;

-------------- Prodedure da lanciare alla fine di tutte le importazioni nella TBL "Ant_ArticoVsPiattaforme ---------

--------- Pulizia dei Record che Potrebbero dare errore -----------------
DELETE Ant_ArticoVsPiattaforme
WHERE CodArtForn = '' OR CodArtForn IS NULL
--------- Pulizia dei Record che Sono legati ad un Articolo USATO -----------------
DELETE Ant_ArticoVsPiattaforme
FROM I24BO.dbo.ARTICO
WHERE (Ant_ArticoVsPiattaforme.IdArtico = ID AND Ltrim(Ext_CAI) LIKE 'U%') OR (Ant_ArticoVsPiattaforme.IdArtico = ID AND IDCLASSI = 101)
--------- Pulizia dei Record che hanno il CodArtForn Ugaule per lo stesso Fornitore (Duplicati) -----------------
DELETE T1 FROM (SELECT ROW_NUMBER() OVER(PARTITION BY CodArtForn,IdFornitore ORDER BY CodArtForn,Qta DESC) AS [NumeroCodici],* FROM Ant_ArticoVsPiattaforme) as T1 
where T1.NumeroCodici > 1 -- Cancella i duplicati in ordine di data di modifica (Tiene solo il Primo Duplicato gli Altri Vengono Cancellati, quindi Ordinare in Modo che il Primo sia quello da TENERE)
--==================================== Scrivo nel Campo "Marca_Id" ID della Marca ====================================--
update Ant_ArticoVsPiattaforme
set Marca_Id = IDMARCHE
from I24BO.dbo.ARTICO WHERE EAN=Ext_EAN AND Marca_Id IS NULL --AND IdFornitore = 1

update Ant_ArticoVsPiattaforme
set Marca_Id = ID
from I24BO.dbo.MARCHE WHERE ltrim(rtrim(Produttore)) = ltrim(rtrim(DESCR)) AND Marca_Id is NULL --AND IdFornitore = 1

update Ant_ArticoVsPiattaforme
set Marca_Id = IDMarche
from Ant_MARCHE_Agg WHERE ltrim(rtrim(Produttore)) = ltrim(rtrim(DESCRAnt)) --AND Marca_Id is NULL --AND IdFornitore = 1

--=============== Aggiorno Ant_ArticoVsPiattaforme per il Campo "Marca_Id" se ho aggiunto delle Marche e quindi il campo "Marca_Id" era Vuoto =====================================--
UPDATE Ant_ArticoVsPiattaforme
SET Marca_Id = ID
FROM I24BO.dbo.MARCHE INNER JOIN Ant_ArticoVsPiattaforme ON Produttore = DESCR
WHERE Marca_Id IS NULL

--=============== Aggiorno Ant_ArticoVsPiattaforme per il Campo "IdSettore" (Comodo quando di un fornitore bisogna sospendere un Settore =====================================--
UPDATE Ant_ArticoVsPiattaforme
	SET IdSettore = IDCLASSI,Settore = (SELECT DESCR from I24BO.dbo.CLASSI WHERE ID = IDCLASSI)
FROM I24BO.dbo.ARTICO
WHERE Ant_ArticoVsPiattaforme.IdArtico = ID

--================== Se manca compilo il Nome del Fornitore con il suo ID ================================--

UPDATE Ant_ArticoVsPiattaforme
SET DescrFornitore = Descrizione
FROM Ant_FornPiattaforma
WHERE DescrFornitore IS NULL and IdFornitore = IdForPiatt

UPDATE Ant_ArticoVsPiattaforme
SET TipoFornitore = dbo.Rimuove_Spazi_CR_LF(PubPortali)
FROM Ant_FornPiattaforma
WHERE TipoFornitore IS NULL and IdFornitore = IdForPiatt

------------------------------------- Gestione Classe Energetica Articoli -------------------------------------------------------------
----- Pulisco i Campi della Classe Energetica -----

UPDATE Ant_ArticoVsPiattaforme
	SET Rotolamento = NULL, Decibel = NULL, Rumorosita = NULL, Aderenza = NULL
WHERE LTRIM(RTRIM(Rotolamento)) = '' OR LTRIM(RTRIM(Rotolamento)) IN ('0','ND','NA','-')

/* Se ci sono dei Duplicati li Cancello */
DELETE T1 FROM (SELECT ROW_NUMBER() OVER(PARTITION BY idartico ORDER BY idartico,NOISE_PERFORMANCE DESC) AS [NumeroCodici],* FROM I24BO.dbo.ext_artico_classe_energetica) as T1 
where T1.NumeroCodici>1 -- Cancella i duplicati (Tiene solo il Primo Duplicato gli Altri Vengono Cancellati, quindi Ordinare in Modo che il Primo sia quello da TENERE)
-------------------------------------------------------------------------------------------------------------------------------------------

--======================== Pulizia Duplicati per EAN in ArticoVsPiattaforme  ========================--

DELETE T1 FROM (SELECT ROW_NUMBER() OVER(PARTITION BY EAN,IdFornitore ORDER BY Qta DESC) AS [NumeroCodici],* FROM Ant_ArticoVsPiattaforme) as T1 
where T1.NumeroCodici>1 AND (T1.EAN IS NOT NULL AND T1.EAN <> '') -- Cancella i duplicati in ordine di data di modifica (Tiene solo il Primo Duplicato gli Altri Vengono Cancellati, quindi Ordinare in Modo che il Primo sia quello da TENERE)

PRINT 'OK - [AC1_Ceck_Pulizia_CreazioneArticoli_Marche]'

END


