USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[AD9_CreaPrezziRicambi]    Script Date: 20/06/2025 10:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[AD9_CreaPrezziRicambi]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @MargineMin float = 2 -- MArgine Minimo 2€

	------------------------- Cancello alcuni Record -------------------------------

	UPDATE RicambiCSV -- Azzero i Prezzi di Vendita
		SET PriceItalia = 0

	DELETE RicambiCsv WHERE Isnumeric(Quantiy) = 0

	DELETE RicambiCsv WHERE Isnumeric(PrezzoAcq) = 0

	DELETE RicambiCsv WHERE Cast(Quantiy AS FLOAT) = 0

	DELETE RicambiCSV
	WHERE ISNUMERIC(PesoVolumetrico) = 0 AND Fornitore = 'Saffioti'

	DELETE RicambiCSV
	WHERE ISNUMERIC(Peso) = 0 AND Fornitore = 'Saffioti'

	-- ============================================================================================ --
	-- ========== Articoli a cui bisogna modificare il costo per vari motivi ====================== --
	-- ============================================================================================ --

	--UPDATE RicambiCSV
	--	SET PrezzoAcq = (SELECT CAST(apc.Price_Italia AS DECIMAL (8,2)) FROM Ant_PelloniCsv apc WHERE apc.[TecDoc-ID] = '09.C351.11' AND apc.[TecDoc Brand] = 'BREMBO') * 2 -- Raddoppio il costo perché sono 2 dischi per scatola
	--WHERE TecDocID = '09.C351.11' AND TecDocBrand = 'BREMBO' -- Pelloni

	--============================================================================================--

	-------- Prezzo Calcolato per Fonitori Standard Aggiungo il Margine e la Provvigione Piattaforma -----

	--- Controllo se il Margine è almeno di 2€ altrimenti Aggiunfo 2€ come minimo Margine ---
	UPDATE RicambiCsv
		SET PrezzoElaborato = (CASE WHEN ((PrezzoAcq * rl.Margine)- PrezzoAcq) > @MargineMin THEN Round(PrezzoAcq * rl.Margine , 2) * ProvvPiatt ELSE (PrezzoAcq + @MargineMin) * ProvvPiatt END),
		GER = (CASE WHEN ((PrezzoAcq * rl.Margine)- PrezzoAcq) > @MargineMin THEN Round(PrezzoAcq * rl.Margine , 2) * ProvvPiatt ELSE (PrezzoAcq + @MargineMin) * ProvvPiatt END),
		Margine = rl.Margine
	FROM RicambiCSV r INNER JOIN Ant_FornPiattaformaRicambi fr ON IdFornRic = IdForPiatt INNER JOIN RegoleListiniRicambi rl ON TipoListinoGenPrezzi = NomeListino
	WHERE PrezzoAcq BETWEEN CifraIn AND CifraOut AND TipoListinoGenPrezzi = 'RicaricoPercentuale'

	-------- Fonitori Standard (no SAFFIOTI) Aggiungo il Trasporto su PrezzoElaborato ---------

	UPDATE RicambiCsv -- ITALIA
		SET PrezzoElaborato = Round(PrezzoElaborato + rl.Margine,2), -- Costo Trasporto su Prezzo (Il Campo "Margine" è il Costo del Trasporto)
			TrasportoIta = rl.Margine
	FROM RicambiCSV r INNER JOIN Ant_FornPiattaformaRicambi fr ON IdFornRic = IdForPiatt INNER JOIN RegoleListiniRicambi rl ON Ltrim(Rtrim(TipoListinoGenPrezziTrasp)) + '_ITA' = NomeListino -- PRendo il Nome del listino dal Campo nella Tbl Ant_FornPiattaformaRicambi e ci aggiungo la Nazione (_ITA) per l'Italia
	WHERE PrezzoAcq BETWEEN CifraIn AND CifraOut AND TipoListinoGenPrezziTrasp = 'CostoTraspSuPrezzo'

	UPDATE RicambiCsv -- GERMANIA
		SET GER = Round(GER + rl.Margine,2), -- Costo Trasporto su Prezzo (Il Campo "Margine" è il Costo del Trasporto)
			TrasportoGer = rl.Margine
	FROM RicambiCSV r INNER JOIN Ant_FornPiattaformaRicambi fr ON IdFornRic = IdForPiatt INNER JOIN RegoleListiniRicambi rl ON Ltrim(Rtrim(TipoListinoGenPrezziTrasp)) + '_GER' = NomeListino -- PRendo il Nome del listino dal Campo nella Tbl Ant_FornPiattaformaRicambi e ci aggiungo la Nazione (_GER) per la Germania
	WHERE PrezzoAcq BETWEEN CifraIn AND CifraOut AND TipoListinoGenPrezziTrasp = 'CostoTraspSuPrezzo'

	-------- Fonitori NonStandard (SAFFIOTI) Aggiungo il Trasporto su PrezzoElaborato ---------

	UPDATE RicambiCsv -- ITALIA
		SET PrezzoElaborato = Round(PrezzoElaborato + rl.Margine,2), -- Costo Trasporto su Prezzo (Il Campo "Margine" è il Costo del Trasporto)
			TrasportoIta = rl.Margine
	FROM RicambiCSV r INNER JOIN Ant_FornPiattaformaRicambi fr ON IdFornRic = IdForPiatt INNER JOIN RegoleListiniRicambi rl ON Ltrim(Rtrim(TipoListinoGenPrezziTrasp)) + '_ITA' = NomeListino -- PRendo il Nome del listino dal Campo nella Tbl Ant_FornPiattaformaRicambi e ci aggiungo la Nazione (_ITA) per l'Italia
	WHERE PesoPerTrasp BETWEEN CifraIn AND CifraOut AND TipoListinoGenPrezziTrasp = 'Saffioti_CostoTraspSuPeso'

	------- Saffioti Costo Trasporto per GERMANIA Su Prezzo ------
	UPDATE RicambiCsv -- GERMANIA
		SET GER = Round(GER + rl.Margine,2), -- Costo Trasporto Saffioti su Prezzo (Il Campo "Margine" è il Costo del Trasporto)
			TrasportoGer = rl.Margine
	FROM RicambiCSV r INNER JOIN Ant_FornPiattaformaRicambi fr ON IdFornRic = IdForPiatt INNER JOIN RegoleListiniRicambi rl ON Ltrim(Rtrim(TipoListinoGenPrezziTrasp)) + '_GER' = NomeListino -- PRendo il Nome del listino dal Campo nella Tbl Ant_FornPiattaformaRicambi e ci aggiungo la Nazione (_GER) per la Germania
	WHERE PrezzoAcq BETWEEN CifraIn AND CifraOut AND TipoListinoGenPrezziTrasp = 'Saffioti_CostoTraspSuPeso'

	-------- Metto il Prezzo Elaborato in "PriceItalia" --------

	UPDATE RicambiCSV
		SET PriceItalia = PrezzoElaborato
	
	--========== Blocco la Pubblicazione dei Fornitori che sono in FERIE con il Campo "AttivaFerie = 1" ==========--

	DELETE RicambiCSV
		FROM RicambiCSV INNER JOIN Ant_FornPiattaformaRicambi ON IdForPiatt = IdFornRic
	WHERE AttivaFerie = 1

	----------------------- Cancello dove non c'è il Prezzo di Acquisto per evitare errori ------------------

	DELETE RicambiCSV WHERE PrezzoAcq <= 0

	DELETE RicambiCSV WHERE PriceItalia <= 5.00

	----- Aggiorno il campo "TecDocBrandId" -----

	UPDATE RicambiCSV
		SET TecDocBrandId = TechDocID
	FROM RicambiCSV LEFT JOIN TechDocId ON TecDocBrand LIKE '%' + LTRIM(RTRIM(Brand)) + '%' and Escludi = 0
	WHERE TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = TechDocID
	FROM RicambiCSV INNER JOIN TechDocId ON TecDocBrand = LTRIM(RTRIM(Brand)) and Escludi = 1
	WHERE TecDocBrandId IS NULL

	UPDATE RicambiCSV -- Uso la TBL nuova con il Brand pero uguale non LIKE
		SET TecDocBrandId = TechDocID
	FROM RicambiCSV INNER JOIN TechDocId_New ON TecDocBrand = LTRIM(RTRIM(Brand))
	WHERE TecDocBrandId IS NULL

	--============ Forzo i TechDocBrandId ============--
	UPDATE RicambiCSV
		SET TecDocBrandId = 62
	FROM RicambiCSV
	WHERE TecDocBrand LIKE '%FERODO-CHAMPION%' AND TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = 244
	FROM RicambiCSV
	WHERE TecDocBrand LIKE 'MEAT' AND TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = 324
	FROM RicambiCSV
	WHERE TecDocBrand LIKE 'WIX' AND TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = 62
	FROM RicambiCSV
	WHERE TecDocBrand LIKE '%FEDERAL MOGUL%' AND TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = 6390
	FROM RicambiCSV
	WHERE TecDocBrand LIKE '%TOP LIGHT%' AND TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = 215
	FROM RicambiCSV
	WHERE TecDocBrand LIKE '%CALORSTAT VERNET%' AND TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = 324
	FROM RicambiCSV
	WHERE TecDocBrand LIKE '%WIX FILTER%' AND TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = 4869
	FROM RicambiCSV
	WHERE TecDocBrand LIKE '%REDLINE%' AND TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = 245
	FROM RicambiCSV
	WHERE TecDocBrand LIKE '%SALERI%' AND TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = 422 -- AHE -- 365 $SEASONS
	FROM RicambiCSV
	WHERE TecDocBrand LIKE '%4 SEASON%' AND TecDocBrandId IS NULL

	UPDATE RicambiCSV
		SET TecDocBrandId = 4280 -- AVS Autoparts
	FROM RicambiCSV
	WHERE TecDocBrand LIKE 'AVS' AND TecDocBrandId IS NULL -- 4280

	-------========== CANCELLO i Ricambi che non hanno "TecDocBrandId" tanto non vengono pubblicati ===========-------

	--DELETE RicambiCSV WHERE TecDocBrandId IS NULL

	-------========== CANCELLO i Ricambi che non hanno "TecDocBrandId" tanto non vengono pubblicati ===========-------
	DELETE RicambiCSV
	WHERE TecDocID IN ('00117','00116') AND TecDocBrandId = 4664

	-------========== Pulisco la Descrizione da campi strani  "CR - LF" ===========-------
	UPDATE RicambiCSV
		SET Description = dbo.Rimuove_CR_LF(Description)

	---- Cancello i Duplicati in ordine di Prezzo -----

	DELETE T1 FROM (SELECT ROW_NUMBER() OVER(PARTITION BY TecDocID ORDER BY PrezzoAcq) AS [NumeroCodici],* FROM RicambiCSV) as T1 
	where T1.NumeroCodici>1 -- Cancella i duplicati in ordine di data di modifica (Tiene solo il Primo Duplicato gli Altri Vengono Cancellati, quindi Ordinare in Modo che il Primo sia quello da TENERE)

	--=====================================================================--
	----========== Cancello alcuni Articoli per vari Problemi ==========-----
	--=====================================================================--

--	DELETE RicambiCSV WHERE TecDocID IN ('T403305','6030137.2','D0040','0281006146','MM-AS042','0281002549','0280218427') -- 2G 

	---- Crea la Tbl per Esportare i Dati Ricambi sui Portali (così cancello il Prezzo di Acquisto) ----

	TRUNCATE TABLE RicambiExport

	INSERT INTO [RicambiExport]
		([TecDocID],[TecDocBrand],[Description],[Quantiy],[PriceItalia],[PrezzoElaborato],[PrezzoAcq],[GER],TecDocBrandId)
	SELECT
		LEFT(LTRIM(RTRIM(TecDocID)),50),LEFT(LTRIM(RTRIM(TecDocBrand)),50),LEFT(LTRIM(RTRIM(Description)),100),[Quantiy],(CASE WHEN PriceItalia = 0 THEN Round(([PriceItalia]),1) ELSE Round(([PriceItalia] +1 ),1) END),Round(([PrezzoElaborato] +1),1),0,Round(([GER] + 1),1),TecDocBrandId
	FROM RicambiCSV


	--================================================================================================================
	--=============== Aggiorno il Numero di Articoli in Stock nella TBL "Ant_FornPiattaformaRicambi"  ================
	--================================================================================================================

	DECLARE @IdForn int,@ArtInStock int,@ArtTotali INT

	UPDATE Ant_FornPiattaformaRicambi
		SET ArtInStockCsv = 0,Art1Pos = 0,ArtTotali = 0,Perc1Pos = 0

	Declare CursStock cursor for select IdForPiatt from Ant_FornPiattaformaRicambi
	open CursStock
		fetch next from CursStock into @IdForn
		WHILE @@FETCH_STATUS = 0
		begin
			
			SET @ArtInStock = (SELECT COUNT(*) FROM RicambiCSV rc WHERE rc.IdFornRic = @IdForn)
			
			-- Articoli in Stock
			UPDATE Ant_FornPiattaformaRicambi
				SET ArtInStockCsv = @ArtInStock
			WHERE IdForPiatt = @IdForn

			fetch next from CursStock into @IdForn
		end

	close CursStock
	deallocate CursStock

	--============================================ Controllo gli Articoli nello Stock dei Fornitori ==========================================================================================

	EXEC ControlloStockImportatiFornitoriRicambi -- Se il numero degli articoli nello stock del fornitore e inferiore al Minimo che ho inserito manda email

---------------------------------------------------------------------------------------------------------

	PRINT 'OK - AD9_CreaPrezziRicambi'

END

