USE [B2b]
GO
/****** Object:  StoredProcedure [dbo].[AggiornoArticoliOfferteWeb]    Script Date: 20/06/2025 10:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[AggiornoArticoliOfferteWeb]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	----- Inserisco gli Articoli che non sono ancora nella TBL "OfferteWeb" ma sono Presenti nella TBL "OfferteWeb_1Pass"
	INSERT INTO [PiattaformeWeb].[dbo].OfferteWeb
		([IdArtico],[IdFornitore],[Qta],[Prezzo],[Posizione],Settore,Produttore,DOT_Forn,CodArtForn)
	SELECT
		IdArtico,IdFornitore,Qta,Prezzo,NULL,Settore,Produttore,DOT_Forn,CodArtForn
	FROM [PiattaformeWeb].[dbo].OfferteWeb_1Pass OfwAgg
	WHERE Qta > 0
	AND NOT EXISTS (SELECT IdOffWeb FROM [PiattaformeWeb].[dbo].OfferteWeb WHERE OfwAgg.CodArtForn = OfferteWeb.CodArtForn AND OfwAgg.IdFornitore = OfferteWeb.IdFornitore)

	------ Cancello gli Articoli che non sono più Presenti nellla TBL "OfferteWeb_1Pass" ma ancora presenti nella Tabella "OfferteWeb"
	DELETE PiattaformeWeb.dbo.OfferteWeb
	WHERE NOT EXISTS (SELECT IdOffWeb FROM [PiattaformeWeb].[dbo].OfferteWeb_1Pass WHERE OfferteWeb.CodArtForn = CodArtForn AND OfferteWeb.IdFornitore = idFornitore)

	----- Aggiorno TUTTI i Campi della TBL "OfferteWeb" con quelli nuovi della TBL "OfferteWeb_1Pass"
	UPDATE [PiattaformeWeb].[dbo].[OfferteWeb]
		SET [IdArtico] = OfwAgg.IdArtico,[CodiceArticolo] = OfwAgg.CodiceArticolo,[CodArtPiatt] = OfwAgg.CodArtPiatt,[DescrB2b] = OfwAgg.DescrB2b,[Qta] = OfwAgg.Qta,[Prezzo] = OfwAgg.Prezzo,[PrezzoMan] = OfwAgg.PrezzoMan
		,[PrezzoManT24] = OfwAgg.PrezzoManT24,[PrezzoMan07ZR] = OfwAgg.PrezzoMan07ZR,[PrezzoManEstero] = OfwAgg.PrezzoManEstero,[Posizione] = OfwAgg.Posizione,[PosGlobale] = OfwAgg.PosGlobale,[Settore] = OfwAgg.Settore
		,P_Esteri_Spa = OfwAgg.P_Esteri_Spa,P_Esteri_Aus = OfwAgg.P_Esteri_Aus,M_Esteri = OfwAgg.M_Esteri,P_Esteri_Ger = OfwAgg.P_Esteri_Ger,Stagione = OfwAgg.Stagione
		,[SettList] = OfwAgg.SettList,[SettoreId] = OfwAgg.SettoreId,[Diametro] = OfwAgg.Diametro,[P_Base] = OfwAgg.P_Base,[P_BaseBo] = OfwAgg.P_BaseBo,P_Std = OfwAgg.P_Std,P_StdBo = OfwAgg.P_StdBo,[P_Top] = OfwAgg.P_Top
		,[P_TopBo] = OfwAgg.P_TopBo,P_Marca1 = OfwAgg.P_Marca1,P_Marca1Bo = OfwAgg.P_Marca1Bo,P_Marca2 = OfwAgg.P_Marca2,P_Marca2Bo = OfwAgg.P_Marca2Bo,P_Marca3 = OfwAgg.P_Marca3,P_Marca3Bo = OfwAgg.P_Marca3Bo,P_Marca4 = OfwAgg.P_Marca4,P_Marca4Bo = OfwAgg.P_Marca4Bo,
		[Note_Base] = OfwAgg.Note_Base,[Differenza] = OfwAgg.Differenza,[Produttore] = OfwAgg.Produttore,Note_Std = OfwAgg.Note_Std,Note_Top = OfwAgg.Note_Top,M_Std = OfwAgg.M_Std,M_Top = OfwAgg.M_Top
		,[P_GommeAuto] = OfwAgg.P_GommeAuto,[P_T24_24H] = OfwAgg.P_T24_24H,[P_T24_48H] = OfwAgg.P_T24_48H,[P_T24_72H] = OfwAgg.P_T24_72H,[P_07ZR_24H] = OfwAgg.P_07ZR_24H,[P_07ZR_48H] = OfwAgg.P_07ZR_48H,[P_07ZR_72H] = OfwAgg.P_07ZR_72H
		,[Note_07ZR] = OfwAgg.Note_07ZR,[Note_T24] = OfwAgg.Note_T24,[P_T24_GER] = OfwAgg.P_T24_GER,[P_T24_SPA] = OfwAgg.P_T24_SPA,[P_T24_AUS] = OfwAgg.P_T24_AUS,[P_07ZR_FRA] = OfwAgg.P_07ZR_FRA,[Descr_Piatt] = OfwAgg.Descr_Piatt
		,[Peso] = OfwAgg.Peso,[C_TraspBase] = OfwAgg.C_TraspBase,[C_TraspBaseBo] = OfwAgg.C_TraspBaseBo,[C_TraspT24] = OfwAgg.C_TraspT24,P_PiattConTrasp = OfwAgg.P_PiattConTrasp,P_PiattSenzaTrasp = OfwAgg.P_PiattSenzaTrasp
		,[C_Trasp07ZR] = OfwAgg.C_Trasp07ZR,[C_PesoGerFra] = OfwAgg.C_PesoGerFra,[C_PesoSpa] = OfwAgg.C_PesoSpa,[C_PesoAust] = OfwAgg.C_PesoAust,[M_Base] = OfwAgg.M_Base,[M_T24] = OfwAgg.M_T24
		,[M_07ZR] = OfwAgg.M_07ZR,[M-07ZR] = OfwAgg.[M-07ZR],[M+07ZR] = OfwAgg.[M+07ZR],[M-T24] = OfwAgg.[M-T24],[M+T24] = OfwAgg.[M+T24],[P_Prec_T24] = OfwAgg.P_Prec_T24,[P_1Pos_T24] = OfwAgg.P_1Pos_T24,[Diff_T24] = OfwAgg.Diff_T24
		,[P_Min_T24] = OfwAgg.P_Min_T24,[P_Max_T24] = OfwAgg.P_Max_T24,[P_Ricalc_T24] = OfwAgg.P_Ricalc_T24,[PosPrec_T24] = OfwAgg.PosPrec_T24,[P_Prec_07ZR] = OfwAgg.P_Prec_07ZR,[P_1Pos_07ZR] = OfwAgg.P_1Pos_07ZR,[Diff_07ZR] = OfwAgg.Diff_07ZR
		,[P_Min_07ZR] = OfwAgg.P_Min_07ZR,[P_Max_07ZR] = OfwAgg.P_Max_07ZR,[P_Ricalc_07ZR] = OfwAgg.P_Ricalc_07ZR,[PosPrec_07ZR] = OfwAgg.PosPrec_07ZR,[Provv_PiattT24] = OfwAgg.Provv_PiattT24,[Provv_Piatt07ZR] = OfwAgg.Provv_Piatt07ZR
		,[Note_07ZR_Rank] = OfwAgg.Note_07ZR_Rank,[Note_T24_Rank] = OfwAgg.Note_T24_Rank,[DOT_Forn] = OfwAgg.DOT_Forn,[OrderB2b] = OfwAgg.OrderB2b,[MarcaId] = OfwAgg.MarcaId,[TipoPubPiatt] = OfwAgg.TipoPubPiatt,CodMagForn = OfwAgg.CodMagForn,
		PosEsteri = OfwAgg.PosEsteri,PosT24 = OfwAgg.PosT24,Pos07ZR = OfwAgg.Pos07ZR,Misura = OfwAgg.Misura,P_T24_BEL = OfwAgg.P_T24_BEL,P_T24_LUS = OfwAgg.P_T24_LUS,P_T24_FRA = OfwAgg.P_T24_FRA,P_T24_OLA = OfwAgg.P_T24_OLA,P_T24_POL = OfwAgg.P_T24_POL,
		P_07ZR_GER = OfwAgg.P_07ZR_GER,P_07ZR_SPA = OfwAgg.P_07ZR_SPA,P_07ZR_AUS = OfwAgg.P_07ZR_AUS,P_07ZR_POR = OfwAgg.P_07ZR_POR,P_T24_Uk_Danim = OfwAgg.P_T24_Uk_Danim,P_07ZR_Uk_Danim = OfwAgg.P_07ZR_Uk_Danim
	FROM
	[PiattaformeWeb].[dbo].OfferteWeb_1Pass OfwAgg INNER JOIN [PiattaformeWeb].[dbo].OfferteWeb ON OfwAgg.CodArtForn = OfferteWeb.CodArtForn AND OfwAgg.IdFornitore = OfferteWeb.IdFornitore
	
	-------- Sistemo la Descrizione di ARTICOLI (b2b) e Cancello da "Articoli" quelli non più Presenti in OfferteWeb --------
	
	UPDATE Articoli -- Aggiorno le Descrizioni con Quelle Fatte nella TBL OfferteWeb (per i DOT)
		SET DescrizioneArticolo = Replace(DescrB2b,Ltrim(Rtrim(Produttore)),'')
	FROM PiattaformeWeb.dbo.OfferteWeb INNER JOIN Articoli ON Articoli.CodiceArticolo = CodArtPiatt AND Posizione = 1
	
	DELETE Articoli
	WHERE NOT EXISTS (SELECT * FROM PiattaformeWeb.dbo.OfferteWeb WHERE CodArtPiatt = Articoli.CodiceArticolo)


END
