USE [B2b]
GO
/****** Object:  StoredProcedure [dbo].[AggiornoUtentiB2b]    Script Date: 20/06/2025 10:29:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[AggiornoUtentiB2b]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	---------------------------------------- Elimino i Listino _BO perchè non devono più esistere ----------------------------------------
	--UPDATE I24BO.dbo.PERSONE
	--	SET INTERNET = Replace(INTERNET,'_BO','')
	--WHERE INTERNET IS NOT NULL AND INTERNET LIKE '%_BO%'

	UPDATE I24BO.dbo.PERSONE
		SET INTERNET = 'Piattaforme'
	WHERE INTERNET IS NOT NULL AND INTERNET <> 'Piattaforme' AND IDNAZIONI = 113

	UPDATE I24BO.dbo.PERSONE
		SET INTERNET = 'Piattaforme'
	WHERE INTERNET IS NULL AND MEMOWEB = 'OK' AND IDNAZIONI = 113

	UPDATE I24BO.dbo.PERSONE
		SET INTERNET = 'PiattaformeEs'
	WHERE INTERNET IS NOT NULL AND INTERNET <> 'PiattaformeEs' AND IDNAZIONI <> 113

	UPDATE I24BO.dbo.PERSONE
		SET INTERNET = 'PiattaformeEs'
	WHERE INTERNET IS NULL AND MEMOWEB = 'OK' AND IDNAZIONI <> 113 

	---------------------------------------- UTENTI ----------------------------------------

	---------------- Cancello gli Utenti che non sono più Attivi per il WEB ----------------
	DELETE Utenti
	FROM Utenti INNER JOIN Vw_Clienti ON CodiceUtente  = CODICE
	WHERE (MEMOWEB <> 'OK' OR MEMOWEB IS NULL)
	
	---------------- Inserisco gli Utenti che non sono Stati Attivati per il B2b per l'invio Email di Attivazione ----------------
	
	--INSERT INTO EmailClienti
	--	(CodCliente,RagSoc,Utente,Passw,EmailCli)
	--SELECT
	--	CODICE,Left(LTRIM(RTRIM(IsNull(DESCR1,''))) + ' ' + LTRIM(RTRIM(IsNull(DESCR2,''))),100),EMAIL,PASSWEB,EMAIL
	--FROM dbo.Vw_Clienti
	--WHERE (PASSWEB IS NOT NULL) AND (EMAIL IS NOT NULL) AND (MEMOWEB = 'OK') AND NOT EXISTS (SELECT IdClienti FROM Utenti WHERE CodiceUtente  = CODICE )

	---------------- Inserisco gli Utenti che non sono Stati Attivati per il WEB e mancano ----------------

	INSERT INTO [B2b].[dbo].[Utenti]
		([CodiceUtente],[CodiceLogin],[PasswordUtente],[LivelloAttivitaUtente],[CodiceTipoUtente],[CodiceAgente],[RagioneSociale],[CodiceFormaGiuridica],[Nazione]
		,[Indirizzo],[CodiceProvincia],[NomeComune],[CAP],[PartitaIVA],[CodiceFiscale],[Nome],[Cognome],[MailPrincipale],[MailOfferte],[PEC]
		,[TelefonoPrincipale],[TelefonoSecondario],[FAX],[CodiceTipoPagamento],FidoDisponibile)
	SELECT
		CODICE, EMAIL , PASSWEB , 2 , 'Cliente', IDAGENTE, Left(LTRIM(RTRIM(IsNull(DESCR1,''))) + ' ' + LTRIM(RTRIM(IsNull(DESCR2,''))),100), NULL, NazioneDescr, 
		INDIRI, PROV, COALESCE (LOCALITA, COMUNE), CAP, PARIVA, CODFIS , NULL , NULL, EMAIL, NULL, NULL ,
		TEL , NULL , NULL , CodPagamento,CAST(FidoDispo AS INT)
	FROM dbo.Vw_Clienti
	WHERE (EMAIL IS NOT NULL) AND (MEMOWEB = 'OK') AND INTERNET IS NOT NULL AND NOT EXISTS (SELECT IdClienti FROM Utenti WHERE CodiceUtente  = CODICE )

	---------------- Inserisco gli Utenti nella Tabella GRuppiUtenti_Utenit che mancano ----------------	
	--INSERT INTO GruppiUtenti_Utenti
	--	(CodiceGruppoUtenti,CodiceUtente)
	--SELECT
	--Ltrim(Rtrim(CliCsv.GruppoUtente)),Ltrim(Rtrim(CliCsv.CODICE))
	--FROM I24BO.dbo.Ant_ClientiCsv CliCsv
	--WHERE CliCsv.AutorizzatoWeb = 'OK'

	-------- Aggiorno i Dati nella Tabella UTENTI con Quelli di Impresa24 ----------
	UPDATE Utenti
		SET CodiceLogin = NULL,PasswordUtente = NULL,CodiceAgente = IDAGENTE,RagioneSociale = Left(LTRIM(RTRIM(IsNull(DESCR1,''))) + ' ' + LTRIM(RTRIM(IsNull(DESCR2,''))),100),Indirizzo = INDIRI,CodiceProvincia = PROV,
		NomeComune = COALESCE (LOCALITA, COMUNE),CAP = Vw_Clienti.CAP,PartitaIVA = PARIVA,CodiceFiscale = CODFIS,MailPrincipale = EMAIL,TelefonoPrincipale = TEL,FidoDisponibile = FidoDispo,CodiceTipoPagamento = IDANAPAG,CodListino = INTERNET,Id_Cliente = IdClienti
	FROM Vw_Clienti INNER JOIN Utenti ON CodiceUtente = CODICE
	
	-------- Aggiorno i Dati nella Tabella UTENTI per la Zona del Cliente ed i Giorni di Consegna ----------
	UPDATE Utenti
		SET GiorniConsegnaCliente = GiorniCons, IdZona = Prov_Zone_GiorniCons.IdZona
	FROM Utenti LEFT JOIN Prov_Zone_GiorniCons ON PROVINCIA = CodiceProvincia AND Prov_Zone_GiorniCons.CAP = Utenti.CAP
	
	UPDATE Utenti -- Forzo la Zona Iatalia STD per chi avesse la Zone vuota
		SET IdZona = 53
	WHERE IdZona IS NULL AND Nazione = 'Italia'
	
	UPDATE Utenti -- Zona per clienti Stranieri
		SET IdZona = Z.ID
	FROM Utenti u
	INNER JOIN I24BO.dbo.ZONE Z ON Z.DESCR = u.Nazione
	WHERE IdZona IS NULL AND Nazione <> 'Italia'

	UPDATE Utenti -- Forzo i giorni a 0 se dovesse essere vuoto
		SET GiorniConsegnaCliente = 0
	WHERE GiorniConsegnaCliente IS NULL
	
	--UPDATE Utenti -- Forzo la Zona 57 che ha prezzo di trasporto 0 per i clienti con il Listino "Piattaforme"
	--	SET IdZona = 57
	--WHERE CodListino = 'Piattaforme'

	-------- Aggiorno gli Utenti Collegati agli Agenti ----------

	DECLARE @CodiceUtente varchar(6),@CodiceAgente varchar(6)

	DECLARE CursAgente CURSOR FOR SELECT CodiceUtente,CodiceAgente FROM Utenti WHERE CodiceTipoUtente = 'Agente'
	OPEN CursAgente
	FETCH NEXT FROM CursAgente INTO @CodiceUtente,@CodiceAgente
	WHILE @@FETCH_STATUS = 0
	BEGIN
		UPDATE Utenti
			SET CodiceAgente = @CodiceUtente
		WHERE CodiceAgente = @CodiceAgente AND CodiceTipoUtente = 'Cliente'

		FETCH NEXT FROM CursAgente INTO @CodiceUtente,@CodiceAgente
	END
	CLOSE CursAgente
	DEALLOCATE CursAgente


END
