USE [B2b]
GO
/****** Object:  StoredProcedure [dbo].[AggiornoArticoliB2b]    Script Date: 20/06/2025 10:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[AggiornoArticoliB2b]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	------ Inserisco Gli Articoli Non Esistenti nella Loro Tabella (Gli Articoli da Aggiungere li Prendo dalla Tabella "PiattaformeWeb.dbo.OfferteWeb_1Pass" e comanda il campo "CodArtPiatt")

	INSERT INTO B2b.dbo.[Articoli]
		([CodiceTipoArticolo],[CodiceArticolo],[CodiceCAI],[MarcaArticolo],[DescrizioneArticolo],[Disegno],[PrezzoListino],
		[PFU],[Misura],[IndiceCarico],[IndiceVelocita],[Stagione],
		[RunFlat],[XLRinforzato],
		[Categoria],
		[Sottocategoria],
		[Consumo],[Aderenza],[Rumorosita],[Decibel],[Ordine],IdArtico)
	SELECT DISTINCT
		(CASE Vw_Descrittori_Web.SETTORE WHEN 'MOTO' THEN 2 WHEN 'SCOOTER' THEN 2 ELSE 1 END) ,Ltrim(Rtrim(CodArtPiatt)),ART_CAI,MARCA,Ltrim(Rtrim(DESC_ESTESAMARCATURA)) + ' ' + ISNULL(Ltrim(Rtrim(DOT_Forn)),''),Vw_Descrittori_Web.DISEGNO,Listino,
		PFU,LTRIM(RTRIM(IsNull(classificatore1,''))) + LTRIM(RTRIM(IsNull(classificatore2,''))) + LTRIM(RTRIM(IsNull(classificatore3,''))),Ltrim(Rtrim(IND_CARICO)),Ltrim(Rtrim(IND_VELOCITA)),(CASE ART_STAGIONE WHEN NULL THEN 'ESTIVO' WHEN '' THEN 'ESTIVO' ELSE ART_STAGIONE END),
		(CASE ART_RUNFLAT WHEN 'NO' THEN 0 ELSE 1 END),(CASE Ext_XL WHEN 'XL' THEN 1 ELSE 0 END),
		(CASE SETTORE_ID WHEN 4 THEN 'AUTO' WHEN '7' THEN '4x4 / SUV' WHEN 6 THEN 'Trasporto leggero' WHEN 8 THEN 'Autocarro' WHEN 76 THEN 'Competizione' WHEN 16 THEN 'Moto' WHEN 91 THEN 'Scooter' WHEN 19 THEN 'Scooter' WHEN 31 THEN 'Scooter' WHEN 14 THEN 'Scooter' END),
		NULL,
		(CASE Ltrim(Rtrim(Vw_Descrittori_Web.Rotolamento)) WHEN '' THEN NULL ELSE Ltrim(Rtrim(Vw_Descrittori_Web.Rotolamento)) END),Ltrim(Rtrim(Vw_Descrittori_Web.Aderenza)),Ltrim(Rtrim(Vw_Descrittori_Web.Rumorosita)),Ltrim(Rtrim(Vw_Descrittori_Web.Decibel)),NULL,ART_ID
	FROM Vw_Descrittori_Web INNER JOIN PiattaformeWeb.dbo.OfferteWeb_1Pass ON IdArtico = ART_ID
	WHERE NOT EXISTS (SELECT CodiceArticolo FROM Articoli WHERE CodiceArticolo = CodArtPiatt)
	AND SETTORE_ID IN (4,6,7,8,16,76,91,37)

	-- ===== Aggiorno le Descrizioni per Eventuali Cambi di DOT ===== --
	UPDATE Articoli
		SET PrezzoListino = Listino, Misura = LTRIM(RTRIM(IsNull(classificatore1,''))) + LTRIM(RTRIM(IsNull(classificatore2,''))) + LTRIM(RTRIM(IsNull(classificatore3,''))),
		CodiceTipoArticolo = (CASE Vw_Descrittori_Web.SETTORE WHEN 'MOTO' THEN 2 WHEN 'SCOOTER' THEN 2 ELSE 1 END),CodiceCAI = ART_CAI,MarcaArticolo = MARCA,Disegno = Vw_Descrittori_Web.DISEGNO,IndiceCarico = IND_CARICO,
		IndiceVelocita = IND_VELOCITA,Stagione = (CASE ART_STAGIONE WHEN NULL THEN 'ESTIVO' WHEN '' THEN 'ESTIVO' ELSE ART_STAGIONE END),RunFlat = (CASE ART_RUNFLAT WHEN 'NO' THEN 0 ELSE 1 END),XLRinforzato = (CASE Ext_XL WHEN 'XL' THEN 1 ELSE 0 END),
		Categoria = (CASE Vw_Descrittori_Web.SETTORE_ID WHEN 4 THEN 'AUTO' WHEN '7' THEN '4x4 / SUV' WHEN 6 THEN 'Trasporto leggero' WHEN 8 THEN 'Autocarro' WHEN 76 THEN 'Competizione' WHEN 16 THEN 'Moto' WHEN 91 THEN 'Scooter' WHEN 19 THEN 'Scooter' WHEN 31 THEN 'Scooter' WHEN 14 THEN 'Scooter' END),
		Consumo = (CASE Ltrim(Rtrim(Vw_Descrittori_Web.Rotolamento)) WHEN '' THEN NULL ELSE Ltrim(Rtrim(Vw_Descrittori_Web.Rotolamento)) END),
		Aderenza = Ltrim(Rtrim(Vw_Descrittori_Web.Aderenza)),Rumorosita = Ltrim(Rtrim(Vw_Descrittori_Web.Rumorosita)),Decibel = Ltrim(Rtrim(Vw_Descrittori_Web.Decibel)),
		PFU = Vw_Descrittori_Web.PFU,DescrizioneArticolo = DESC_ESTESAMARCATURA,Settore_Id = Vw_Descrittori_Web.SETTORE_ID,Ean_Art = Ext_EAN
	FROM Vw_Descrittori_Web INNER JOIN Articoli ON IdArtico = ART_ID
	WHERE IdArtico NOT IN (SELECT afp.IdArtGen FROM PiattaformeWeb.dbo.Ant_FornPiattaforma afp WHERE afp.IdArtGen IS NOT NULL)


	-- =====  Aggiorno le Descrizioni con quelli della TBL "PiattaformeWeb.dbo.ArtNonAllineatiPerOffWeb" Senza DOT ===== --
	UPDATE Articoli  --
		SET PrezzoListino = 0, Misura = LTRIM(RTRIM(IsNull(ana.Larghezza,''))) + LTRIM(RTRIM(IsNull(ana.Spalla,''))) + LTRIM(RTRIM(IsNull(ana.Diametro,''))),
		CodiceTipoArticolo = (CASE ana.SETTORE WHEN 'MOTO' THEN 2 WHEN 'SCOOTER' THEN 2 ELSE 1 END),CodiceCAI = ana.CAI,MarcaArticolo = ana.MARCA,Disegno = ana.DISEGNO,IndiceCarico = ana.Carico,
		IndiceVelocita = ana.Velocita,Stagione = (CASE ana.Stagione WHEN NULL THEN 'ESTIVO' WHEN '' THEN 'ESTIVO' ELSE ana.Stagione END),RunFlat = (CASE ana.Runflat WHEN 'NO' THEN 0 ELSE 1 END),XLRinforzato = (CASE ana.XL WHEN 'XL' THEN 1 ELSE 0 END),
		Categoria = (CASE ana.IdSettore WHEN 4 THEN 'AUTO' WHEN '7' THEN '4x4 / SUV' WHEN 6 THEN 'Trasporto leggero' WHEN 8 THEN 'Autocarro' WHEN 76 THEN 'Competizione' WHEN 16 THEN 'Moto' WHEN 91 THEN 'Scooter' WHEN 19 THEN 'Scooter' WHEN 31 THEN 'Scooter' WHEN 14 THEN 'Scooter' END),
		Consumo = (CASE Ltrim(Rtrim(ana.Consumo)) WHEN '' THEN NULL ELSE Ltrim(Rtrim(ana.Consumo)) END),
		Aderenza = Ltrim(Rtrim(ana.Wet)),Rumorosita = Ltrim(Rtrim(ana.RumoreOnde)),Decibel = Ltrim(Rtrim(ana.Decibel)),
		PFU = ROUND(i24bo.dbo.fnu_GetContributoSmaltimentoPerPeso_2021(ana.Peso), 1),DescrizioneArticolo = ana.DescrPiatt,Settore_Id = ana.IdSettore,Ean_Art = ana.EAN
	FROM PiattaformeWeb.dbo.ArtNonAllineatiPerOffWeb ana INNER JOIN Articoli ON CodiceArticolo = ana.CodArtPiatt

	UPDATE Articoli  -- =====  Aggiorno le Descrizioni con quelli della TBL "PiattaformeWeb.dbo.ArtNonAllineatiPerOffWeb" con DOT ===== --
		SET PrezzoListino = 0, Misura = LTRIM(RTRIM(IsNull(ana.Larghezza,''))) + LTRIM(RTRIM(IsNull(ana.Spalla,''))) + LTRIM(RTRIM(IsNull(ana.Diametro,''))),
		CodiceTipoArticolo = (CASE ana.SETTORE WHEN 'MOTO' THEN 2 WHEN 'SCOOTER' THEN 2 ELSE 1 END),CodiceCAI = ana.CAI,MarcaArticolo = ana.MARCA,Disegno = ana.DISEGNO,IndiceCarico = ana.Carico,
		IndiceVelocita = ana.Velocita,Stagione = (CASE ana.Stagione WHEN NULL THEN 'ESTIVO' WHEN '' THEN 'ESTIVO' ELSE ana.Stagione END),RunFlat = (CASE ana.Runflat WHEN 'NO' THEN 0 ELSE 1 END),XLRinforzato = (CASE ana.XL WHEN 'XL' THEN 1 ELSE 0 END),
		Categoria = (CASE ana.IdSettore WHEN 4 THEN 'AUTO' WHEN '7' THEN '4x4 / SUV' WHEN 6 THEN 'Trasporto leggero' WHEN 8 THEN 'Autocarro' WHEN 76 THEN 'Competizione' WHEN 16 THEN 'Moto' WHEN 91 THEN 'Scooter' WHEN 19 THEN 'Scooter' WHEN 31 THEN 'Scooter' WHEN 14 THEN 'Scooter' END),
		Consumo = (CASE Ltrim(Rtrim(ana.Consumo)) WHEN '' THEN NULL ELSE Ltrim(Rtrim(ana.Consumo)) END),
		Aderenza = Ltrim(Rtrim(ana.Wet)),Rumorosita = Ltrim(Rtrim(ana.RumoreOnde)),Decibel = Ltrim(Rtrim(ana.Decibel)),
		PFU = ROUND(i24bo.dbo.fnu_GetContributoSmaltimentoPerPeso_2021(ana.Peso), 1),DescrizioneArticolo = ana.DescrPiatt,Settore_Id = ana.IdSettore,Ean_Art = ana.EAN
	FROM PiattaformeWeb.dbo.ArtNonAllineatiPerOffWeb ana INNER JOIN B2b.dbo.Articoli ON LEFT(CodiceArticolo, LEN(LTRIM(RTRIM(CodiceArticolo))) -4) = ana.CodArtPiatt
	WHERE CodiceArticolo LIKE '%+D%'

	-- =====  Aggiorno il campo "EtichettaPneumatico" e Azzero il Campo "Ordine" che viene popolato dopo ===== --

	UPDATE Articoli
	SET Ordine = 0,EtichettaPneumatico = NULL

	UPDATE Articoli
		SET EtichettaPneumatico = 1 -- Aggiorno il Campo Etichetta Pneumatico se Esiste 
	WHERE Consumo IS NOT NULL
	
END
