USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[OWA1_CreaOffwerteWeb]    Script Date: 20/06/2025 10:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[OWA1_CreaOffwerteWeb]

AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @IdFornitore varchar(1),@DispMagVettPdv varchar(100),@DispMagAut varchar(100),@DispMagCerchi varchar(100),@SqlVett varchar(800),@SqlAut varchar(1000)
	DECLARE @Mag_B7 varchar(100),@SqlLogDelCorona varchar(800),@DispMagVettDistr varchar(100), @ViewUtilizzata VARCHAR(100), @SettoriPdv VARCHAR(50), @Stagione VARCHAR(80)

	-- Azzero Qta e Prezzi del Fornitore e lo Sospendo Se il Campo "AttivaFerie" = 1 e quindi il Fornitore è in Ferie --

	UPDATE Ant_ArticoVsPiattaforme
		SET Qta = 0,Netto = 0,Sospeso = 1
	FROM Ant_ArticoVsPiattaforme INNER JOIN Ant_FornPiattaforma ON IdFornitore = IdForPiatt
	WHERE AttivaFerie = 1
	--------------------------------------------------------------------------------------------------------------------

	UPDATE Ant_ArticoVsPiattaforme -- Controllo che non ci siano Prezzi dei Fornitori Sbagliati
		SET Qta = 0,Netto = 0
	from Ant_ArticoVsPiattaforme WHERE ISNUMERIC(Netto) = 0 OR ISNUMERIC(Qta) = 0

	UPDATE Ant_ArticoVsPiattaforme -- Controllo che non ci siano Prezzi dei Fornitori Sbagliati
		SET Qta = 0,Netto = 0
	from Ant_ArticoVsPiattaforme WHERE cast(Netto AS FLOAT) <= 0 and Qta > 0

	-- =================== Inserisco Articoli di "Ant_ArticoVsPiattaforme" =================== --

	INSERT INTO OfferteWeb_1Pass
		([IdArtico],[IdFornitore],[Qta],[Prezzo],[Posizione],Settore,Produttore,DOT_Forn,CodArtForn)
	SELECT
		IdArtico,IdFornitore,Qta,Netto,NULL,Settore,Produttore,DOT_Fornitore,CodArtForn
	FROM Ant_ArticoVsPiattaforme
	WHERE Qta > 0 AND IdArtico IS NOT NULL and cast(Netto as float) >= 5 and Sospeso IS NULL AND IdSettore IN (4,6,7,8,16,91,76,37) -- Vettura,TL,4x4,Autocarro,Moto,Scooter,Competizione,Epoca
	AND NOT EXISTS (SELECT IdOffWeb FROM OfferteWeb_1Pass WHERE CodArtForn = Ant_ArticoVsPiattaforme.CodArtForn AND IdFornitore = Ant_ArticoVsPiattaforme.IdFornitore)

	-- =================== Pulisco i Campi di "OfferteWeb_1Pass" =================== --
	UPDATE OfferteWeb_1Pass
	   SET [Qta] = 0,[Prezzo] = 0,[PrezzoMan] = NULL,[P_Base] = NULL,P_BaseBo = NULL,P_Std = NULL,P_StdBo = NULL,P_Top = NULL,P_TopBo = NULL,P_Marca1 = NULL,
	   P_Marca1Bo = NULL,P_Marca2 = NULL,P_Marca2Bo = NULL,P_Marca3 = NULL,P_Marca3Bo = NULL,P_Marca4 = NULL,P_Marca4Bo = NULL,[P_GommeAuto] = NULL,P_Esteri_Ger = NULL,P_Esteri_Spa = NULL,P_Esteri_Aus = NULL,M_Esteri = NULL,
	   [Posizione] = NULL,[PosGlobale] = NULL,[Note_Base] = NULL,[Differenza] = NULL,[Eccezzioni] = NULL,P_PiattConTrasp = NULL,P_PiattSenzaTrasp = NULL,
	   [P_T24_24H] = NULL,[P_T24_48H] = NULL,[P_T24_72H] = NULL,[P_07ZR_24H] = NULL,[P_07ZR_48H] = NULL,[P_07ZR_72H] = NULL,[Note_07ZR] = NULL,[Note_T24] = NULL,[P_T24_GER] = NULL,[P_T24_SPA] = NULL,
	   [P_T24_AUS] = NULL,[P_07ZR_FRA] = NULL,[Peso] = NULL,[C_TraspBase] = NULL,[C_TraspBaseBo] = NULL,[C_TraspT24] = NULL,[C_Trasp07ZR] = NULL,
	   [C_PesoGerFra] = NULL,[C_PesoSpa] = NULL,[C_PesoAust] = NULL,[M_Base] = NULL,[M_T24] = NULL,[M_07ZR] = NULL,[M-07ZR] = NULL,[M+07ZR] = NULL,[M-T24] = NULL,[M+T24] = NULL,[P_Prec_T24] = NULL,[P_1Pos_T24] = NULL,
	   [Diff_T24] = NULL,[P_Min_T24] = NULL,[P_Max_T24] = NULL,[P_Ricalc_T24] = NULL,[PosPrec_T24] = NULL,[P_Prec_07ZR] = NULL,[P_1Pos_07ZR] = NULL,[Diff_07ZR] = NULL,
	   [P_Min_07ZR] = NULL,[P_Max_07ZR] = NULL,[P_Ricalc_07ZR] = NULL,[PosPrec_07ZR] = NULL,[Provv_PiattT24] = NULL,[Provv_Piatt07ZR] = NULL,[Note_07ZR_Rank] = NULL,Stagione = NULL,
	   [Note_T24_Rank] = NULL,[DOT_Forn] = NULL,[OrderB2b] = NULL,[TipoPubPiatt] = NULL,PrezzoManT24 = NULL,PrezzoMan07ZR = NULL,PrezzoManEstero = NULL, CodMagForn = NULL,Note_Std = NULL,Note_Top = NULL,M_Std = NULL,M_Top = NULL,
	   PosEsteri = NULL,PosT24 = NULL,Pos07ZR = NULL,Misura = NULL,P_T24_BEL = NULL,P_T24_LUS = NULL,P_T24_FRA = NULL,P_T24_OLA = NULL,P_T24_POL = NULL,P_07ZR_GER = NULL,P_07ZR_SPA = NULL,P_07ZR_AUS = NULL,P_07ZR_POR = NULL,
	   P_T24_Uk_Danim = NULL,P_07ZR_Uk_Danim = NULL

	-- =================== Inserisco Articoli di "ArtNonAllineatiPerOffWeb" =================== --

	INSERT INTO OfferteWeb_1Pass
		([IdArtico],[IdFornitore],[Qta],[Prezzo],[Posizione],Settore,Produttore,DOT_Forn,CodArtForn,DescrB2b,Descr_Piatt,Diametro)
	SELECT
		IdArtico,IdFornitore,Qta,Prezzo,NULL,Settore,Marca,Dot,ana.CodArtPiatt,ana.DescrPiatt,ana.DescrPiatt,ana.Diametro
	FROM ArtNonAllineatiPerOffWeb ana
	WHERE Qta > 0 AND IdArtico IS NOT NULL and cast(Prezzo as float) >= 5 AND IdSettore IN (4,6,7,8,16,91,76,37) -- Vettura,TL,4x4,Autocarro,Moto,Scooter,Competizione,Epoca
	AND NOT EXISTS (SELECT IdOffWeb FROM OfferteWeb_1Pass WHERE ana.CodArtPiatt = CodArtForn AND IdFornitore = ana.IdFornitore)

	-- =================== CANCELLO Articoli Specifici di un Fornitore per Varie Ragioni =================== --

	--DELETE OfferteWeb_1Pass
	--WHERE IdFornitore = 19 -- Bridgestone
	--AND SettoreId IN (4,6,7,8) -- Tutto tranne Moto e Scooter

	----------------------------- Inserisco gli Articoli BGDistribuzione Vettura/TL/4x4/Moto/Competizione -----------------------------------------------------------

	SET @IdFornitore = '4' -- BgDistribuzione
	--SET @CodiceOfferta = '12' -- RivenditoreIta

	-- ================= GESTIONE FERIE LOGISTICA Modificare per LOTTI B7 ================= --

	SELECT IdForPiatt FROM Ant_FornPiattaforma WHERE Codice = 'LDC' AND AttivaFerie = 1
	IF @@rowcount > 0 BEGIN
		--SET @DispMagVettDistr = 'Qta_B5'  --  ///// Magazzini da Pubblicare SENZA LOTTI B7 
		SET @DispMagVettDistr = 'Qta_B5+Qta_B7'  -- ///// Magazzini da Pubblicare con B7
	END
	ELSE BEGIN
		SET @DispMagVettDistr = 'Qta_B5+Qta_B6-Qta_LottiB7Bgd'  -- ///// Magazzini da Pubblicare SENZA LOTTI B7 
		--SET @DispMagVettDistr = 'Qta_B5+Qta_B6+Qta_B7'  -- ///// Magazzini da Pubblicare con TUTTE le DISPO dei PDV e B7
	END
	-------------------------------------------------------------------------------------------------------------------------------------------------------------------
	
	SET @DispMagAut = 'Qta_B1+Qta_B5' -- ///// Magazzini da Pubblicare --- 'Qta_B1+Qta_B5+Qta_B6' --- 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5+Qta_B6'
	--SET @DispMagCerchi = 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5'  -- ///// Magazzini da Pubblicare --- 'Qta_B5+Qta_B6' --- 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5+Qta_B6'
	--SET @DispMagCerchi = 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5'  -- ///// Magazzini da Pubblicare --- 'Qta_B5+Qta_B6' --- 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5+Qta_B6'
	SET @Mag_B7 = 'Qta_B7' -- Magazzino B7

	-- =============================================================================== --
	-- ===== View Utilizzata per Generare le nostre Disponibilità e Ultimo costo ===== --
	-- =============================================================================== --

	/*
		Quando si Cambia la View per Escludere o rimettere le disponibilità dei PDV
		Cambiare anche nelle Righe SOTTO e SOPRA i Magazzini da Sommare o Escludere

		E Modificare anche lo SCRIPT [OWA2_CancellaArticoliDaOffwerteWeb] se serve
		dove cancello le gomme dei PDV per Stagione e altro

	*/

	-- =================  Modificare per LOTTI B7 ================= --

	SET @ViewUtilizzata = 'VwArticoloWebBGD_B7Escluso' -- View con Regole per Escludere ultimo costo di B7 quando gli articoli sono presenti sia su B7 che B5
	--SET @ViewUtilizzata = 'VwArticoloWebBGD' -- View con Regole senza regole che escludano per ultimo costo nessun magazzino

	-- ===== Decommentare per le Dipsonibilità SENZA LOTTI B7 (Commentre queste righe SOTTO quando si sospende l'esclusione del B7) ===== --
	
	-- ===== Aggiorno le Qta dei Lotti da Escludere per i Magazzini PDV ===== --
	UPDATE I24Ant.dbo.Lotti_B7_DaEscluderePerBGD
		SET Qta_Pdv = ISNULL((SELECT SUM(rqlm.QTTN) FROM Inventari.dbo.RicercaQtaLottiMagazzini rqlm WHERE Lotti_B7_DaEscluderePerBGD.NumeroLotto = rqlm.NUMLOT and rqlm.IDMAG IN (13739,13740,13741,13742,14791,14792,14838)),0)

	-- ===== Aggiorno le Qta dei Lotti da Escludere per i Magazzini Distribuzione ===== --
	UPDATE I24Ant.dbo.Lotti_B7_DaEscluderePerBGD
		SET Qta_BGD = ISNULL((SELECT SUM(rqlm.QTTN) FROM Inventari.dbo.RicercaQtaLottiMagazzini rqlm WHERE Lotti_B7_DaEscluderePerBGD.NumeroLotto = rqlm.NUMLOT and rqlm.IDMAG IN (13743,13744)),0)
	
	-- ===== Aggiorno le Qta dei Lotti da Escludere togliendo gli IMPEGNI per i Magazzini PDV ===== --
	
	--UPDATE I24Ant.dbo.Lotti_B7_DaEscluderePerBGD
	--	SET Qta_Pdv = Qta_Pdv - ISNULL(si.QTTN,0)
	--FROM I24Ant.dbo.Lotti_B7_DaEscluderePerBGD INNER JOIN i24ant.dbo.VDispNettaPneus24SoloImpegnato si ON si.IDARTICO = IdArticolo AND si.IDMAG IN (13739,13740,13741,13742,14791,14792,14838,27,28,29,30,14789,14790,14837)

	-- =============================================================================== --

	SET @SqlVett = 'INSERT INTO OfferteWeb_1Pass
		([IdArtico],[IdFornitore],[Qta],[Prezzo],[Posizione],CodArtForn)
	SELECT
		IdDiArtico,' + @IdFornitore + ',' + @DispMagVettDistr + ',COSTO_ULTIMO,1,CODICE' +
		
	' FROM ' + LTRIM(RTRIM(@ViewUtilizzata)) + 
	' where ' + Ltrim(Rtrim(@DispMagVettDistr))  + ' >0 AND IDCLASSI IN (4,6,7,16,91,76,37)
	AND NOT EXISTS (SELECT IdOffWeb FROM OfferteWeb_1Pass WHERE CodArtForn = CODICE AND IdFornitore = ' + @IdFornitore + ')'  -- ///// Magazzini da Pubblicare --- 'Qta_B5+Qta_B6' --- 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5+Qta_B6'

	--PRINT @SqlVett
	EXECUTE(@SqlVett)

	SET @SqlVett = 'UPDATE [OfferteWeb_1Pass]
		SET Qta = ' + @DispMagVettDistr + ',Prezzo = COSTO_ULTIMO,Posizione = 1,Dot_Forn = Ext_Dot
	FROM ' + LTRIM(RTRIM(@ViewUtilizzata)) + 
	' where ' + Ltrim(Rtrim(@DispMagVettDistr))  + ' >0 AND IDCLASSI IN (4,6,7,16,91,76,37) AND CodArtForn = CODICE AND IdFornitore = ' + @IdFornitore   -- ///// Magazzini da Pubblicare --- 'Qta_B5+Qta_B6' --- 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5+Qta_B6'

	--PRINT @SqlVett
	EXECUTE(@SqlVett)
	----------------------------- Inserisco gli Articoli BGDistribuzione Autocarro -----------------------------------------------------------

	SET @SqlAut = 'INSERT INTO [OfferteWeb_1Pass]
		([IdArtico],[IdFornitore],[Qta],[Prezzo],[Posizione],CodArtForn)
	SELECT
		IdDiArtico,' + @IdFornitore + ',' + @DispMagAut + ',COSTO_ULTIMO,1,CODICE' +
		
	' FROM ' + LTRIM(RTRIM(@ViewUtilizzata)) + 
	' where ' + Ltrim(Rtrim(@DispMagAut))  + ' >0 AND IDCLASSI = 8
	AND NOT EXISTS (SELECT IdOffWeb FROM OfferteWeb_1Pass WHERE CodArtForn = CODICE AND IdFornitore = ' + @IdFornitore + ')'  -- ///// Magazzini da Pubblicare --- 'Qta_B5+Qta_B6' --- 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5+Qta_B6'

	-- PRINT @SqlAut
	EXECUTE(@SqlAut)

	SET @SqlAut = 'UPDATE [OfferteWeb_1Pass]
		SET Qta = ' + @DispMagAut + ',Prezzo = COSTO_ULTIMO,Posizione = 1,Dot_Forn = Ext_Dot
	FROM ' + LTRIM(RTRIM(@ViewUtilizzata)) + 
	' where ' + Ltrim(Rtrim(@DispMagAut))  + ' >0 AND IDCLASSI = 8 AND CodArtForn = CODICE AND IdFornitore = ' + @IdFornitore   -- ///// Magazzini da Pubblicare --- 'Qta_B5+Qta_B6' --- 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5+Qta_B6'

	-- PRINT @SqlAut
	EXECUTE(@SqlAut)

	-- ========================== Inserisco gli Articoli PDV Da Modificare per LOTTI B7 ========================== --

	SET @IdFornitore = 8 -- PDV
	
	SET @DispMagVettPdv = 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5CG+Qta_B6CSPT+Qta_BG7Funo-Qta_LottiB7Pdv'  -- ///// Magazzini da Pubblicare SENZA LOTTI B7
	--SET @DispMagVettPdv = 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5CG+Qta_B6CSPT+Qta_BG7Funo'  -- ///// Magazzini da Pubblicare TUTTI i PDV

	SET @SettoriPdv = 'IDCLASSI IN (4,6,7,16,91,76,37)' -- 'IDCLASSI IN (4,6,7,16,91,76,37)' 
	SET @Stagione = ' ART_STAGIONEShort IN (''E'',''Q'',''I'')' -- ART_STAGIONEShort IN (''E'',''Q'',''I'')

	---------------------------------------------- GESTIONE FERIE PDV -------------------------------------------------------------------------------------------------
	SELECT IdForPiatt FROM Ant_FornPiattaforma WHERE Codice = 'PDV' AND AttivaFerie = 0 
	
	IF @@rowcount > 0 BEGIN -- Vado avanti se non ho Trovato in FERIE i PDV
	
		SET @SqlVett = 'INSERT INTO [OfferteWeb_1Pass]
			([IdArtico],[IdFornitore],[Qta],[Prezzo],[Posizione],CodArtForn)
		SELECT
			IdDiArtico,' + @IdFornitore + ',' + @DispMagVettPdv + ',COSTO_ULTIMO,NULL,CODICE' +		
		' FROM ' + LTRIM(RTRIM(@ViewUtilizzata)) + 
		' WHERE ' + Ltrim(Rtrim(@DispMagVettPdv))  + ' > 0 AND ' + LTRIM(RTRIM(@SettoriPdv)) + ' AND ' + LTRIM(RTRIM(@Stagione)) +
		' AND NOT EXISTS (SELECT IdOffWeb FROM OfferteWeb_1Pass WHERE CodArtForn = CODICE AND IdFornitore = ' + @IdFornitore + ')'  -- ///// Magazzini da Pubblicare --- 'Qta_B5+Qta_B6' --- 'Qta_B1+Qta_B2+Qta_B3+Qta_B4+Qta_B5+Qta_B6'

		--PRINT @SqlVett
		EXECUTE(@SqlVett)

		SET @SqlVett = 'UPDATE [OfferteWeb_1Pass]
			SET Qta = ' + @DispMagVettPdv + ',Prezzo = COSTO_ULTIMO,Posizione = 1,Dot_Forn = Ext_Dot
		FROM ' + LTRIM(RTRIM(@ViewUtilizzata)) + 
		' WHERE ' + Ltrim(Rtrim(@DispMagVettPdv))  + ' > 0 AND ' + LTRIM(RTRIM(@SettoriPdv)) + ' AND ' + LTRIM(RTRIM(@Stagione)) +
		' AND CodArtForn = CODICE AND IdFornitore = ' + @IdFornitore

		--PRINT @SqlVett
		EXECUTE(@SqlVett)


	END

	---------- Aggiorno il Prezzo Di Acquisto degl'Articoli + DOT + Qta ---------------------

	UPDATE OfferteWeb_1Pass -- TBL "Ant_ArticoVsPiattaforme"
		SET Prezzo = Netto,Qta = Ant_ArticoVsPiattaforme.Qta,Dot_Forn = DOT_Fornitore
	FROM Ant_ArticoVsPiattaforme INNER JOIN OfferteWeb_1Pass ON OfferteWeb_1Pass.CodArtForn = Ant_ArticoVsPiattaforme.CodArtForn AND OfferteWeb_1Pass.IdFornitore = Ant_ArticoVsPiattaforme.IdFornitore

	UPDATE OfferteWeb_1Pass -- TBL "ArtNonAllineatiPerOffWeb"
		SET Prezzo = ana.Prezzo,Qta = ana.Qta,Dot_Forn = ana.Dot
	FROM ArtNonAllineatiPerOffWeb ana INNER JOIN OfferteWeb_1Pass ON OfferteWeb_1Pass.CodArtForn = ana.CodArtPiatt AND OfferteWeb_1Pass.IdFornitore = ana.IdFornitore

	-----================== Cambio Alcuni Prezzi di Acquisto per Articoli speciali (Fatto per gomme Autocarro che dovevamo vendere al prezzo di un'altro fornitore perché non potevamo venderne solo 1) ==================-----

	UPDATE OfferteWeb_1Pass 
		SET Prezzo = rcp.PrezzoAcq
	FROM RegoleArtCambioPrezzoAcq rcp  INNER JOIN OfferteWeb_1Pass ON OfferteWeb_1Pass.CodiceArticolo = rcp.CodiceArticolo AND OfferteWeb_1Pass.IdFornitore = rcp.IdFornitore

	---------- Scrivo il PESO nella TBL mi serve dopo per il Calcolo del Prezzo per l'Estero --------------------------

	UPDATE OfferteWeb_1Pass
		SET Peso = NETTO,CodiceArticolo = CODICE,SettoreId = IDCLASSI,MarcaId = IDMARCHE
	FROM I24BO.dbo.ARTICO INNER JOIN OfferteWeb_1Pass ON ID = OfferteWeb_1Pass.IdArtico

	UPDATE OfferteWeb_1Pass -- Peso Per Articoli non Allineati
		SET Peso = ana.Peso ,CodiceArticolo = ana.CodArtPiatt,SettoreId = ana.IdSettore,MarcaId = ana.IdMarca,Produttore = ana.Marca
	FROM ArtNonAllineatiPerOffWeb ana INNER JOIN OfferteWeb_1Pass ON ana.CodArtPiatt = OfferteWeb_1Pass.CodArtForn

	---------- Scrivo il DOT nella TBL mi serve dopo per Generarei Codici e le Descrizioni dei Portali --------------------------
	UPDATE I24BO.dbo.ARTICO
		SET ext_dot = NULL
	WHERE LTRIM(RTRIM(ext_dot)) = ''

	UPDATE OfferteWeb_1Pass -- Aggiungo la Scritta DOT perche noi abbiam solo l'anno
		SET DOT_Forn = 'DOT' + ext_dot
	FROM I24BO.dbo.ARTICO INNER JOIN OfferteWeb_1Pass ON ID = OfferteWeb_1Pass.IdArtico
	WHERE ext_dot IS NOT NULL AND IdFornitore IN (4,6,8)

	UPDATE OfferteWeb_1Pass -- Scrivo il DOT del Fornitore dalla nostra Tabella di Gestione DOT Manuali per i fornitori
		SET DOT_Forn = DOT
	FROM OfferteWeb_1Pass INNER JOIN RegoleArtAddDOT RAD
	ON OfferteWeb_1Pass.IdArtico = RAD.IdArtico AND OfferteWeb_1Pass.IdFornitore = RAD.IdFornitore

	UPDATE OfferteWeb_1Pass -- Aggiungo la Scritta DOT Dovunque ci sia il DOT e non ci sia anche scritto DOT
		SET DOT_Forn = 'DOT' + DOT_Forn
	WHERE DOT_Forn IS NOT NULL AND DOT_Forn NOT LIKE '%DOT%'

	UPDATE OfferteWeb_1Pass
		SET DOT_Forn = REPLACE(REPLACE(DOT_Forn,' ',''),' ','')

	-- ====== Gestisco il DOT dei Fornitori ====== --

	DELETE OfferteWeb_1Pass -- Cancello se gli ultimi 2 campi non sono un numero
	WHERE IsNumeric(Right(RTRIM(DOT_Forn),2)) = 0 AND DOT_Forn IS NOT NULL

	UPDATE OfferteWeb_1Pass -- Cancello il DOT se non è di almeno 3 anni
		SET DOT_Forn = NULL
	WHERE Right(RTRIM(DOT_Forn),2) > Right(year(getdate()),2)-3  -- Prendo L'anno corrente - 3 anni per eliminare i DOT da non passare alle piattaforme (es:2018 - 3 = > 2015)

	---------- Scrivo il Diametro nella TBL mi serve dopo per il Calcolo del Prezzo Autocarro --------------------------

	UPDATE OfferteWeb_1Pass
		SET Diametro = dbo.RimuoveCaratteriNonNumerici(dws.classificatore3),Produttore = MARCA,
		Settore = dws.SETTORE,Descr_Piatt = (CASE WHEN DOT_Forn IS NOT NULL THEN dws.DESCR_DIRECT + ' ' + ISNULL(DOT_Forn,'') ELSE dws.DESCR_DIRECT END),
		DescrB2b = REPLACE(REPLACE(Ltrim(Rtrim(dws.DESCR_DIRECT)) + ' ' + ISNULL(DOT_Forn,''),'  ',' '),'  ',' '),
		Stagione = ART_STAGIONE,Misura = dws.ext_misura
	FROM Ant_Descrittori_WebSmall dws WHERE OfferteWeb_1Pass.IdArtico = dws.ART_ID -- AND OfferteWeb_1Pass.Diametro IS NULL

	UPDATE OfferteWeb_1Pass -- Articoli non Allineati
		SET Diametro = ana.Diametro,Produttore = MARCA,
		Settore = ana.SETTORE,Descr_Piatt = ana.DescrPiatt,
		DescrB2b = ana.DescrPiatt, MarcaId = ana.IdMarca,
		Stagione = ana.Stagione,Misura = ana.Misura
	FROM ArtNonAllineatiPerOffWeb ana WHERE OfferteWeb_1Pass.CodArtForn = ana.CodArtPiatt

	---------- Scrivo Tipo di Pubblicazione Sui PORTALI del Fornitore --------------------------
	UPDATE OfferteWeb_1Pass
		SET TipoPubPiatt = PubPortali,CodMagForn = Codice
	FROM Ant_FornPiattaforma
	WHERE IdForPiatt = IdFornitore

	---------------------------- Creo il Codice Articolo per le Piattaforme -----------------------------------
	UPDATE OfferteWeb_1Pass
		SET CodArtPiatt = (CASE WHEN DOT_Forn IS NOT NULL THEN Ltrim(Rtrim(CodiceArticolo)) + '+D' + RIGHT(Rtrim(DOT_Forn), 2) ELSE Ltrim(Rtrim(CodiceArticolo)) END)


END
