USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[OWA2_CancellaArticoliDaOffwerteWeb]    Script Date: 20/06/2025 10:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[OWA2_CancellaArticoliDaOffwerteWeb]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- ================================================================================================================ --
	-- ======================= Cancello Articoli che non devono andare fuori per problemi vari  ======================= --
	-- ================================================================================================================ --

	DELETE OfferteWeb_1Pass
	WHERE CodiceArticolo = '1955016-TOY-4042300'

	---- Cancello le Goodyear che abbiamo noi in Casa --
	--DELETE OfferteWeb_1Pass
	--WHERE IdFornitore IN (4,6,8) AND MarcaId = 3

	-- ===== USATO PER Azzerare le QTA SOLO ALCUNE GOMME DEI PDV 05-04-23 ===== --
	/*

	DELETE
	FROM OfferteWeb_1Pass
	WHERE IdFornitore = 8
	AND SettoreId IN (4,6,7,76,37)
	AND Stagione IN ('ESTIVO','4 STAGIONI')

	*/

	-- ===== Cancello BRIDGESTONE Vettura Suv TL per problema die BUONI STAGIONALI 03-05-22 ===== --

	--DELETE OfferteWeb_1Pass
	--	WHERE IdFornitore IN (4,6,8) AND MarcaId = 11


	-- Script Aggiunto il 05/10/2017 Per Togliere dalla Pubblicazione Web Determinati articoli
	--===================================================================================================================================================
	-- Articoli eliminati fino a che non vengono cancellati
	DELETE OfferteWeb_1Pass
	FROM OfferteWeb_1Pass INNER JOIN RegoleArtEsclusioneWeb RAEW
	ON OfferteWeb_1Pass.IdArtico = RAEW.IdArtico AND OfferteWeb_1Pass.IdFornitore = RAEW.IdFornitore

	-- Articoli che vengono cancellati solo per la giornata in cui sono inseriti
	DELETE OfferteWeb_1Pass
	FROM OfferteWeb_1Pass INNER JOIN RegoleArtEsclusioneWebOneDay RAEW
	ON OfferteWeb_1Pass.IdArtico = RAEW.IdArtico AND OfferteWeb_1Pass.IdFornitore = RAEW.IdFornitore
	--===================================================================================================================================================
	-- Script Aggiunto il 20/10/2017 Per cancellare gli articoli che non hanno Prezzo ed evitare che salgano con delle cifre BASSE,
	-- ed elimino anche quelli che non sono più presenti negli Stock dei Fornitori in questo modo
	--===================================================================================================================================================
	DELETE OfferteWeb_1Pass
	WHERE Prezzo = 0

	-----================== Cancello Articoli con Giacenza inferiore a 2 Pezzi tranne nei nostri Magazzini e Tranne Moto/Scooteer/Autocarro/Epoca ==================-----

	--DELETE OfferteWeb_1Pass
	--WHERE Qta = 1 AND IdFornitore NOT IN (4,6,8) and SettoreId NOT IN (16,91,8,37)

	----------------------- Cancello le Marche che non devono Passare -----------------------
	DELETE OfferteWeb_1Pass WHERE MarcaId IN (8,16) -- (8) Varie - (16) Ricoperte 

	----------------------- Cancello il Settore "Autocarro" del 72H che non devono Passare -----------------------
	DELETE OfferteWeb_1Pass WHERE TipoPubPiatt = '72H' AND Settore = 'Autocarro'

END
