USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[OWB1_CreazionePrezziB2b]    Script Date: 20/06/2025 10:30:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[OWB1_CreazionePrezziB2b]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @SettVettura varchar(20) = '(4,6,7,37,76)',@SettAutocarro varchar(20) = '(8)',@SettMotoScoot varchar(20) = '(16,91)',@Sql varchar(1000) -- (4,6,7,8,16,91,76,37) -- Vettura,TL,4x4,Autocarro,Moto,Scooter,Competizione,Epoca

---============================================== Genero il PREZZOCALCOLATO ==============================================---

---============================================== Listino Base ==============================================---
SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspBase = CostoTrasp,C_TraspBaseBo = CostoTraspBo,M_Base = RegoleListiniB2b.Margine,SettList = ''Vettura''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2b ON Prezzo BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettVettura + ' AND RegoleListiniB2b.Settore = ''Vettura'' AND TipoPubPiatt = TipoListForn 
Where NomeListino = ''BASE'' '

EXECUTE (@Sql)

SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspBase = CostoTrasp,C_TraspBaseBo = CostoTraspBo,M_Base = RegoleListiniB2b.Margine,SettList = ''Autocarro''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2b ON Diametro BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettAutocarro + ' AND RegoleListiniB2b.Settore = ''Autocarro'' AND TipoPubPiatt = TipoListForn 
Where NomeListino = ''BASE'' '

EXECUTE (@Sql)

SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspBase = CostoTrasp,C_TraspBaseBo = CostoTraspBo,M_Base = RegoleListiniB2b.Margine,SettList = ''MotoScooter''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2b ON Prezzo BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettMotoScoot + ' AND RegoleListiniB2b.Settore = ''MotoScooter'' AND TipoPubPiatt = TipoListForn 
Where NomeListino = ''BASE'' '

EXECUTE (@Sql)

---============================================== Listino STD ==============================================---
SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspBase = CostoTrasp,C_TraspBaseBo = CostoTraspBo,M_Std = RegoleListiniB2b.Margine,SettList = ''Vettura''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2b ON Prezzo BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettVettura + ' AND RegoleListiniB2b.Settore = ''Vettura'' AND TipoPubPiatt = TipoListForn 
Where NomeListino = ''STD'' '

EXECUTE (@Sql)

SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspBase = CostoTrasp,C_TraspBaseBo = CostoTraspBo,M_Std = RegoleListiniB2b.Margine,SettList = ''Autocarro''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2b ON Diametro BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettAutocarro + ' AND RegoleListiniB2b.Settore = ''Autocarro'' AND TipoPubPiatt = TipoListForn 
Where NomeListino = ''STD'' '

EXECUTE (@Sql)

SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspBase = CostoTrasp,C_TraspBaseBo = CostoTraspBo,M_Std = RegoleListiniB2b.Margine,SettList = ''MotoScooter''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2b ON Prezzo BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettMotoScoot + ' AND RegoleListiniB2b.Settore = ''MotoScooter'' AND TipoPubPiatt = TipoListForn 
Where NomeListino = ''STD'' '

EXECUTE (@Sql)

---============================================== Listino TOP ==============================================---
SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspBase = CostoTrasp,C_TraspBaseBo = CostoTraspBo,M_Top = RegoleListiniB2b.Margine,SettList = ''Vettura''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2b ON Prezzo BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettVettura + ' AND RegoleListiniB2b.Settore = ''Vettura'' AND TipoPubPiatt = TipoListForn 
Where NomeListino = ''TOP'' '

EXECUTE (@Sql)

SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspBase = CostoTrasp,C_TraspBaseBo = CostoTraspBo,M_Top = RegoleListiniB2b.Margine,SettList = ''Autocarro''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2b ON Diametro BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettAutocarro + ' AND RegoleListiniB2b.Settore = ''Autocarro'' AND TipoPubPiatt = TipoListForn 
Where NomeListino = ''TOP'' '

EXECUTE (@Sql)

SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspBase = CostoTrasp,C_TraspBaseBo = CostoTraspBo,M_Top = RegoleListiniB2b.Margine,SettList = ''MotoScooter''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2b ON Prezzo BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettMotoScoot + ' AND RegoleListiniB2b.Settore = ''MotoScooter'' AND TipoPubPiatt = TipoListForn 
Where NomeListino = ''TOP'' '

EXECUTE (@Sql)
------------------------------------------------------------- Scrivo il Prezzo Base (Anche Nelle Celle dei Prezzi Marca1/2/3/3) -------------------------------------------------------

--UPDATE OfferteWeb_1Pass -- Prezzo Base
--	SET P_Base = Prezzo + M_Base + C_TraspBase,
--	P_BaseBo = Prezzo + M_Base + C_TraspBaseBo,
--	Note_Base = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_Base AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspBase AS varchar(11)) + ') CostoTraspBo(' + Cast(C_TraspBaseBo AS varchar(11))+ ')'

--UPDATE OfferteWeb_1Pass -- Metto i Prezzi Base anche Nelle Celle dei Prezzi Marca1/2/3/3 (Poi Vengono Modificati solo nelle celle delle Marche con le Regole della Tbl "RegoleListiniB2bBrand")
--	SET P_Marca1 = P_Base,P_Marca2 = P_Base,P_Marca3 = P_Base,P_Marca4 = P_Base,
--	P_Marca1Bo = P_BaseBo,P_Marca2Bo = P_BaseBo,P_Marca3Bo = P_BaseBo,P_Marca4Bo = P_BaseBo

------------------------------------------------------------- Scrivo il Prezzo STD -------------------------------------------------------

--UPDATE OfferteWeb_1Pass -- Prezzo Base
--	SET P_Std = Prezzo + M_Std + C_TraspBase,
--	P_StdBo = Prezzo + M_Std + C_TraspBaseBo,
--	Note_Std = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_Std AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspBase AS varchar(11)) + ') CostoTraspBo(' + Cast(C_TraspBaseBo AS varchar(11))+ ')'

------------------------------------------------------------- Scrivo il Prezzo TOP -------------------------------------------------------

--UPDATE OfferteWeb_1Pass -- Prezzo Base
--	SET P_Top = Prezzo + M_Top + C_TraspBase,
--	P_TopBo = Prezzo + M_Top + C_TraspBaseBo,
--	Note_Top = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_Top AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspBase AS varchar(11)) + ') CostoTraspBo(' + Cast(C_TraspBaseBo AS varchar(11))+ ')'
	
------------------------------------------------------------- Scrivo il Prezzo Marca_1 e Marca_1_Bo -------------------------------------------------------
	
--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET P_Marca1 = P_Base + MargMarca,P_Marca1Bo = P_BaseBo + MargMarca
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2bBrand ON Prezzo BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettVettura + ' AND RegoleListiniB2bBrand.Settore = ''Vettura'' AND TipoPubPiatt = TipoListForn 
--Where RegoleListiniB2bBrand.Marca = Produttore AND MargMarca > 0 '

--EXECUTE (@Sql)

--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET P_Marca1 = P_Base + MargMarca,P_Marca1Bo = P_BaseBo + MargMarca
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2bBrand ON Diametro BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettAutocarro + ' AND RegoleListiniB2bBrand.Settore = ''Autocarro'' AND TipoPubPiatt = TipoListForn 
--Where RegoleListiniB2bBrand.Marca = Produttore AND MargMarca > 0 '

--EXECUTE (@Sql)

--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET P_Marca1 = P_Base + MargMarca,P_Marca1Bo = P_BaseBo + MargMarca
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2bBrand ON Prezzo BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettMotoScoot + ' AND RegoleListiniB2bBrand.Settore = ''MotoScooter'' AND TipoPubPiatt = TipoListForn 
--Where RegoleListiniB2bBrand.Marca = Produttore AND MargMarca > 0 '

--EXECUTE (@Sql)
------------------------------------------------------------- Scrivo la Differenza --------------------------------------------------------


--UPDATE OfferteWeb_1Pass
--SET Differenza = P_Base - Prezzo

------------ Cancello gli Articoli di Settori che non mi interessano ---------------
--DELETE OfferteWeb_1Pass WHERE SettList IS NULL

------------ Cancello gli Articoli che sono andati a 0 perchè la Logistica li ha e sono pirelli ---------------
--DELETE OfferteWeb_1Pass WHERE Qta <= 0

END
