USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[OWB2_CreazionePrezziPiattaforme]    Script Date: 20/06/2025 10:30:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[OWB2_CreazionePrezziPiattaforme]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @SettVettura varchar(20) = '(4,6,7,37,76)',@SettAutocarro varchar(20) = '(8)',@SettMotoScoot varchar(20) = '(16,91)',@Sql varchar(1000),@MaxOrder int --(4,6,7,8,16,91,76,37) -- Vettura,TL,4x4,Autocarro,Moto,Scooter,Competizione,Epoca

---============================================== Genero i PREZZI CALCOLATI PIATTAFORME/BASE/GOMMEAUTO ==============================================---

------------------------------------------------------------ GOMMEAUTO Sospesa lo Genero direttamente nello script "OWE2_CreoListinoEsteroEdAltri" -----------------------------------------------------------------------------
--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET P_GommeAuto = Prezzo + Margine + CostoTrasportoIt
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt ON Prezzo BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettVettura + ' AND RegoleListiniPiatt.Settore = ''Vettura'' AND TipoPubPiatt = TipoListForn 
--Where NomeListino = ''GommeAuto'' '

--EXECUTE (@Sql)
------------------------------------------------- TYRE24 con MARGINE- per STAGIONE nel Settore VETTURA -----------------------------------------------------------------------

-- ESTIVO VETTURA --
SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspT24 = CostoTrasportoIt, M_T24 = Margine, [M-T24] = (CASE WHEN [Marg-Estivo] > 0 THEN [Marg-Estivo] ELSE [Marg-] END), [M+T24] = [Marg+], Provv_PiattT24 = ProvvPiatt,SettList = ''Vettura''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt
ON Prezzo BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettVettura + ' AND RegoleListiniPiatt.Settore = ''Vettura'' AND (CASE WHEN IdFornitore = 8 THEN ''24H'' ELSE TipoPubPiatt END) = TipoListForn 
Where NomeListino = ''Tyre24'' AND Stagione = ''ESTIVO'' '

--PRINT @Sql
EXECUTE (@Sql)

-- INVERNALE VETTURA --
SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspT24 = CostoTrasportoIt, M_T24 = Margine, [M-T24] = (CASE WHEN [Marg-Invernale] > 0 THEN [Marg-Invernale] ELSE [Marg-] END), [M+T24] = [Marg+], Provv_PiattT24 = ProvvPiatt,SettList = ''Vettura''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt
ON Prezzo BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettVettura + ' AND RegoleListiniPiatt.Settore = ''Vettura'' AND (CASE WHEN IdFornitore = 8 THEN ''24H'' ELSE TipoPubPiatt END) = TipoListForn 
Where NomeListino = ''Tyre24'' AND Stagione = ''INVERNALE'' '

EXECUTE (@Sql)

-- 4 STAGIONI VETTURA --
SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspT24 = CostoTrasportoIt, M_T24 = Margine, [M-T24] = (CASE WHEN [Marg-AS] > 0 THEN [Marg-AS] ELSE [Marg-] END), [M+T24] = [Marg+], Provv_PiattT24 = ProvvPiatt,SettList = ''Vettura''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt
ON Prezzo BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettVettura + ' AND RegoleListiniPiatt.Settore = ''Vettura'' AND (CASE WHEN IdFornitore = 8 THEN ''24H'' ELSE TipoPubPiatt END) = TipoListForn 
Where NomeListino = ''Tyre24'' AND Stagione = ''4 STAGIONI'' '

EXECUTE (@Sql)

-- AUTOCARRO --
SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspT24 = CostoTrasportoIt,M_T24 = Margine, [M-T24] = [Marg-],[M+T24] = [Marg+],Provv_PiattT24 = ProvvPiatt, SettList = ''Autocarro''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt ON Diametro BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettAutocarro + ' AND RegoleListiniPiatt.Settore = ''Autocarro'' AND (CASE WHEN IdFornitore = 8 THEN ''24H'' ELSE TipoPubPiatt END) = TipoListForn 
Where NomeListino = ''Tyre24'' '

EXECUTE (@Sql)

-- MOTO SCOOTER --
SET @Sql = 'UPDATE OfferteWeb_1Pass 
SET C_TraspT24 = CostoTrasportoIt,M_T24 = Margine, [M-T24] = [Marg-],[M+T24] = [Marg+],Provv_PiattT24 = ProvvPiatt, SettList = ''MotoScooter''
FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt
ON Prezzo BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettMotoScoot + ' AND RegoleListiniPiatt.Settore = ''MotoScooter'' AND (CASE WHEN IdFornitore = 8 THEN ''24H'' ELSE TipoPubPiatt END) = TipoListForn 
Where NomeListino = ''Tyre24'' '

EXECUTE (@Sql)

------------------------------------------------------------ 07ZR -----------------------------------------------------------------------------------

--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET C_Trasp07ZR = CostoTrasportoIt,M_07ZR = Margine, [M-07ZR] = [Marg-],[M+07ZR] = [Marg+],Provv_Piatt07ZR = ProvvPiatt
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt
--ON Prezzo BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettVettura + ' AND RegoleListiniPiatt.Settore = ''Vettura'' AND TipoPubPiatt = TipoListForn 
--Where NomeListino = ''07ZR'' '

--EXECUTE (@Sql)

--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET C_Trasp07ZR = CostoTrasportoIt,M_07ZR = Margine, [M-07ZR] = [Marg-],[M+07ZR] = [Marg+],Provv_Piatt07ZR = ProvvPiatt
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt ON Diametro BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettAutocarro + ' AND RegoleListiniPiatt.Settore = ''Autocarro'' AND TipoPubPiatt = TipoListForn 
--Where NomeListino = ''07ZR'' '

--EXECUTE (@Sql)

--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET C_Trasp07ZR = CostoTrasportoIt,M_07ZR = Margine, [M-07ZR] = [Marg-],[M+07ZR] = [Marg+],Provv_Piatt07ZR = ProvvPiatt
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt
--ON Prezzo BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettMotoScoot + ' AND RegoleListiniPiatt.Settore = ''MotoScooter'' AND TipoPubPiatt = TipoListForn 
--Where NomeListino = ''07ZR'' '

--EXECUTE (@Sql)

------------------------------------------------------------ Esterni-Esteri --------------------------------------------------------------------------------

---- Sospesa perché lo faccio alla fine Toglirndo una piccola cifra 0.5 all'importo del prezzo di T24 (31/05/2019)

--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET M_Esteri = Margine
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt
--ON Prezzo BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettVettura + ' AND RegoleListiniPiatt.Settore = ''Vettura'' AND TipoPubPiatt = TipoListForn 
--Where NomeListino = ''ESTERI'' '

--EXECUTE (@Sql)

--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET M_Esteri = Margine
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt ON Diametro BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettAutocarro + ' AND RegoleListiniPiatt.Settore = ''Autocarro'' AND TipoPubPiatt = TipoListForn 
--Where NomeListino = ''ESTERI'' '

--EXECUTE (@Sql)

--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET M_Esteri = Margine
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniPiatt
--ON Prezzo BETWEEN CifraIn AND CifraOut AND OfferteWeb_1Pass.SettoreId IN ' + @SettMotoScoot + ' AND RegoleListiniPiatt.Settore = ''MotoScooter'' AND TipoPubPiatt = TipoListForn 
--Where NomeListino = ''ESTERI'' '

--EXECUTE (@Sql)


END

