USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[OWB3_CreazionePrezziManuali]    Script Date: 20/06/2025 10:32:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[OWB3_CreazionePrezziManuali]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	-- ============ Aggiorna i Prezzi Dell'offerta con i Manuali Esistenti (Per ultima per Evitare il Controllo della Differenza e non essere eventualmente scartati ================================

	DECLARE @CodiceOfferta int,@CodiceFile Varchar(20),@TipoFornitore Varchar(5),@DescrFornitore Varchar(80), @dbname sysname, @TFileName varchar(200),@SQLQuery AS VARCHAR(2000),@Errore varchar(200),@rc int
	DECLARE @Size int,@DataFile DATETIME, @SizePrec int,@DataFilePrec DATETIME,@ListMod bit = 1,@StopElabDistr bit = 0,@StopElabPdv bit = 0,@StopElabDistrES bit = 0,@UnoModificato bit
	DECLARE @PfuMotoFrancia Float = 1,@PfuVettFrancia Float = 1.1
	
	--============= Azzero i Campi dello Stock Fornitore =============--
	--UPDATE Ant_FornPiattaforma
	--	SET Art1Pos = 0,ArtTotali = 0,Perc1Pos = 0,ArtInStockCsv = 0
	--WHERE IdForPiatt IN (4,6,8)

	-- ==================================================================================================================================================================--
	-- = Verifico Tutti i file se sono Nuovi oppure se sono sempre gli stessi di 1 ora fa e Fermo la Procedura Perchè Inutile (ne basta 1 nuovo per Rielaborarli tutti) =--
	-- ==================================================================================================================================================================--

	--------------- Listino Piattaforme ---------------
	SET @CodiceFile = 'ListinoPiattCsv' -- Tutti prendono le marginalità da questo
	
	SET @SizePrec = IsNull((SELECT DimensioneFile FROM FileCsvInfo WHERE Codice = @CodiceFile),0)
	SET @DataFilePrec = IsNull((SELECT DataFile FROM FileCsvInfo WHERE Codice = @CodiceFile),0)

	EXEC Ant_DettagliFile 'C:\Antonio\RegoleB2bPerSoldi\FileDiImportazioneCSV\RegolePrezziPiattaforme.csv',@Dimensione = @Size OUTPUT,@DataCreato = @DataFile OUTPUT

	IF @SizePrec <> @Size or @DataFile <> @DataFilePrec BEGIN
		EXEC SP_AggiornaRegoleListiniPiattaformeDaCsv
	END

	IF @SizePrec = @Size AND @DataFile = @DataFilePrec PRINT 'OK - Regole Listino Piattaforme File Not Change'

	UPDATE FileCsvInfo
		SET DimensioneFile = @Size,DataFile = @DataFile
	WHERE Codice = @CodiceFile
		
	--------------- ListinoManualiDistribuzione ---------------
	SET @CodiceFile = 'Distr' -- BGD
	
	SET @SizePrec = IsNull((SELECT DimensioneFile FROM FileCsvInfo WHERE Codice = @CodiceFile),0)
	SET @DataFilePrec = IsNull((SELECT DataFile FROM FileCsvInfo WHERE Codice = @CodiceFile),0)

	EXEC Ant_DettagliFile 'C:\Antonio\PrezziDistribuzione\FileDiImportazioneCSV\ListiniManualiDistribuzione.csv',@Dimensione = @Size OUTPUT,@DataCreato = @DataFile OUTPUT

	IF @SizePrec <> @Size or @DataFile <> @DataFilePrec SET @UnoModificato = 1
	IF @SizePrec = @Size AND @DataFile = @DataFilePrec PRINT 'OK - ListiniManualiDistribuzione File Not Change]'

	UPDATE FileCsvInfo
		SET DimensioneFile = @Size,DataFile = @DataFile
	WHERE Codice = @CodiceFile

	--------------- ListinoManualiDistribuzione_ES ---------------

	SET @CodiceFile = 'DistrEstero' -- BGD
	
	SET @SizePrec = IsNull((SELECT DimensioneFile FROM FileCsvInfo WHERE Codice = @CodiceFile),0)
	SET @DataFilePrec = IsNull((SELECT DataFile FROM FileCsvInfo WHERE Codice = @CodiceFile),0)

	EXEC Ant_DettagliFile 'C:\Antonio\PrezziDistribuzione\FileDiImportazioneCSV\ListiniManualiDistribuzione_ES.csv',@Dimensione = @Size OUTPUT,@DataCreato = @DataFile OUTPUT

	IF @SizePrec <> @Size or @DataFile <> @DataFilePrec SET @UnoModificato = 1
	IF @SizePrec = @Size AND @DataFile = @DataFilePrec PRINT 'OK - ListiniManualiDistribuzione_ES File Not Change]'

	UPDATE FileCsvInfo
		SET DimensioneFile = @Size,DataFile = @DataFile
	WHERE Codice = @CodiceFile

	--------------- ListinoManualiPdv ---------------

	--SET @CodiceFile = 'PDV' -- PDV
	
	--SET @SizePrec = IsNull((SELECT DimensioneFile FROM FileCsvInfo WHERE Codice = @CodiceFile),0)
	--SET @DataFilePrec = IsNull((SELECT DataFile FROM FileCsvInfo WHERE Codice = @CodiceFile),0)

	--EXEC Ant_DettagliFile 'C:\Antonio\PrezziPdv\FileDiImportazioneCSV\ListiniManualiPdv.csv',@Dimensione = @Size OUTPUT,@DataCreato = @DataFile OUTPUT		

	--IF @SizePrec <> @Size or @DataFile <> @DataFilePrec SET @UnoModificato = 1
	--IF @SizePrec = @Size AND @DataFile = @DataFilePrec PRINT 'OK - ListiniManualiPdv File Not Change]'

	--UPDATE FileCsvInfo
	--	SET DimensioneFile = @Size,DataFile = @DataFile
	--WHERE Codice = @CodiceFile

	--------------- ListinoManualiPdv AUTOCARRO ---------------

	SET @CodiceFile = 'PDV_AUT' -- PDV Autocarro
	
	SET @SizePrec = IsNull((SELECT DimensioneFile FROM FileCsvInfo WHERE Codice = @CodiceFile),0)
	SET @DataFilePrec = IsNull((SELECT DataFile FROM FileCsvInfo WHERE Codice = @CodiceFile),0)

	EXEC Ant_DettagliFile 'C:\Antonio\PrezziPdv_Autocarro\FileDiImportazioneCSV\ListiniManualiPdv_Aut.csv',@Dimensione = @Size OUTPUT,@DataCreato = @DataFile OUTPUT		

	IF @SizePrec <> @Size or @DataFile <> @DataFilePrec SET @UnoModificato = 1
	IF @SizePrec = @Size AND @DataFile = @DataFilePrec PRINT 'OK - ListiniManualiPdv Autocarro File Not Change]'

	UPDATE FileCsvInfo
		SET DimensioneFile = @Size,DataFile = @DataFile
	WHERE Codice = @CodiceFile

	-- =======================================================================================================================================================--
	-- ==================== Verifico DISTRIBUZIONE se è Nuovo oppure e sempre lo stesso di 1 ora fa e Fermo la Procedura Perchè Inutile =========================--
	-- =======================================================================================================================================================--
	IF @UnoModificato = 1 BEGIN
	
		TRUNCATE TABLE Ant_ListiniManualiDistribuzioneCsv

		--- Esecuzione della StoredProcedure che importa il File di Continental
		SET @SQLQuery = 'DTExec /FILE ^"C:\Antonio\PrezziDistribuzione\ImportaListiniManualiDistribuzioneCsv.dtsx^" '

		-- Controllo Importazione File Stock , su ERRORE invia EMAIL ---
		CREATE TABLE #output (Output varchar(1000) null)
		INSERT #output EXEC @rc = master..xp_cmdshell @SQLQuery
		SELECT * from #output WHERE output LIKE '%DTSER_SUCCESS%'
		IF @@ROWCOUNT = 0 BEGIN SET @Errore = 'Errore nel IMPORTAZIONE del File CSV ListiniManualiDistribuzione !' + char(10) + char(13) SET @StopElabDistr = 1 END
		DROP TABLE #output
				
	END
	
	---- Se non ci sono Errori Nell'Importazione Cambio i Prezzi Manuali ----
	IF @StopElabDistr = 0 AND @UnoModificato = 1 BEGIN 
	
		DELETE T1 FROM (SELECT ROW_NUMBER() OVER(PARTITION BY IdDiArtico ORDER BY IdDiArtico,PrezManData DESC) AS [NumeroCodici],* FROM Ant_ListiniManualiDistribuzioneCsv) as T1 
		where T1.NumeroCodici>1 -- Cancella i duplicati in ordine di data di modifica	

		TRUNCATE TABLE Ant_ListiniManualiDistribuzione

		INSERT INTO Ant_ListiniManualiDistribuzione
			(IdDiArtico, PrezzoManuale,PrezManData,PM_Base,PM_Base_Data, PM_T24,PM_T24_Data,PM_07ZR,PM_07ZR_Data ,Marca_Id,Settore_Id,PM_Std,Pm_Std_Data,Pm_Top,Pm_Top_Data,ART_CAI,ART_CODICE)
		SELECT DISTINCT
			iddiartico,PrezzoManuale,PrezManData,PM_Base,PM_Base_Data,PM_T24,PM_T24_Data,PM_07ZR,PM_07ZR_Data ,Marca_id,Settore_id,PM_Std,Pm_Std_Data,Pm_Top,Pm_Top_Data,ART_CAI,ART_CODICE
		FROM Ant_ListiniManualiDistribuzioneCsv

	
	END	

	-- =======================================================================================================================================================--
	-- ==================== Verifico DISTRESTERO se è Nuovo oppure e sempre lo stesso di 1 ora fa e Fermo la Procedura Perchè Inutile =========================--
	-- =======================================================================================================================================================--
	IF @UnoModificato = 1 BEGIN
	
		TRUNCATE TABLE Ant_ListiniManualiDistribuzioneEsCsv

		--- Esecuzione della StoredProcedure che importa il File di Continental
		SET @SQLQuery = 'DTExec /FILE ^"C:\Antonio\PrezziDistribuzione\ImportaListiniManualiDistribuzioneEsCsv.dtsx^" '

		-- Controllo Importazione File Stock , su ERRORE invia EMAIL ---
		CREATE TABLE #outputEs (Output varchar(1000) null)
		INSERT #outputEs EXEC @rc = master..xp_cmdshell @SQLQuery
		SELECT * from #outputEs WHERE output LIKE '%DTSER_SUCCESS%'
		IF @@ROWCOUNT = 0 BEGIN SET @Errore = 'Errore nel IMPORTAZIONE del File CSV ListiniManualiDistribuzione Estero !' + char(10) + char(13) SET @StopElabDistrES = 1 END
		DROP TABLE #outputEs
				
	END
	
	---- Se non ci sono Errori Nell'Importazione Cambio i Prezzi Manuali ----
	IF @StopElabDistrES = 0 AND @UnoModificato = 1 BEGIN 
		
		DELETE T1 FROM (SELECT ROW_NUMBER() OVER(PARTITION BY IdDiArtico ORDER BY PM_Ger DESC) AS [NumeroCodici],* FROM Ant_ListiniManualiDistribuzioneEsCsv) as T1 
		where T1.NumeroCodici>1 -- Cancella i duplicati in ordine di data di modifica

		UPDATE Ant_ListiniManualiDistribuzione
			SET PM_Ger = LMDECsv.PM_Ger,PM_Ger_Data = LMDECsv.PM_Ger_Data
		FROM Ant_ListiniManualiDistribuzioneEsCsv LMDECsv 
		WHERE Cast(LMDECsv.PM_Ger AS FLOAT) > 0 AND LMDECsv.IdDiArtico = Ant_ListiniManualiDistribuzione.IdDiArtico
		
		UPDATE Ant_ListiniManualiDistribuzione
			SET PM_Spa = LMDECsv.PM_Spa,PM_Spa_Data = LMDECsv.PM_Spa_Data
		FROM Ant_ListiniManualiDistribuzioneEsCsv LMDECsv
		WHERE Cast(LMDECsv.PM_Spa AS FLOAT) > 0 AND LMDECsv.IdDiArtico = Ant_ListiniManualiDistribuzione.IdDiArtico
		
		UPDATE Ant_ListiniManualiDistribuzione
			SET PM_Aus = LMDECsv.PM_Aus,PM_Aus_Data = LMDECsv.PM_Aus_Data
		FROM Ant_ListiniManualiDistribuzioneEsCsv LMDECsv
		WHERE Cast(LMDECsv.PM_Aus AS FLOAT) > 0 AND LMDECsv.IdDiArtico = Ant_ListiniManualiDistribuzione.IdDiArtico
		
	END	
	
	------ Parte Comune per i Listini della Distribuzione ------
	
	------ Aggiorno il Prezzo Manuale STD ------
	UPDATE OfferteWeb_1Pass
		SET P_Std = PM_Std,P_StdBo = PM_Std
	FROM Ant_ListiniManualiDistribuzione
	WHERE IdDiArtico = IdArtico AND IdFornitore IN (4,6,8) AND PM_Std > 0
	
	------ Aggiorno il Prezzo Manuale Base ------
	UPDATE OfferteWeb_1Pass
		SET PrezzoMan = PM_Base,P_Base = PM_Base,P_Marca1 = PM_Base,P_Marca2 = PM_Base,P_Marca3 = PM_Base,P_Marca4 = PM_Base,
		P_BaseBo = PM_Base,P_Marca1Bo = PM_Base,P_Marca2Bo = PM_Base,P_Marca3Bo = PM_Base,P_Marca4Bo = PM_Base
	FROM Ant_ListiniManualiDistribuzione
	WHERE IdDiArtico = IdArtico AND IdFornitore IN (4,6,8) AND PM_Base > 0

	------ Aggiorno il Prezzo Manuale TOP ------
	UPDATE OfferteWeb_1Pass
		SET P_Top = PM_Top,P_TopBo = PM_Top
	FROM Ant_ListiniManualiDistribuzione
	WHERE IdDiArtico = IdArtico AND IdFornitore IN (4,6,8) AND PM_Top > 0
	
	------ Aggiorno il Prezzo Manuale T24 24H e 48H (i PDV sono in 48H) + GOMMEAUTO (a cui Tolgo le spese di Trasporto) ------		
	UPDATE OfferteWeb_1Pass
		SET P_T24_24H = PM_T24, P_T24_48H = PM_T24, PrezzoManT24 = PM_T24, P_GommeAuto = (PM_T24 - C_TraspT24) -- Prezzo Manuale GommeAuto tolte le Spese di Trasporto Standard di T24 (Oggi 4,40€)
	FROM Ant_ListiniManualiDistribuzione
	WHERE IdDiArtico = IdArtico AND IdFornitore IN (4,6,8) AND PM_T24 > 0

	------ Aggiorno il Prezzo Manuale 07ZR 24H ------		
	UPDATE OfferteWeb_1Pass
		SET P_07ZR_24H = PM_07ZR,PrezzoMan07ZR = PM_07ZR
	FROM Ant_ListiniManualiDistribuzione
	WHERE IdDiArtico = IdArtico AND IdFornitore IN (4,6,8) AND PM_07ZR > 0

	------ Aggiorno il Prezzo Manuale Estero ------		
	UPDATE OfferteWeb_1Pass
		SET P_T24_GER = PM_Ger,P_T24_BEL = PM_Ger,P_T24_LUS = PM_Ger,P_T24_FRA = PM_Ger,P_T24_OLA = PM_Ger ,
		P_Esteri_Ger = PM_Ger ,PrezzoManEstero = PM_Ger
	FROM Ant_ListiniManualiDistribuzione
	WHERE IdDiArtico = IdArtico AND IdFornitore IN (4,6,8) AND PM_Ger > 0 AND SETTORE_Id <> 8
	
	UPDATE OfferteWeb_1Pass
		SET P_T24_SPA = PM_Spa,P_T24_POL = PM_Spa,P_Esteri_Spa = PM_Spa
	FROM Ant_ListiniManualiDistribuzione
	WHERE IdDiArtico = IdArtico AND IdFornitore IN (4,6,8) AND PM_Spa > 0 AND SETTORE_Id <> 8
	
	UPDATE OfferteWeb_1Pass
		SET P_T24_AUS = PM_Aus,P_Esteri_Aus = PM_Aus
	FROM Ant_ListiniManualiDistribuzione
	WHERE IdDiArtico = IdArtico AND IdFornitore IN (4,6,8) AND PM_Aus > 0 AND SETTORE_Id <> 8
	
	UPDATE OfferteWeb_1Pass
		SET P_07ZR_FRA = PM_Ger + Provv_Piatt07ZR + (CASE WHEN SettoreId IN (16,91) THEN @PfuMotoFrancia ELSE @PfuVettFrancia END) ,P_07ZR_GER = PM_Ger + Provv_Piatt07ZR,
		P_07ZR_AUS = PM_Ger + Provv_Piatt07ZR -- Aggiungo il PFU per la Francia perché dopo viene Tolto da 07ZR e Fatturato a noi a Fine Mese,P_Esteri_Ger = PM_Ger,PrezzoManEstero = PM_Ger
	FROM Ant_ListiniManualiDistribuzione
	WHERE IdDiArtico = IdArtico AND IdFornitore IN (4,6,8) AND PM_Ger > 0 AND SETTORE_Id <> 8	
	
	UPDATE OfferteWeb_1Pass
		SET P_07ZR_SPA = PM_Spa + Provv_Piatt07ZR,P_07ZR_POR = PM_Spa + Provv_Piatt07ZR 
	FROM Ant_ListiniManualiDistribuzione
	WHERE IdDiArtico = IdArtico AND IdFornitore IN (4,6,8) AND PM_Spa > 0 AND SETTORE_Id <> 8	

	-- =======================================================================================================================================================--
	-- ==================== Cancello i Prezzi Manuali di Stefano Quando gli Articoli non sono più Disponibili =========================--
	-- =======================================================================================================================================================--

	DELETE Ant_ListiniManualiDistribuzione
	FROM Ant_ListiniManualiDistribuzione INNER JOIN [VDispNettaPNEUS24B1+B2+B3+B4+B5+B6+B7] vdn ON IdDiArtico = ART_ID
	WHERE (Cast(PrezzoManuale AS FLOAT) > 0 OR Cast(PM_Std AS FLOAT) > 0 OR Cast(PM_Base AS FLOAT) > 0 OR Cast(PM_Top AS FLOAT) > 0 OR Cast(PM_T24 AS FLOAT) > 0 OR Cast(PM_07ZR AS FLOAT) > 0
	OR Cast(PM_Ger AS FLOAT) > 0 OR Cast(PM_Aus AS FLOAT) > 0 OR Cast(PM_Spa AS FLOAT) > 0 OR Cast(PM_B2bEsterni AS FLOAT) > 0) AND Qta <= 0

	DELETE Ant_ListiniManualiDistribuzioneEsCsv
	FROM Ant_ListiniManualiDistribuzioneEsCsv INNER JOIN [VDispNettaPNEUS24B1+B2+B3+B4+B5+B6+B7] vdn ON IdDiArtico = ART_ID
	WHERE (Cast(PM_Ger AS FLOAT) > 0 OR Cast(PM_Spa AS FLOAT) > 0 OR Cast(PM_Aus AS FLOAT) > 0) and Qta <= 0

	DELETE Ant_ListiniManualiDistribuzioneCsv
	FROM Ant_ListiniManualiDistribuzioneCsv INNER JOIN [VDispNettaPNEUS24B1+B2+B3+B4+B5+B6+B7] vdn ON IdDiArtico = ART_ID
	WHERE (Cast(PrezzoManuale AS FLOAT) > 0 OR Cast(PM_Std AS FLOAT) > 0 OR Cast(PM_Base AS FLOAT) > 0 OR Cast(PM_Top AS FLOAT) > 0 OR Cast(PM_T24 AS FLOAT) > 0 OR Cast(PM_07ZR AS FLOAT) > 0) AND Qta <= 0

	------ Aggiorno il File Fornitori Piattaforme con gli articoli totali che mi passano nel file ------
	UPDATE Ant_FornPiattaforma
		SET ArtInStockCsv = IsNull((SELECT Distinct COUNT(IdArtico) FROM OfferteWeb WHERE IdFornitore IN (4,6)),0)
	WHERE IdForPiatt = 4 -- BGD

-- INIZIO -- Listini Manuali Vecchio Sistema Foglio Excel disabilitato per Prezzi dentro ad ARTICO
/*	
	-- =======================================================================================================================================================--
	-- ==================== Verifico PDV se è Nuovo oppure e sempre lo stesso di 1 ora fa e Fermo la Procedura Perchè Inutile =========================--
	-- =======================================================================================================================================================--
	IF @UnoModificato = 1 BEGIN
	
		TRUNCATE TABLE Ant_ListiniManualiPdvCsv

		--- Esecuzione della StoredProcedure che importa il File di ListiniManualiPdvCsv
		SET @SQLQuery = 'DTExec /FILE ^"C:\Antonio\PrezziPdv\ImportaListiniManualiPdvCsv.dtsx^" '

		-- Controllo Importazione File Stock , su ERRORE invia EMAIL ---
		CREATE TABLE #output1 (Output varchar(1000) null)
		INSERT #output1 EXEC @rc = master..xp_cmdshell @SQLQuery
		SELECT * from #output1 WHERE output LIKE '%DTSER_SUCCESS%'
		IF @@ROWCOUNT = 0 BEGIN SET @Errore = IsNull (@Errore,'') + ' Errore nel IMPORTAZIONE del File CSV ListiniManualiPDV !' + char(10) + char(13) SET @StopElabPdv = 1 END
		DROP TABLE #output1

		DELETE T1 FROM (SELECT ROW_NUMBER() OVER(PARTITION BY IdDiArtico ORDER BY PManPacData DESC) AS [NumeroCodici],* FROM Ant_ListiniManualiPdvCsv) as T1 
		where T1.NumeroCodici>1 -- Cancella i duplicati in ordine di data di modifica


		TRUNCATE TABLE Ant_ListiniManualiPdvCsv_Aut

		--- Esecuzione della StoredProcedure che importa il File di ListiniManualiPdvCsv_Aut AUTOCARRO
		SET @SQLQuery = 'DTExec /FILE ^"C:\Antonio\PrezziPdv_Autocarro\ImportaListiniManualiPdvCsv_Aut.dtsx^" '

		-- Controllo Importazione File Stock , su ERRORE invia EMAIL ---
		CREATE TABLE #output2 (Output varchar(1000) null)
		INSERT #output2 EXEC @rc = master..xp_cmdshell @SQLQuery
		SELECT * from #output2 WHERE output LIKE '%DTSER_SUCCESS%'
		IF @@ROWCOUNT = 0 BEGIN SET @Errore = IsNull (@Errore,'') + ' Errore nel IMPORTAZIONE del File CSV ListiniManualiPDV_Aut AUTOCARRO !' + char(10) + char(13) SET @StopElabPdv = 1 END
		DROP TABLE #output2

		DELETE T1 FROM (SELECT ROW_NUMBER() OVER(PARTITION BY IdDiArtico ORDER BY PManPacData DESC) AS [NumeroCodici],* FROM Ant_ListiniManualiPdvCsv_Aut) as T1 
		where T1.NumeroCodici>1 -- Cancella i duplicati in ordine di data di modifica	

	END
	
	---- Se non ci sono Errori Nell'Importazione Cambio i Prezzi Manuali ----
	IF @StopElabPdv = 0 AND @UnoModificato = 1 BEGIN 
	
		TRUNCATE TABLE Ant_ListiniManualiPdv
		
		--DELETE T1 FROM (SELECT ROW_NUMBER() OVER(PARTITION BY IDArtico ORDER BY PManPacData DESC) AS [NumeroCodici],* FROM Ant_ListiniManualiPdv) as T1 
		--where T1.NumeroCodici>1 -- Cancella i duplicati in ordine di data di modifica

		INSERT INTO [Ant_ListiniManualiPdv]
			([IDArtico],[P_ManAcq],[P_ManPac],[PManAcqData],[PManPacData],[Settore_Id],[Marca_Id],[Pz_web1],PdvAAcq,PdvAPac,P_Stock,Link_GA,PAC)
		SELECT
			[IDDiArtico],[P_ManAcq],[P_ManPac],[PManAcqData],[PManPacData],[Settore_Id],[Marca_Id],[Pz_web1],NULL,NULL,0,NULL,0
		FROM Ant_ListiniManualiPdvCsv
	
		
		-- ================== Aggiorno "Ant_ListiniManualiPdv" con i Prezzi Generati Automaticamente tramite Regole in "Ant_GestionePrezziPdv" nel Campo "PdvAuto" =====================================

		------------------------ Aggiornamento Prezzi OfferteSpeciali dentro al Foglio PDV di ALBA ----------------------------------------
		UPDATE Ant_ListiniManualiPdv
			SET P_Stock = Prezzo
		FROM Ant_ListiniManualiPdv LMP INNER JOIN OfferteWeb OFFW ON OFFW.IdArtico = LMP.IDArtico
		WHERE OFFW.PosGlobale = 1 AND OFFW.IdFornitore NOT IN (4,6,8)

		DECLARE @LinkBase varchar(65) = 'https://www.gommadiretto.it/cgi-bin/rshop.pl?dsco=130',@Link1Stag Varchar(12) = '&sowigan=', @Link2Larg varchar(15) = '&Breite=', @Link2Spal varchar(15) = '&Quer=', @Link3Diam varchar(15) = '&Felge=', @Link4Vel varchar(15) = '&Speed=',@Link5CatPrem varchar(15) = '&kategorie=1'
		DECLARE @Link6Marca varchar(30) = '&Marke=', @Link7Fine varchar(110) = '&ranzahl=4&search_tool=standard&rsmFahrzeugart=PKW&tyre_for=PKW&suchen=Trova+pneumatici&Ang_pro_Seite=50',@Link8Sort varchar(20) = '&sort_by=brand'

		--UPDATE Ant_ListiniManualiPdv
		--	SET Link_GA = Ltrim(Rtrim(@LinkBase)) + LTRIM(RTRIM(@Link1Stag)) + (CASE ART_STAGIONE WHEN 'Estivo' THEN 'So' WHEN 'Invernale' THEN 'Wi' WHEN '4 Stagioni' THEN 'GAN' ELSE 'So' END)+ @Link2Larg + LTRIM(RTRIM(classificatore1)) + @Link2Spal + LTRIM(RTRIM(classificatore2))
		--	+ @Link3Diam + LTRIM(RTRIM(classificatore3)) + LTRIM(RTRIM(@Link4Vel)) + LTRIM(RTRIM(IND_VELOCITA)) + LTRIM(RTRIM(@Link5CatPrem)) + LTRIM(RTRIM(@Link6Marca)) + LTRIM(RTRIM(UPPER(LEFT(MARCA,1)) + LOWER(SUBSTRING(MARCA,2,LEN(MARCA))))) + LTRIM(RTRIM(@Link7Fine)) + LTRIM(RTRIM(@Link8Sort)) 
		--FROM Ant_ListiniManualiPdv INNER JOIN Ant_Descrittori_Web ON IDArtico = ART_ID

		UPDATE Ant_ListiniManualiPdv
			SET PAC = (CASE WHEN PrAcqPdv > 0 THEN PrAcqPdv ELSE PrAcq END),Sconto = ScontoTot
		FROM I24BO.dbo.Ant_PrezziAcqCalcolati INNER JOIN Ant_ListiniManualiPdv ON IdArtico = ART_ID

		-- ========== Uso il Campo [Pa-Ricarico] assieme al [PAC] Per Calcolare il Prezzo PdvAAcq/PdvAPac su tutti gli Articoli in Giacenza a Magazzino ========== --
		--========== 19-03-20 aggiungo il valore del buono stagionale se c'è ==========--

		UPDATE Ant_ListiniManualiPdv
			SET PdvAAcq = (CASE GUCA.Giacenza WHEN 0 THEN 0 ELSE Round((GUCA.Costo_ultimo_acq + [Pa-Ricarico] + GPP.RicaricoArticoliDispo + ISNULL(GUCA.Ext_Buonostag,0))* @Aliquota,2) + @PrzMontaggioPerPdv END) -- Montaggio 10€
		FROM Ant_ListiniManualiPdv AS LMP INNER JOIN
		Ant_Descrittori_Web DESW ON LMP.IDArtico = ART_ID INNER JOIN
		Ant_GestionePrezziPdv GPP ON LMP.Marca_Id = GPP.Marca_Id AND LMP.Settore_Id = GPP.Settore_Id AND DESW.classificatore3 = GPP.Diametro AND DESW.ART_STAGIONE = GPP.Stagione INNER JOIN
		vw_GiacCostUltAcqPerPrezziAutoPdv GUCA ON DESW.ART_ID = GUCA.ID_ARTICOLO
		WHERE (GPP.[Pa-Ricarico] > 0) and DESW.STAART = 'S' AND [Pa-RunFlat] = DESW.ART_RUNFLAT AND GUCA.Giacenza > 0 -- Regole: Diametro,Id_Maca,Id_Settore,Stagione,CadiceOfferta'14',PrezzoManuale 'Null' ,StaArt'S',Ant_GestionePrezziPdv.[Pa-Sconto] > 
		
		--======================================================================================================================================================================================================================================
		-----======================= Prezzo PDV Automatico per tutti gli Articoli in Stao "G" fatto su PAC =====================================================================================================================================
		--======================================================================================================================================================================================================================================

		UPDATE Ant_ListiniManualiPdv
			SET PdvAAcq = (CASE GUCA.Giacenza WHEN 0 THEN 0 ELSE Round((GUCA.Costo_ultimo_acq + [Pa-Ricarico] + ISNULL(GUCA.Ext_Buonostag,0))* @Aliquota,2) + @PrzMontaggioPerPdv END), -- Montaggio 10€ -- Quando la giacenza > 0 allora Faccio il Calcolo del PDV sul Costo ultimo Acquisto
			PdvAPac = (CASE WHEN GUCA.Giacenza = 0 AND LMP.PAC > 0 THEN Round((LMP.PAC + [Pa-Ricarico])* @Aliquota,2) + @PrzMontaggioPerPdv ELSE 0 END) -- Montaggio 10€ -- Quando la giacenza = 0 e il PAC c'è > 0 allora Faccio il Calcolo del PDV sul PAC
		FROM Ant_ListiniManualiPdv AS LMP
		INNER JOIN Ant_Descrittori_Web DESW ON LMP.IDArtico = ART_ID
		INNER JOIN Ant_GestionePrezziPdv GPP ON LMP.Marca_Id = GPP.Marca_Id AND LMP.Settore_Id = GPP.Settore_Id AND DESW.classificatore3 = GPP.Diametro AND DESW.ART_STAGIONE = GPP.Stagione
		INNER JOIN vw_GiacCostUltAcqPerPrezziAutoPdv GUCA ON DESW.ART_ID = GUCA.ID_ARTICOLO
		WHERE (GPP.[Pa-Ricarico] > 0) and DESW.STAART = 'G' AND [Pa-RunFlat] = DESW.ART_RUNFLAT -- Regole: Diametro,Id_Maca,Id_Settore,Stagione,CadiceOfferta'14',PrezzoManuale 'Null' ,StaArt'G',Ant_GestionePrezziPdv.[Pa-Sconto] > 0


		-- ============================================================== --
		-- ======== Script per cercare di verificare i Prezzi PDV ======= -- 
		-- ============================================================== --

		/*

		SELECT * FROM Ant_GestionePrezziPdv agpp
		WHERE agpp.Marca = 'PIRELLI' AND agpp.Settore_Id = 16


		SELECT (CASE GUCA.Giacenza WHEN 0 THEN 0 ELSE Round((GUCA.Costo_ultimo_acq + [Pa-Ricarico] + ISNULL(GUCA.Ext_Buonostag,0))* 1.22,2) + 10 END) AS PdvAcq,
				(CASE WHEN GUCA.Giacenza = 0 AND LMP.PAC > 0 THEN Round((LMP.PAC + [Pa-Ricarico])* 1.22,2) + 10 ELSE 0 END) AS PdvAPac 
				FROM Ant_ListiniManualiPdv AS LMP
				INNER JOIN Ant_Descrittori_Web DESW ON LMP.IDArtico = ART_ID
				INNER JOIN Ant_GestionePrezziPdv GPP ON LMP.Marca_Id = GPP.Marca_Id AND LMP.Settore_Id = GPP.Settore_Id AND DESW.classificatore3 = GPP.Diametro AND DESW.ART_STAGIONE = GPP.Stagione
				INNER JOIN vw_GiacCostUltAcqPerPrezziAutoPdv GUCA ON DESW.ART_ID = GUCA.ID_ARTICOLO
				WHERE (GPP.[Pa-Ricarico] > 0) and DESW.STAART = 'G' AND [Pa-RunFlat] = DESW.ART_RUNFLAT 
				AND DESW.ART_CODICE IN ('909021-PIR-2526800','1507018-PIR-2803200','909021-MET-3961200')

		SELECT * FROM Ant_ListiniManualiPdv almp WHERE almp.IDArtico = 525920

		*/

		--=======================================================================================================================================================================================
		-----=======================Prezzo PDV per ARTICOLI con ABBUONI STAGIONALI =======================----- Aggiunto 19-10-19
		--=======================================================================================================================================================================================
		/*
		UPDATE Ant_ListiniManualiPdv
			SET PdvAAcq = (CASE GUCA.Giacenza WHEN 0 THEN 0 ELSE Round((PAC.UltimoCostoAddBuoni + [Pa-Ricarico])* @Aliquota,2) + 10 END)
		FROM Ant_ListiniManualiPdv AS LMP INNER JOIN
		Ant_Descrittori_Web DESW ON LMP.IDArtico = ART_ID INNER JOIN
		Ant_GestionePrezziPdv GPP ON LMP.Marca_Id = GPP.Marca_Id AND LMP.Settore_Id = GPP.Settore_Id AND DESW.classificatore3 = GPP.Diametro AND DESW.ART_STAGIONE = GPP.Stagione INNER JOIN
		[vw_GiacCostUltAcqGiac-Imp-Sped-Seta] GUCA ON DESW.ART_ID = GUCA.ID_ARTICOLO INNER JOIN
		I24BO.dbo.Ant_PrezziAcqCalcolati AS PAC ON PAC.ART_ID = DESW.ART_ID
		WHERE (GPP.[Pa-Ricarico] > 0) AND [Pa-RunFlat] = DESW.ART_RUNFLAT AND PAC.UltimoCostoAddBuoni IS NOT NULL
		*/
		--=======================================================================================================================================================================================
		--=======================================================================================================================================================================================
		
		
		--== Azzero in "Ant_ListiniManuali" i Campi "PrezzoManuale,Prev_Auto,PrezManData" di Tutti Gli Articoli "S" che hanno Giacenza = '0' 
		-- Utilizzato per Eliminare i Vecchi PDV di Alba ---

		UPDATE Ant_ListiniManualiPdv -- Azzero dove hanno Giacenza <= '0' non importa lo Stato Articolo perché sono quelli sul costo Acquisto , quindi devono essere in casa
			SET P_ManAcq = 0,PManAcqData = NULL
		FROM Ant_ListiniManualiPdv LMP INNER JOIN I24BO.dbo.ARTICO ON LMP.IDArtico = ARTICO.ID INNER JOIN [VDispNettaPNEUS24B1+B2+B3+B4+B5+B6+B7] ON ART_ID = ARTICO.ID
		WHERE Qta <= 0 AND LMP.P_ManAcq > 0

		UPDATE Ant_ListiniManualiPdvCsv -- Azzero dove hanno Giacenza <= '0' non importa lo Stato Articolo perché sono quelli sul costo Acquisto , quindi devono essere in casa
			SET P_ManAcq = 0,PManAcqData = NULL
		FROM Ant_ListiniManualiPdv LMP WITH(NOLOCK) INNER JOIN I24BO.dbo.ARTICO WITH(NOLOCK) ON LMP.IDArtico = ARTICO.ID INNER JOIN [VDispNettaPNEUS24B1+B2+B3+B4+B5+B6+B7] WITH(NOLOCK) ON ART_ID = ARTICO.ID
		WHERE Qta <= 0 AND LMP.P_ManAcq > 0
		
		UPDATE Ant_ListiniManualiPdv
			SET P_ManPac = 0,PManPacData = NULL
		FROM Ant_ListiniManualiPdv LMP INNER JOIN I24BO.dbo.ARTICO ON LMP.IDArtico = ARTICO.ID INNER JOIN [VDispNettaPNEUS24B1+B2+B3+B4+B5+B6+B7] ON ART_ID = ARTICO.ID
		WHERE STAART = 'S' and Qta <= 0 AND LMP.P_ManPac > 0

		UPDATE Ant_ListiniManualiPdvCsv
			SET P_ManPac = 0,PManPacData = NULL
		FROM Ant_ListiniManualiPdv LMP WITH(NOLOCK) INNER JOIN I24BO.dbo.ARTICO WITH(NOLOCK) ON LMP.IDArtico = ARTICO.ID INNER JOIN [VDispNettaPNEUS24B1+B2+B3+B4+B5+B6+B7] WITH(NOLOCK) ON ART_ID = ARTICO.ID
		WHERE STAART = 'S' and Qta <= 0 AND LMP.P_ManPac > 0
		
		--========================================================================================================================--
		--=========================================== Listino PDV Automatico AUTOCARRO ===========================================--
		--========================================================================================================================--
		DELETE Ant_ListiniManualiPdv
		WHERE Settore_Id = 8

		---- Inserisco gli Articoli AUTOCARRO dentro hai ListiniManualiPDV (Teoricamente non ci sono visto che la view di ALBA per il vettura non vede l'autocarro)
		INSERT INTO [Ant_ListiniManualiPdv]
			([IDArtico],[P_ManAcq],[P_ManPac],[PManAcqData],[PManPacData],[Settore_Id],[Marca_Id],[Pz_web1],PdvAAcq,PdvAPac,P_Stock,Link_GA,PAC)
		SELECT
			[IDDiArtico],[P_ManAcq],[P_ManPac],[PManAcqData],[PManPacData],[Settore_Id],[Marca_Id],[Pz_web1],NULL,NULL,0,NULL,0
		FROM Ant_ListiniManualiPdvCsv_Aut LMPAUT
		WHERE NOT EXISTS (SELECT LMP.ID FROM Ant_ListiniManualiPdv LMP WHERE LMP.IDArtico = LMPAUT.IdDiArtico)

		---- Inserisco gli Articoli AUTOCARRO che non ci sono (Articoli nuovi che non sono ancora stati messi nei folgi perché non li hanno usati)
		INSERT INTO [Ant_ListiniManualiPdv]
			([IDArtico],[P_ManAcq],[P_ManPac],[PManAcqData],[PManPacData],[Settore_Id],[Marca_Id],[Pz_web1],PdvAAcq,PdvAPac,P_Stock,Link_GA,PAC)
		SELECT
			ADW.ART_ID,NULL,NULL,NULL,NULL,[Settore_Id],[Marca_Id],NULL,NULL,NULL,0,NULL,0
		FROM Ant_Descrittori_Web ADW
		WHERE ADW.SETTORE_ID = 8 AND NOT EXISTS (SELECT LMP.ID FROM Ant_ListiniManualiPdv LMP WHERE LMP.IDArtico = ADW.ART_ID)

			--------------------------------------------- Uso la TBL "RegoleListiniPdv_Aut" Per Calcolare il Prezzo PdvAAcq/PdvAPac del'AUTOCARRO --------------------------------------------------------------------------------	

		-- Azzero i Prezzi e li ricalcolo (Autocarro PDV)
		UPDATE Ant_ListiniManualiPdv
			SET PdvAAcq = 0,PdvAPac = 0,ContoDepositoClienti = 0, CostoMedio_AB = 0, ExtraAcq_Aut = 0,
			P_Stock = 0, PAC = 0, Extra_Fisso_FTP = 0, Extra_Fisso = 0, Ricarico_FTP = 0
		WHERE Settore_Id = 8

		UPDATE Ant_ListiniManualiPdv
			SET P_Stock = Prezzo
		FROM Ant_ListiniManualiPdv LMP INNER JOIN OfferteWeb OFFW ON OFFW.IdArtico = LMP.IDArtico
		WHERE OFFW.PosGlobale = 1 AND OFFW.IdFornitore NOT IN (4,6,8) AND LMP.Settore_Id = 8

		-- Aggiorno Prezzi PAC e Sconto Autocarro ------
		UPDATE Ant_ListiniManualiPdv
			SET PAC = PrAcq,Sconto = ScontoTot
		FROM I24BO.dbo.Ant_PrezziAcqCalcolati INNER JOIN Ant_ListiniManualiPdv ON IdArtico = ART_ID
		WHERE Ant_ListiniManualiPdv.Settore_Id = 8

		UPDATE Ant_ListiniManualiPdv -- Su ALTRE in giacenza con Acquisto > 0 (Escludo le Marche che hanno il Contratto
			SET PdvAAcq = Round((GUCA.Costo_ultimo_acq + GPP.Ricarico),2),ExtraAcq_Aut = GPP.Extra_Fisso
		FROM Ant_ListiniManualiPdv AS LMP INNER JOIN
		Ant_Descrittori_Web DESW ON LMP.IDArtico = ART_ID INNER JOIN
		RegoleListiniPdv_AUt GPP ON GPP.Marca = 'Altre' AND Cast(dbo.RimuoveCaratteriNonNumerici(DESW.classificatore3) AS FLOAT) BETWEEN GPP.DiametroIn AND GPP.DiametroOut INNER JOIN
		vw_GiacCostUltAcqPerPrezziAutoPdv GUCA ON DESW.ART_ID = GUCA.ID_ARTICOLO
		WHERE DESW.SETTORE_ID = 8 AND DESW.MARCA NOT IN (SELECT Marca FROM RegoleListiniPdv_AUt) AND GUCA.Giacenza > 0 AND GUCA.Costo_ultimo_acq > 0

		UPDATE Ant_ListiniManualiPdv -- Su STOCK Fronitore (FTP) Scrivo Extra_Fisso_FTP
			SET Extra_Fisso_FTP = GPP.Extra_Fisso,Ricarico_FTP = GPP.Ricarico
		FROM Ant_ListiniManualiPdv AS LMP INNER JOIN
		Ant_Descrittori_Web DESW ON LMP.IDArtico = ART_ID INNER JOIN
		RegoleListiniPdv_AUt GPP ON GPP.Marca = 'FornitoriFtp' AND Cast(dbo.RimuoveCaratteriNonNumerici(DESW.classificatore3) AS FLOAT) BETWEEN GPP.DiametroIn AND GPP.DiametroOut INNER JOIN
		vw_GiacCostUltAcqPerPrezziAutoPdv GUCA ON DESW.ART_ID = GUCA.ID_ARTICOLO
		WHERE DESW.SETTORE_ID = 8 AND LMP.P_Stock > 0

		UPDATE Ant_ListiniManualiPdv -- Specifico per le Marche Continental/Barum/Hankook etc .. crezione PDV sul PAC e non sull'acquisto Articoli che hanno il PAC quindi STATO "G"
			SET PdvAPac = Round((LMP.PAC + GPP.Ricarico),2),Extra_Fisso = GPP.Extra_Fisso
		FROM Ant_ListiniManualiPdv AS LMP INNER JOIN
		Ant_Descrittori_Web DESW ON LMP.IDArtico = ART_ID INNER JOIN
		RegoleListiniPdv_AUt GPP ON DESW.MARCA = GPP.Marca AND Cast(dbo.RimuoveCaratteriNonNumerici(DESW.classificatore3) AS FLOAT) BETWEEN GPP.DiametroIn AND GPP.DiametroOut INNER JOIN
		vw_GiacCostUltAcqPerPrezziAutoPdv GUCA ON DESW.ART_ID = GUCA.ID_ARTICOLO
		WHERE DESW.SETTORE_ID = 8 AND LMP.PAC > 0

		UPDATE Ant_ListiniManualiPdv -- Specifico per le Marche Continental/Barum/Hankook etc .. crezione PDV sul PAC e non sull'acquisto Articoli che NON hanno il PAC quindi STATO "S"
			SET PdvAAcq = Round((GUCA.Costo_ultimo_acq + GPP.Ricarico),2),ExtraAcq_Aut = GPP.Extra_Fisso
		FROM Ant_ListiniManualiPdv AS LMP INNER JOIN
		Ant_Descrittori_Web DESW ON LMP.IDArtico = ART_ID INNER JOIN
		RegoleListiniPdv_AUt GPP ON DESW.MARCA = GPP.Marca AND Cast(dbo.RimuoveCaratteriNonNumerici(DESW.classificatore3) AS FLOAT) BETWEEN GPP.DiametroIn AND GPP.DiametroOut INNER JOIN
		vw_GiacCostUltAcqPerPrezziAutoPdv GUCA ON DESW.ART_ID = GUCA.ID_ARTICOLO
		WHERE DESW.SETTORE_ID = 8 AND GUCA.Giacenza > 0 AND GUCA.Costo_ultimo_acq > 0 AND LMP.PAC = 0
						
		UPDATE Ant_ListiniManualiPdv -- Creo il Valore di ExtraSconto Su Acquisto se leabbiamo in casa e hanno il PAC (PAC - Acquisto)
			SET ExtraAcq_Aut = Round((PAC.PrAcq - GUCA.Costo_ultimo_acq),2),Extra_Fisso = GPP.Extra_Fisso
		FROM Ant_ListiniManualiPdv AS LMP INNER JOIN
		Ant_Descrittori_Web DESW ON LMP.IDArtico = ART_ID INNER JOIN
		RegoleListiniPdv_AUt GPP ON DESW.MARCA = GPP.Marca AND Cast(dbo.RimuoveCaratteriNonNumerici(DESW.classificatore3) AS FLOAT) BETWEEN GPP.DiametroIn AND GPP.DiametroOut INNER JOIN
		vw_GiacCostUltAcqPerPrezziAutoPdv GUCA ON DESW.ART_ID = GUCA.ID_ARTICOLO INNER JOIN
		I24BO.dbo.Ant_PrezziAcqCalcolati PAC ON LMP.IDArtico = PAC.ART_ID
		WHERE DESW.SETTORE_ID = 8 AND PAC.PrAcq > 0 AND GUCA.Giacenza > 0

		UPDATE Ant_ListiniManualiPdv -- Metto il Valore di Extra_Fisso Su Articoli con Aggancio MARCHE 
			SET Extra_Fisso = GPP.Extra_Fisso
		FROM Ant_ListiniManualiPdv AS LMP INNER JOIN
		Ant_Descrittori_Web DESW ON LMP.IDArtico = ART_ID INNER JOIN
		RegoleListiniPdv_AUt GPP ON DESW.MARCA = GPP.Marca AND Cast(dbo.RimuoveCaratteriNonNumerici(DESW.classificatore3) AS FLOAT) BETWEEN GPP.DiametroIn AND GPP.DiametroOut INNER JOIN
		vw_GiacCostUltAcqPerPrezziAutoPdv GUCA ON DESW.ART_ID = GUCA.ID_ARTICOLO
		WHERE DESW.SETTORE_ID = 8 AND GUCA.Giacenza > 0

		UPDATE Ant_ListiniManualiPdv -- Metto il Valore del Costo Medio di Vendita di Bononcini
			SET CostoMedio_AB = GCU.CostoMedio_AB
		FROM I24BO.dbo.vw_GiacVendutoCostUlt_Ant GCU INNER JOIN Ant_ListiniManualiPdv ON IDArtico = GCU.ID_ARTICOLO
		
		UPDATE Ant_ListiniManualiPdv -- Metto la qta di gomme che sono in Conto Deposito dei clienti per farla vedere quando aprono il Popup
			SET ContoDepositoClienti = CD.QTTN
		FROM Ant_ListiniManualiPdv LM INNER JOIN I24BO.dbo.VDispNettaPneusContoDepositoClienti CD ON LM.IDArtico = CD.IDARTICO


		-- ================================================================================================================================================ --
		-- ==================== Cancello i Prezzi Manuali PDV su Acquisto (P_ManAcq) Quando gli Articoli non sono più Disponibili ========================= --
		-- ================================================================================================================================================ --

		DELETE Ant_ListiniManualiPdv
		FROM Ant_ListiniManualiPdv INNER JOIN
		[VDispNettaPNEUS24B1+B2+B3+B4+B5+B6+B7+B9+B10+B11] vdn ON IDArtico = ART_ID
		WHERE (Cast(P_ManAcq AS FLOAT)) > 0 and Qta <= 0 AND SETTORE_Id IN (4,6,7,8,16,91,37,76)

		DELETE Ant_ListiniManualiPdvCsv
		FROM Ant_ListiniManualiPdvCsv INNER JOIN [VDispNettaPNEUS24B1+B2+B3+B4+B5+B6+B7+B9+B10+B11] vdn ON IdDiArtico = ART_ID
		WHERE (Cast(P_ManAcq AS FLOAT)) > 0 and Qta <= 0 AND SETTORE_Id IN (4,6,7,8,16,91,37,76)

		DELETE Ant_ListiniManualiPdvCsv_Aut
		FROM Ant_ListiniManualiPdvCsv_Aut INNER JOIN [VDispNettaPNEUS24B1+B2+B3+B4+B5+B6+B7+B9+B10+B11] vdn ON IdDiArtico = ART_ID
		WHERE (Cast(P_ManAcq AS FLOAT)) > 0 and Qta <= 0 AND SETTORE_Id IN (4,6,7,8,16,91,37,76)


	END
*/ -- FINE -- Listini Manuali Vecchio Sistema Foglio Excel disabilitato per Prezzi dentro ad ARTICO

	-- Cancello Prezzi Manuali Esteri Autocarro ------
	UPDATE OfferteWeb_1Pass
		SET P_T24_GER = NULL,P_Esteri_Ger = NULL,P_07ZR_FRA = NULL ,P_Esteri_Spa = NULL,P_T24_SPA = NULL,P_T24_AUS = NULL,P_Esteri_Aus = null
	WHERE SettoreId = 8

	-- Faccio Diventare Null quando = 0 ( Mi serve per il Coalesce delle view per scartare i prezzi e prendere quello che c'è)
	--UPDATE Ant_ListiniManualiPdv
	--	SET PdvAAcq = NULL
	--WHERE PdvAAcq = 0
	
	--UPDATE Ant_ListiniManualiPdv
	--	SET PdvAPac = NULL
	--WHERE PdvAPac = 0

	--UPDATE Ant_ListiniManualiPdv
	--	SET P_ManAcq = NULL
	--WHERE P_ManAcq = 0

	--UPDATE Ant_ListiniManualiPdv
	--	SET P_ManPac = NULL
	--WHERE P_ManPac = 0
	
	-- Azzero i PDV che si creano solo con il Ricarico (Errore dell'Autocarro)
	--UPDATE Ant_ListiniManualiPdv
	--	SET PdvAAcq = NULL ,PdvAPac = NULL
	--FROM Ant_ListiniManualiPdv AS LMP INNER JOIN
	--[vw_GiacCostUltAcqGiac-Imp-Sped-Seta] GUCA ON LMP.IDArtico = GUCA.ID_ARTICOLO
	--WHERE GUCA.Giacenza = 0 AND LMP.PAC = 0

	-----======================================================================================================-----
	---------------------------------- Alcuni Articoli a cui Forzo il Prezzo ---------------------------------------
	-----======================================================================================================-----

	--UPDATE OfferteWeb_1Pass
	--	SET P_07ZR_FRA = 43.50 + 1.1 -- Prezzo gomma + PFU Francese che toglie automaticamente 07ZR e lo rimette nel carrello
	--WHERE CodArtForn = '1856515-MIC-7037DEMO'

	----- ====================================================================================================== -----
	------------------------ Elaborazione per Mettere i Dati nella Tbl [Ant_StefanoOrdini] ---------------------------
	----- ====================================================================================================== -----

	-- Estraggo il Miglior Prezzo Piattaforme ed il Miglior Prezzo Acquisto dei fornitori --
	DECLARE @Temp TABLE (IdArtico int,P1PosT24Ita float,P1PosT24Ger float,P1Pos07ZR float,P1PosPrezForn float)

	INSERT INTO @Temp -- Prendo i Prezzi Più Bassi per Articoli di Ogni Offerta
		(IdArtico,P1PosT24Ita,P1PosT24Ger,P1Pos07ZR,P1PosPrezForn )
	SELECT
		IdArtico,Min(P_1Pos_T24),NULL,Min(P_1Pos_07ZR),Min((Case WHEN IdFornitore IN (2,4,6,8,15,16,17,18,19,24) THEN NULL ELSE Prezzo END)) -- Escludo noi + i Produttori che ci forniscono lo stock dal Prezzo Minimo Toyo, BgDistribuzione, LDC, Pdv, Yokohama, ContinentalWeb, MagriGomme, Bridgestone, Hankook, Fintyre
	FROM PiattaformeWeb.dbo.OfferteWeb
	GROUP BY IdArtico
	ORDER BY IdArtico

	UPDATE I24BO.dbo.Ant_StefanoOrdini
		SET PrezManuale = PrezzoMan
	FROM PiattaformeWeb.dbo.OfferteWeb INNER JOIN I24BO.dbo.Ant_StefanoOrdini ON ART_ID = IdArtico
	WHERE PrezzoMan > 0

	UPDATE I24BO.dbo.Ant_StefanoOrdini -- ===== Sospeso il Miglior Prezzo Piattaforma di 07ZR perché troppo Bassi (01-22) ===== --
		SET MigliorPrezPiat = (CASE WHEN P1PosT24Ita < P1Pos07ZR AND P1PosT24Ita < P1PosPrezForn THEN P1PosT24Ita /*WHEN P1Pos07ZR < P1PosT24Ita AND P1Pos07ZR < P1PosPrezForn THEN P1Pos07ZR*/ WHEN P1PosPrezForn < P1PosT24Ita AND P1PosPrezForn < P1Pos07ZR THEN P1PosPrezForn ELSE COALESCE(P1PosT24Ita,P1Pos07ZR,P1PosPrezForn) END)
	FROM I24BO.dbo.Ant_StefanoOrdini INNER JOIN @Temp ON ART_ID = IdArtico

	-- Miglior Prezzo Fornitori Bologna (Univergomma e FrancoGomme)
	DELETE @Temp

	INSERT INTO @Temp -- Prendo i Prezzi Più Bassi per Articoli di Ogni Offerta
		(IdArtico,P1PosPrezForn )
	SELECT
		IdArtico,Min((Case WHEN IdFornitore IN (3,13) THEN Prezzo ELSE NULL END)) -- Prendo solo i Fornitori che Consegnano a Bologna (Univergomma e FrancoGomme)
	FROM PiattaformeWeb.dbo.OfferteWeb
	GROUP BY IdArtico
	ORDER BY IdArtico

	UPDATE I24BO.dbo.Ant_StefanoOrdini
		SET MigliorPrezBO = P1PosPrezForn
	FROM I24BO.dbo.Ant_StefanoOrdini INNER JOIN @Temp ON ART_ID = IdArtico

	-- ===== EMAIL ===== --

	DECLARE @body nvarchar(4000),@TProfileName varchar(50),@to_mails nvarchar(500) = 'antonio.sacco@bolognagomme.com',@cc_mails nvarchar(500) = '',@ccn_mails nvarchar(500) = '',@subject nvarchar(500)

	SET @TProfileName = 'SQL'
	IF  LEN(LTRIM(RTRIM(@Errore))) > 5 BEGIN
		SET @subject = 'Importazione File CSV ListiniManualiDistribuzione'
		set @body = ''
		set @body = @body + 'Errore durante IMPORTAZIONE ListiniManualiDistribuzione,File CSV da Verificare,' + char(10) + char(13) + @Errore + char(10) + char(13)+ char(10) + char(13)
		set @body = @body + '_______________________________'
		if @body is null set @body = ''
		-- invio mail	
		EXEC msdb.dbo.sp_send_dbmail 
			@profile_name			=	@TProfileName,
			@recipients				=	@to_mails,
			@copy_recipients		=	@cc_mails,
			@blind_copy_recipients	=	@ccn_mails,
			@subject				=	@subject,
			@body					=	@body
			
		PRINT @Errore
	END


END

