USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[OWB4_CreazionePrezzi_Piatt_B2b]    Script Date: 20/06/2025 10:31:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[OWB4_CreazionePrezzi_Piatt_B2b]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

DECLARE @SettVettura varchar(20) = '(4,6,7,37,76)',@SettAutocarro varchar(20) = '(8)',@SettMotoScoot varchar(20) = '(16,91)',@Sql varchar(1000),@MaxOrder int --(4,6,7,8,16,91,76,37) -- Vettura,TL,4x4,Autocarro,Moto,Scooter,Competizione,Epoca
DECLARE @PfuMotoFrancia Float = 1,@PfuVettFrancia Float = 1.3, @ProvvPiattPerc decimal (4,3) = 1.013

------================= Mettere Procedura per Costi Spedizioni =================------

UPDATE OfferteWeb_1Pass -- Aggiorno con i Costi Spedizioni Calcolati da noi in base alla MISURA
	SET C_TraspBase = Bcs.Z1,C_TraspBaseBo = Bcs.Z4,C_TraspT24 = Bcs.Z1,C_Trasp07ZR = Bcs.Z1,C_PesoSpa = Bcs.Z39,C_PesoAust = Bcs.Z20,C_PesoGerFra = Bcs.Z27
FROM OfferteWeb_1Pass Ow INNER JOIN BestCosti_Sped Bcs ON Bcs.Misura = Ow.Misura AND Bcs.Settore_Id = Ow.SettoreId
WHERE Ow.TipoPubPiatt NOT IN ('72H')

UPDATE OfferteWeb_1Pass -- Mi Assicuro che i Fornitori che non hanno Spese di Trasporto siano con le Spese a "0"
	SET C_TraspBase = 0,C_TraspBaseBo = 0,C_TraspT24 = 0,C_Trasp07ZR = 0
FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore
WHERE SpeseTrasporto = 0

UPDATE OfferteWeb_1Pass
	SET C_PesoGerFra = NULL,C_PesoSpa = NULL, C_PesoAust = NULL
FROM I24BO.dbo.ARTICO INNER JOIN OfferteWeb_1Pass ON OfferteWeb_1Pass.IdArtico = ID
WHERE VOLUME >= 0.5

------================= FINE Procedura per Costi Spedizioni ====================------

----------------------------------------------------------- Scrivo il Prezzo Base/Piattaforme -------------------------------------------------------

-- ===== Prezzo 24H ===== --

UPDATE OfferteWeb_1Pass -- Prezzo T24
	SET P_T24_24H = Prezzo + M_T24 + C_TraspT24, --  + Provv_PiattT24
	P_T24_GER = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE C_PesoGerFra END), --  + Provv_PiattT24
	P_T24_SPA = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE C_PesoSpa END), --  + Provv_PiattT24
	P_T24_AUS = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE C_PesoAust END), --  + Provv_PiattT24
	P_T24_BEL = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z21 END), --  + Provv_PiattT24
	P_T24_LUS = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z31 END), --  + Provv_PiattT24
	P_T24_FRA = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z26 END), --  + Provv_PiattT24
	P_T24_OLA = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z32 END), --  + Provv_PiattT24
	P_T24_POL = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z33 END), --  + Provv_PiattT24
	P_T24_Uk_Danim = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z41 END), --  + Provv_PiattT24
	Note_T24 = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_T24 AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspT24 AS varchar(11)) + ') CostoProvv % (' + Cast(@ProvvPiattPerc AS varchar(11)) + ')'
FROM OfferteWeb_1Pass Ow INNER JOIN BestCosti_Sped Bcs ON Bcs.Misura = Ow.Misura AND Bcs.Settore_Id = Ow.SettoreId
WHERE TipoPubPiatt = '24H'


-- ===== Prezzo 48H ===== --

UPDATE OfferteWeb_1Pass -- Prezzo T24
	SET P_T24_48H = Prezzo + M_T24 + C_TraspT24,
	P_T24_GER = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE C_PesoGerFra END),
	P_T24_SPA = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE C_PesoSpa END),
	P_T24_AUS = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE C_PesoAust END),
	P_T24_BEL = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z21 END),
	P_T24_LUS = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z31 END),
	P_T24_FRA = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z26 END),
	P_T24_OLA = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z32 END),
	P_T24_POL = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z33 END),
	P_T24_Uk_Danim = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN NULL ELSE Bcs.Z41 END),
	Note_T24 = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_T24 AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspT24 AS varchar(11)) + ') CostoProvv % (' + Cast(@ProvvPiattPerc AS varchar(11)) + ')'
FROM OfferteWeb_1Pass Ow INNER JOIN BestCosti_Sped Bcs ON Bcs.Misura = Ow.Misura AND Bcs.Settore_Id = Ow.SettoreId
WHERE TipoPubPiatt = '48H'


-- ===== Prezzo 72H ===== --

UPDATE OfferteWeb_1Pass -- Prezzo T24
	SET P_T24_72H = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN C_TraspBase ELSE C_TraspT24 END),
	P_T24_GER = NULL,P_07ZR_FRA = NULL,P_T24_SPA = NULL,P_T24_AUS = NULL,
	Note_T24 = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_T24 AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspT24 AS varchar(11)) + ') CostoProvv % (' + Cast(@ProvvPiattPerc AS varchar(11)) + ')'
WHERE TipoPubPiatt = '72H'

UPDATE OfferteWeb_1Pass -- Prezzo T24
	SET P_T24_72H = Prezzo + M_T24 + (CASE SettoreId WHEN 8 THEN C_TraspBase ELSE C_TraspT24 END),
	P_T24_GER = NULL,P_07ZR_FRA = NULL,P_T24_SPA = NULL,P_T24_AUS = NULL,
	Note_T24 = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_T24 AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspT24 AS varchar(11)) + ') CostoProvv % (' + Cast(@ProvvPiattPerc AS varchar(11)) + ')'
WHERE TipoPubPiatt = '72H_CST'

---------------------------- Prezzi Autocarro -----------------

UPDATE OfferteWeb_1Pass -- Prezzo T24
	SET P_T24_24H = Prezzo + M_T24 + C_TraspT24,
	P_T24_GER = Prezzo + M_T24 + C_PesoGerFra,
	P_T24_SPA = Prezzo + M_T24 + C_PesoSpa,
	P_T24_AUS = Prezzo + M_T24 + C_PesoAust,
	P_T24_BEL = Prezzo + M_T24 + C_PesoAust,
	P_T24_LUS = Prezzo + M_T24 + C_PesoAust,
	P_T24_FRA = Prezzo + M_T24 + C_PesoAust,
	P_T24_OLA = Prezzo + M_T24 + C_PesoAust,
	Note_T24 = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_T24 AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspT24 AS varchar(11)) + ') CostoProvv % (' + Cast(@ProvvPiattPerc AS varchar(11)) + ')'
FROM OfferteWeb_1Pass Ow
WHERE TipoPubPiatt = '24H' AND SettoreId = 8

UPDATE OfferteWeb_1Pass -- Prezzo T24
	SET P_T24_48H = Prezzo + M_T24 + C_TraspT24,
	P_T24_GER = Prezzo + M_T24 + C_PesoGerFra,
	P_T24_SPA = Prezzo + M_T24 + C_PesoSpa,
	P_T24_AUS = Prezzo + M_T24 + C_PesoAust,
	P_T24_BEL = Prezzo + M_T24 + C_PesoAust,
	P_T24_LUS = Prezzo + M_T24 + C_PesoAust,
	P_T24_FRA = Prezzo + M_T24 + C_PesoAust,
	P_T24_OLA = Prezzo + M_T24 + C_PesoAust,
	Note_T24 = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_T24 AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspT24 AS varchar(11)) + ') CostoProvv % (' + Cast(@ProvvPiattPerc AS varchar(11)) + ')'
FROM OfferteWeb_1Pass Ow
WHERE TipoPubPiatt = '48H' AND SettoreId = 8


-- Aggiunta Provvigioni Piattaforma --

UPDATE OfferteWeb_1Pass -- Prezzo T24
	SET P_T24_24H = P_T24_24H * @ProvvPiattPerc,
	P_T24_48H = P_T24_48H * @ProvvPiattPerc,
	P_T24_72H = P_T24_72H * @ProvvPiattPerc,
	P_T24_GER = P_T24_GER * @ProvvPiattPerc,
	P_T24_SPA = P_T24_SPA * @ProvvPiattPerc,
	P_T24_AUS = P_T24_AUS * @ProvvPiattPerc,
	P_T24_BEL = P_T24_BEL * @ProvvPiattPerc,
	P_T24_LUS = P_T24_LUS * @ProvvPiattPerc,
	P_T24_FRA = P_T24_FRA * @ProvvPiattPerc,
	P_T24_OLA = P_T24_OLA * @ProvvPiattPerc,
	P_T24_POL = P_T24_POL * @ProvvPiattPerc,
	P_T24_Uk_Danim = P_T24_Uk_Danim * @ProvvPiattPerc


--===================================================================================================================================================================--
-------==================================================== Prezzi B2B (Base,Base_Bo,Std,Std_Bo,Top,Top_Bo) ====================================================-------
--===================================================================================================================================================================--

----------------------------------------------------------- Scrivo il Prezzo Base (Anche Nelle Celle dei Prezzi Marca1/2/3/3) -------------------------------------------------------
-- Con Trasporto
--UPDATE OfferteWeb_1Pass -- Prezzo Base
--	SET P_Base = Prezzo + M_Base + C_TraspBase,
--	P_BaseBo = Prezzo + M_Base + C_TraspBaseBo,
--	Note_Base = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_Base AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspBase AS varchar(11)) + ') CostoTraspBo(' + Cast(C_TraspBaseBo AS varchar(11))+ ')'

-- Senza Trasporto
--UPDATE OfferteWeb_1Pass -- Prezzo Base
--	SET P_Base = Prezzo + M_Base,
--	P_BaseBo = Prezzo + M_Base,
--	Note_Base = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_Base AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspBase AS varchar(11)) + ') CostoTraspBo(' + Cast(C_TraspBaseBo AS varchar(11))+ ')'

--UPDATE OfferteWeb_1Pass -- Metto i Prezzi Base anche Nelle Celle dei Prezzi Marca1/2/3/3 (Poi Vengono Modificati solo nelle celle delle Marche con le Regole della Tbl "RegoleListiniB2bBrand")
--	SET P_Marca1 = P_Base,P_Marca2 = P_Base,P_Marca3 = P_Base,P_Marca4 = P_Base,
--	P_Marca1Bo = P_BaseBo,P_Marca2Bo = P_BaseBo,P_Marca3Bo = P_BaseBo,P_Marca4Bo = P_BaseBo

----------------------------------------------------------- Scrivo il Prezzo STD -------------------------------------------------------
-- Con Trasporto
--UPDATE OfferteWeb_1Pass -- Prezzo Base
--	SET P_Std = Prezzo + M_Std + C_TraspBase,
--	P_StdBo = Prezzo + M_Std + C_TraspBaseBo,
--	Note_Std = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_Std AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspBase AS varchar(11)) + ') CostoTraspBo(' + Cast(C_TraspBaseBo AS varchar(11))+ ')'

-- Senza Trasporto
--UPDATE OfferteWeb_1Pass -- Prezzo Base
--	SET P_Std = Prezzo + M_Std,
--	P_StdBo = Prezzo + M_Std,
--	Note_Std = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_Std AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspBase AS varchar(11)) + ') CostoTraspBo(' + Cast(C_TraspBaseBo AS varchar(11))+ ')'

----------------------------------------------------------- Scrivo il Prezzo TOP -------------------------------------------------------
-- Con Trasporto
--UPDATE OfferteWeb_1Pass -- Prezzo Base
--	SET P_Top = Prezzo + M_Top + C_TraspBase,
--	P_TopBo = Prezzo + M_Top + C_TraspBaseBo,
--	Note_Top = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_Top AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspBase AS varchar(11)) + ') CostoTraspBo(' + Cast(C_TraspBaseBo AS varchar(11))+ ')'

-- Senza Trasporto
--UPDATE OfferteWeb_1Pass -- Prezzo Base
--	SET P_Top = Prezzo + M_Top,
--	P_TopBo = Prezzo + M_Top,
--	Note_Top = 'Acqusto(' + Cast(Prezzo AS varchar(11)) + ') Margine(' + Cast(M_Top AS varchar(11)) + ') CostoTrasp(' + Cast(C_TraspBase AS varchar(11)) + ') CostoTraspBo(' + Cast(C_TraspBaseBo AS varchar(11))+ ')'
	
	
----------------- Tolgo il Trasporto dai Fornitori che non lo hanno per Evitare che il B2b metta il Trasporto ed il prezzo diventi troppo alto (BASE,STD,TOP) -------------------------------------------------------

--UPDATE OfferteWeb_1Pass -- Nella TBL Fornitori c'è il Campo con la "SpesaAssociata" che è il valore da togliere per il trasporto
--	SET P_Base = P_Base - SpesaAssociata, P_BaseBo = P_BaseBo - SpesaAssociata,
--	P_Std = P_Std - SpesaAssociata,P_StdBo = P_StdBo - SpesaAssociata,
--	P_Top = P_Top - SpesaAssociata,P_TopBo = P_TopBo - SpesaAssociata
--FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore
--WHERE SpesaAssociata > 0 AND SettoreId <> 8
	
----------------------------------------------------------- Scrivo il Prezzo Marca_1 e Marca_1_Bo -------------------------------------------------------
	
--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET P_Marca1 = P_Base + MargMarca,P_Marca1Bo = P_BaseBo + MargMarca
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2bBrand ON Prezzo BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettVettura + ' AND RegoleListiniB2bBrand.Settore = ''Vettura'' AND TipoPubPiatt = TipoListForn 
--Where RegoleListiniB2bBrand.Marca = Produttore AND MargMarca > 0 '

--EXECUTE (@Sql)

--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET P_Marca1 = P_Base + MargMarca,P_Marca1Bo = P_BaseBo + MargMarca
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2bBrand ON Diametro BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettAutocarro + ' AND RegoleListiniB2bBrand.Settore = ''Autocarro'' AND TipoPubPiatt = TipoListForn 
--Where RegoleListiniB2bBrand.Marca = Produttore AND MargMarca > 0 '

--EXECUTE (@Sql)

--SET @Sql = 'UPDATE OfferteWeb_1Pass 
--SET P_Marca1 = P_Base + MargMarca,P_Marca1Bo = P_BaseBo + MargMarca
--FROM OfferteWeb_1Pass INNER JOIN RegoleListiniB2bBrand ON Prezzo BETWEEN CifraIn AND CifraOut AND SettoreId IN ' + @SettMotoScoot + ' AND RegoleListiniB2bBrand.Settore = ''MotoScooter'' AND TipoPubPiatt = TipoListForn 
--Where RegoleListiniB2bBrand.Marca = Produttore AND MargMarca > 0 '

--EXECUTE (@Sql)

----------------------------------------------------------- Scrivo la Differenza --------------------------------------------------------

--UPDATE OfferteWeb_1Pass
--SET Differenza = P_Base - Prezzo

---------- Cancello gli Articoli di Settori che non mi interessano ---------------
DELETE OfferteWeb_1Pass WHERE SettList IS NULL

---------- Cancello gli Articoli che sono andati a 0 perchè la Logistica li ha e sono pirelli ---------------
DELETE OfferteWeb_1Pass WHERE Qta <= 0

END
