USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[OWD1_InserimentoListiniB2b]    Script Date: 20/06/2025 10:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[OWD1_InserimentoListiniB2b]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @CostoTraspoto DECIMAL(6,2)

	--------- Inserisco il Listino BASE -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'BASE'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'BASE' AND MEMOWEB = 'OK'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'BASE',CodArtPiatt,IsNull(P_Base,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Base > 0

		----- Modifica per Visualizzare LDC come Magazzino Separato -----
		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'BASE',CodArtPiatt,IsNull(P_Base,0),'LDC'
		FROM B2b.dbo.Vw_DispNetta24H_Ldc INNER JOIN piattaformeweb.dbo.OfferteWeb_1Pass ON CodiceArticolo = Codice
		WHERE Vw_DispNetta24H_Ldc.Qta > 0 AND IdFornitore = 4 AND P_Base > 0

	END

	--------- Inserisco il Listino Base_Bo -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Base_Bo'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Base_Bo'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Base_Bo',CodArtPiatt,IsNull(P_BaseBo,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 and P_BaseBo > 0
		
		----- Modifica per Visualizzare LDC come Magazzino Separato -----
		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Base_Bo',CodArtPiatt,IsNull(P_BaseBo,0),'LDC'
		FROM B2b.dbo.Vw_DispNetta24H_Ldc INNER JOIN piattaformeweb.dbo.OfferteWeb_1Pass ON CodiceArticolo = Codice
		WHERE Vw_DispNetta24H_Ldc.Qta > 0 AND IdFornitore = 4 AND P_BaseBo > 0

	END

-- =======================================================================================================================================

	--------- Inserisco il Listino STD -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'STD'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'STD' AND MEMOWEB = 'OK'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'STD',CodArtPiatt,IsNull(P_Std,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Std > 0

		----- Modifica per Visualizzare LDC come Magazzino Separato -----
		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'STD',CodArtPiatt,IsNull(P_Std,0),'LDC'
		FROM B2b.dbo.Vw_DispNetta24H_Ldc INNER JOIN piattaformeweb.dbo.OfferteWeb_1Pass ON CodiceArticolo = Codice
		WHERE Vw_DispNetta24H_Ldc.Qta > 0 AND IdFornitore = 4 AND P_Std > 0
			
	END

	--------- Inserisco il Listino STD_Bo -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Std_Bo'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Std_Bo'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Std_Bo',CodArtPiatt,IsNull(P_StdBo,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 and P_StdBo > 0

		----- Modifica per Visualizzare LDC come Magazzino Separato -----
		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Std_Bo',CodArtPiatt,IsNull(P_StdBo,0),'LDC'
		FROM B2b.dbo.Vw_DispNetta24H_Ldc INNER JOIN piattaformeweb.dbo.OfferteWeb_1Pass ON CodiceArticolo = Codice
		WHERE Vw_DispNetta24H_Ldc.Qta > 0 AND IdFornitore = 4 AND P_StdBo > 0
	
	END

-- =======================================================================================================================================

	--------- Inserisco il Listino TOP -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'TOP'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'TOP' AND MEMOWEB = 'OK'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'TOP',CodArtPiatt,IsNull(P_Top,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Top > 0
		
		----- Modifica per Visualizzare LDC come Magazzino Separato -----
		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'TOP',CodArtPiatt,IsNull(P_Top,0),'LDC'
		FROM B2b.dbo.Vw_DispNetta24H_Ldc INNER JOIN piattaformeweb.dbo.OfferteWeb_1Pass ON CodiceArticolo = Codice
		WHERE Vw_DispNetta24H_Ldc.Qta > 0 AND IdFornitore = 4 AND P_Top > 0
	
	END

	--------- Inserisco il Listino TOP_Bo -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Top_Bo'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Top_Bo'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Top_Bo',CodArtPiatt,IsNull(P_TopBo,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 and P_TopBo > 0
		
		----- Modifica per Visualizzare LDC come Magazzino Separato -----
		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Top_Bo',CodArtPiatt,IsNull(P_TopBo,0),'LDC'
		FROM B2b.dbo.Vw_DispNetta24H_Ldc INNER JOIN piattaformeweb.dbo.OfferteWeb_1Pass ON CodiceArticolo = Codice
		WHERE Vw_DispNetta24H_Ldc.Qta > 0 AND IdFornitore = 4 AND P_TopBo > 0

	END

-- =======================================================================================================================================
	
	--------- Inserisco il Listino Marca_1 -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Marca_1'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Marca_1' AND MEMOWEB = 'OK'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Marca_1',CodArtPiatt,IsNull(P_Marca1,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Marca1 > 0
	END

	--------- Inserisco il Listino Marca_1_Bo -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Marca_1_Bo'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Marca_1_Bo'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Marca_1_Bo',CodArtPiatt,IsNull(P_Marca1Bo,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Marca1Bo > 0
	END

-- =======================================================================================================================================

	--------- Inserisco il Listino Marca_2 -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Marca_2'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Marca_2' AND MEMOWEB = 'OK'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Marca_2',CodArtPiatt,IsNull(P_Marca2,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Marca2 > 0
	END

	--------- Inserisco il Listino Marca_2_Bo -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Marca_2_Bo'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Marca_2_Bo'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Marca_2_Bo',CodArtPiatt,IsNull(P_Marca2Bo,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Marca2Bo > 0
	END

-- =======================================================================================================================================

	--------- Inserisco il Listino Marca_3 -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Marca_3'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Marca_3' AND MEMOWEB = 'OK'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Marca_3',CodArtPiatt,IsNull(P_Marca3,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Marca3 > 0
	END

	--------- Inserisco il Listino Marca_3_Bo -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Marca_3_Bo'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Marca_3_Bo'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Marca_3_Bo',CodArtPiatt,IsNull(P_Marca3Bo,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Marca3Bo > 0
	END

-- =======================================================================================================================================

	--------- Inserisco il Listino Marca_4 -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Marca_4'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Marca_4' AND MEMOWEB = 'OK'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Marca_4',CodArtPiatt,IsNull(P_Marca4,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Marca4 > 0
	END

	--------- Inserisco il Listino Marca_4_Bo -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Marca_4_Bo'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Marca_4_Bo'

	IF @@rowcount > 0 BEGIN

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Marca_4_Bo',CodArtPiatt,IsNull(P_Marca4Bo,0),Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_Marca4Bo > 0
	END
	
		--------- Inserisco il Listino Piattaforme (Prezzo di Tyre24 - 0.50 Centesimi -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'Piattaforme'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'Piattaforme'

	IF @@rowcount > 0 BEGIN

		--INSERT INTO [B2b].[dbo].[Listini]
		--	([CodListino],CodArt,PNetto,CodMag)
		--SELECT
		--	'Piattaforme',CodArtPiatt,IsNull(COALESCE(P_T24_24H,P_T24_48H,P_T24_72H)-0.5,0),Codice
		--FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND COALESCE(P_T24_24H,P_T24_48H,P_T24_72H) > 0

		------- Modifica per Visualizzare LDC come Magazzino Separato -----
		--INSERT INTO [B2b].[dbo].[Listini]
		--	([CodListino],CodArt,PNetto,CodMag)
		--SELECT
		--	'Piattaforme',CodArtPiatt,IsNull(COALESCE(P_T24_24H,P_T24_48H,P_T24_72H)-0.5,0),'LDC'
		--FROM B2b.dbo.Vw_DispNetta24H_Ldc INNER JOIN piattaformeweb.dbo.OfferteWeb_1Pass ON CodiceArticolo = Codice
		--WHERE Vw_DispNetta24H_Ldc.Qta > 0 AND IdFornitore = 4 AND COALESCE(P_T24_24H,P_T24_48H,P_T24_72H) > 0
			
		SET @CostoTraspoto = 5.5

		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Piattaforme',CodArtPiatt,(CASE WHEN TipoPubPiatt = '72H' THEN P_PiattSenzaTrasp - @CostoTraspoto ELSE P_PiattSenzaTrasp END) ,Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE Posizione = 1 AND P_PiattSenzaTrasp > 0

		----- Modifica per Visualizzare LDC come Magazzino Separato -----
		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'Piattaforme',CodArtPiatt,P_PiattSenzaTrasp,'LDC'
		FROM B2b.dbo.Vw_DispNetta24H_Ldc INNER JOIN piattaformeweb.dbo.OfferteWeb_1Pass ON CodiceArticolo = Codice
		WHERE Vw_DispNetta24H_Ldc.Qta > 0 AND IdFornitore = 4 AND P_PiattSenzaTrasp > 0
		
	END

	--------- Inserisco il Listino Piattaforme (Prezzo di Tyre24 - 0.50 Centesimi -----------
	DELETE [B2b].[dbo].[Listini] WHERE CodListino = 'PiattaformeES'

	SELECT TOP 1 IdClienti FROM B2b.dbo.Vw_Clienti WHERE INTERNET = 'PiattaformeES'

	IF @@rowcount > 0 BEGIN
		
		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'PiattaformeEs',CodArtPiatt,P_PiattSenzaTrasp,Codice
		FROM OfferteWeb_1Pass INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE PosEsteri = 1 AND P_PiattSenzaTrasp > 0 AND TipoPubPiatt IN ('24H','48H')

		----- Modifica per Visualizzare LDC come Magazzino Separato -----
		INSERT INTO [B2b].[dbo].[Listini]
			([CodListino],CodArt,PNetto,CodMag)
		SELECT
			'PiattaformeEs',CodArtPiatt,P_PiattSenzaTrasp,'LDC'
		FROM B2b.dbo.Vw_DispNetta24H_Ldc INNER JOIN piattaformeweb.dbo.OfferteWeb_1Pass ON CodiceArticolo = Codice
		WHERE Vw_DispNetta24H_Ldc.Qta > 0 AND IdFornitore = 4 AND P_PiattSenzaTrasp > 0
		
	END
	
END

