USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[OWE1_EliminoFornitoriDaPubb]    Script Date: 20/06/2025 10:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================================================================================
-- Author:		<Sacco,,Antonio>
-- Create date: <04-10-2015>
-- Description:	<Listini Automatici Piattaforme e PDV>
-- Qui decide quali Magazzini delle Nostre Gomme Pubblicare !!!!
-- =======================================================================================================================================
ALTER PROCEDURE [dbo].[OWE1_EliminoFornitoriDaPubb]
	-- Add the parameters for the stored procedure here

AS
BEGIN

	SET NOCOUNT ON;
	
	/*
		Ricordarsi di Mettere la Stessa Cosa anche nella Procedura di Creazione del Ranking Primache lo Esegua così non Perdiamo Articoli da Pubblicare !!
	*/
	
	-- ===== 26-01-24 Cancello Bridgestone moto e scooter ===== --

	--DELETE OfferteWeb_1Pass
	--WHERE IdFornitore = 19 AND SettoreId IN (16,91)

	--============================================ Cancello Pubblicazione Fornitori ==========================================================================================
	--UPDATE OfferteWeb_1Pass
	--	SET P_T24_GER = NULL
	--WHERE IdFornitore IN (3) -- Cancello da T24 Germania la pubblicazione di Univergomma

	--============================================ Cancello Pubblicazione Gomme BESTDRIVE ==========================================================================================
	DELETE OfferteWeb_1Pass
	WHERE MarcaId = 258 -- Cancello la Pubblicazione Delle Gomme BESTDRIVE

	--============================================ Cancello Pubblicazione Gomme che hanno un prezzo inferiore a 15€ ==========================================================================================
	DELETE OfferteWeb_1Pass
	WHERE P_T24_24H < 16  AND DOT_Forn IS NULL -- Cancello la Pubblicazione Delle Gomme con il costo inferiore a 16€

	DELETE OfferteWeb_1Pass
	WHERE P_T24_48H < 16 AND DOT_Forn IS NULL AND IdFornitore IN (6,8) -- Cancello la Pubblicazione Delle Gomme con il costo inferiore a 16€

	DELETE OfferteWeb_1Pass
	WHERE P_T24_72H < 16 -- Cancello la Pubblicazione Delle Gomme con il costo inferiore a 16€

	--============================================ Cancellogli Articoli con DOT che non siano nostri ==========================================================================================

	--DELETE Ant_ArticoVsPiattaforme
	--WHERE DOT_Fornitore IS NOT NULL
	--AND IdFornitore NOT IN (4,6,8) -- Solo i nostri possono rimanere

END

