USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[PreparaFileRankingT24_DE]    Script Date: 20/06/2025 10:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[PreparaFileRankingT24_DE]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;



	BEGIN TRY

		BEGIN TRANSACTION

			--==================================== Importo il CSV del Ranking 24H ====================================--
			DECLARE @CodiceOfferta int,@IdFornitore int,@TipoFornitore Varchar(5),@DescrFornitore Varchar(80), @dbname sysname, @TFileName varchar(200),@RicaricoMinimo int = 5, @SQLQuery AS VARCHAR(2000), @Errore varchar(1000), @rc int, @var varchar(4000)
			DECLARE @body nvarchar(4000),@TProfileName varchar(50),@to_mails nvarchar(500) = 'antonio.sacco@bolognagomme.com',@cc_mails nvarchar(500) = '',@ccn_mails nvarchar(500) = '',@subject nvarchar(500)

			SET @TFileName = 'C:\Antonio\Tyre24\Ranking\24_Lista_dei_piazzamenti_R_de.csv'

			-- ==================================== Importo il CSV del Ranking 24H ==================================== --

			-- Step 1: Create a temporary table for valid data
			IF OBJECT_ID('tempdb..#RawCsvData') IS NOT NULL
				DROP TABLE #RawCsvData;

			TRUNCATE TABLE Tyre24RankingCsvAppoggio

			-- Step 3: Read the file line by line and insert valid rows into the temporary table
			DECLARE @FilePath NVARCHAR(255) = 'C:\Antonio\Tyre24\Ranking\24_Lista_dei_piazzamenti_R_de.csv';
			DECLARE @Command NVARCHAR(4000);
			DECLARE @Line NVARCHAR(MAX);

			SET @Command = 'powershell -command "Get-Content -Path ' + @FilePath + ' | ForEach-Object { $_ }"';

			CREATE TABLE #RawCsvData (Line NVARCHAR(MAX));

			INSERT INTO #RawCsvData (Line)
			EXEC xp_cmdshell @Command;

			-- Step 4: Process each line, splitting the data and inserting valid rows into the temporary table
			DECLARE @Articolo NVARCHAR(MAX), @Designazione NVARCHAR(MAX), @Il_tuo_prezzo_EUR_da_2_Pezzo NVARCHAR(MAX),
					@Prezzo_piu_basso_attuale_EUR_da_2_Pezzo NVARCHAR(MAX), @Piazzamento_da_2_Pezzo NVARCHAR(MAX),
					@Tyre24_ID NVARCHAR(MAX), @Il_tuo_prezzo_EUR_1_Pezzo NVARCHAR(MAX), @Prezzo_piu_basso_attuale_EUR_1_Pezzo NVARCHAR(MAX),
					@Piazzamento_1_Pezzo NVARCHAR(MAX);

			DECLARE @RowData TABLE (Field NVARCHAR(MAX));

			DECLARE LineCursor CURSOR FOR
			SELECT Line FROM #RawCsvData WHERE Line IS NOT NULL AND LEN(Line) > 0 AND Line LIKE '%;%';

			OPEN LineCursor;
			FETCH NEXT FROM LineCursor INTO @Line;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				-- Split the line into columns
				DELETE FROM @RowData;
				INSERT INTO @RowData (Field)
				SELECT value FROM STRING_SPLIT(REPLACE(@Line, '"', ''), ';');

				-- Assign values to variables
				SELECT @Articolo = (SELECT Field FROM @RowData ORDER BY (SELECT NULL) OFFSET 0 ROWS FETCH NEXT 1 ROW ONLY),
					   @Designazione = (SELECT Field FROM @RowData ORDER BY (SELECT NULL) OFFSET 1 ROWS FETCH NEXT 1 ROW ONLY),
					   @Il_tuo_prezzo_EUR_da_2_Pezzo = (SELECT Field FROM @RowData ORDER BY (SELECT NULL) OFFSET 2 ROWS FETCH NEXT 1 ROW ONLY),
					   @Prezzo_piu_basso_attuale_EUR_da_2_Pezzo = (SELECT Field FROM @RowData ORDER BY (SELECT NULL) OFFSET 3 ROWS FETCH NEXT 1 ROW ONLY),
					   @Piazzamento_da_2_Pezzo = (SELECT Field FROM @RowData ORDER BY (SELECT NULL) OFFSET 4 ROWS FETCH NEXT 1 ROW ONLY),
					   @Tyre24_ID = (SELECT Field FROM @RowData ORDER BY (SELECT NULL) OFFSET 5 ROWS FETCH NEXT 1 ROW ONLY),
					   @Il_tuo_prezzo_EUR_1_Pezzo = (SELECT Field FROM @RowData ORDER BY (SELECT NULL) OFFSET 6 ROWS FETCH NEXT 1 ROW ONLY),
					   @Prezzo_piu_basso_attuale_EUR_1_Pezzo = (SELECT Field FROM @RowData ORDER BY (SELECT NULL) OFFSET 7 ROWS FETCH NEXT 1 ROW ONLY),
					   @Piazzamento_1_Pezzo = (SELECT Field FROM @RowData ORDER BY (SELECT NULL) OFFSET 8 ROWS FETCH NEXT 1 ROW ONLY);

				-- Insert the data into the temporary table
				IF @Articolo IS NOT NULL AND @Designazione IS NOT NULL
				BEGIN
					INSERT INTO Tyre24RankingCsvAppoggio 
			(Articolo, Designazione, Il_tuo_prezzo_EUR_da_2_Pezzo, Prezzo_piu_basso_attuale_EUR_da_2_Pezzo, Piazzamento_da_2_Pezzo, Tyre24_ID, Il_tuo_prezzo_EUR_1_Pezzo, Prezzo_piu_basso_attuale_EUR_1_Pezzo, Piazzamento_1_Pezzo)
					VALUES (@Articolo, @Designazione, @Il_tuo_prezzo_EUR_da_2_Pezzo, @Prezzo_piu_basso_attuale_EUR_da_2_Pezzo,
							@Piazzamento_da_2_Pezzo, @Tyre24_ID, @Il_tuo_prezzo_EUR_1_Pezzo, @Prezzo_piu_basso_attuale_EUR_1_Pezzo,
							@Piazzamento_1_Pezzo);
				END

				FETCH NEXT FROM LineCursor INTO @Line;
			END

			CLOSE LineCursor;
			DEALLOCATE LineCursor;

			-- ===== Pulisco la TBL e cancello righe con eventuali errori ===== --

			DELETE Tyre24RankingCsvAppoggio WHERE ISNUMERIC(Il_tuo_prezzo_EUR_da_2_Pezzo ) = 0
			DELETE Tyre24RankingCsvAppoggio WHERE ISNUMERIC(Prezzo_piu_basso_attuale_EUR_da_2_Pezzo ) = 0 AND LTRIM(RTRIM(Prezzo_piu_basso_attuale_EUR_da_2_Pezzo)) <> '.'

			UPDATE Tyre24RankingCsvAppoggio
			SET 
				Articolo = REPLACE(Articolo, '"', ''),
				Designazione = REPLACE(Designazione, '"', ''),
				Il_tuo_prezzo_EUR_da_2_Pezzo = REPLACE(Il_tuo_prezzo_EUR_da_2_Pezzo, '"', ''),
				Prezzo_piu_basso_attuale_EUR_da_2_Pezzo = REPLACE(Prezzo_piu_basso_attuale_EUR_da_2_Pezzo, '"', ''),
				Piazzamento_da_2_Pezzo = REPLACE(Piazzamento_da_2_Pezzo, '"', ''),
				Tyre24_ID = REPLACE(Tyre24_ID, '"', ''),
				Il_tuo_prezzo_EUR_1_Pezzo = REPLACE(Il_tuo_prezzo_EUR_1_Pezzo, '"', ''),
				Prezzo_piu_basso_attuale_EUR_1_Pezzo = REPLACE(Prezzo_piu_basso_attuale_EUR_1_Pezzo, '"', ''),
				Piazzamento_1_Pezzo = REPLACE(Piazzamento_1_Pezzo, '"', '');

			-- Verifica i dati importati
			--SELECT * FROM Tyre24RankingCsvAppoggio;

			-- Inserisco i dati nella TBL ufficiale
			TRUNCATE TABLE Ant_RankingTyre24Csv

			INSERT INTO Ant_RankingTyre24Csv 
			(Codice, Descr, NostroPrezzo, MigliorPrezzo, Posizione, IdTyre24, NostroPrezzo1Pezzo, MigliorPrezzo1Pezzo, Posizione1Pezzo)
			SELECT
			LEFT(LTRIM(Articolo),100), LEFT(LTRIM(Designazione),100), LEFT(LTRIM(Il_tuo_prezzo_EUR_da_2_Pezzo),100), LEFT(LTRIM(Prezzo_piu_basso_attuale_EUR_da_2_Pezzo),100), LEFT(LTRIM(Piazzamento_da_2_Pezzo),100), LEFT(LTRIM(Tyre24_ID),100), LEFT(LTRIM(Il_tuo_prezzo_EUR_1_Pezzo),100), LEFT(LTRIM(Prezzo_piu_basso_attuale_EUR_1_Pezzo),100), LEFT(LTRIM(Piazzamento_1_Pezzo),100)
			FROM Tyre24RankingCsvAppoggio;

			-- ===== Pulisco la TBL e cancello righe con eventuali errori ===== --

			DELETE Ant_RankingTyre24Csv WHERE ISNUMERIC(NostroPrezzo ) = 0
			DELETE Ant_RankingTyre24Csv WHERE ISNUMERIC(MigliorPrezzo ) = 0
			DELETE Ant_RankingTyre24Csv WHERE ISNUMERIC(NostroPrezzo1Pezzo ) = 0
			DELETE Ant_RankingTyre24Csv WHERE ISNUMERIC(MigliorPrezzo1Pezzo ) = 0
		
			UPDATE Ant_RankingTyre24Csv
				SET codice = Replace(Replace(codice,'"',''),' ',''),IdTyre24 = Replace(Replace(Replace(IdTyre24,'"',''),' ',''),';','')

			UPDATE Ant_RankingTyre24Csv -- Controllo dove siamo Primi
				SET MigliorPrezzo = NostroPrezzo
			WHERE MigliorPrezzo = '-' AND Posizione LIKE '1.%'

			TRUNCATE TABLE Ant_RankingTyre24_DE

			INSERT INTO [PiattaformeWeb].[dbo].Ant_RankingTyre24_DE -- Inserisco i Dati del 24H
				([Codice],[Descr],[NostroPrezzo],[MigliorPrezzo],[Posizione],[IdTyre24],Ranking)
			SELECT
				LEFT(LTRIM([Codice]),30),LEFT(LTRIM([Descr]),100),TRY_CONVERT(FLOAT,[NostroPrezzo]),TRY_CONVERT(FLOAT,[MigliorPrezzo]),LEFT(LTRIM([Posizione]),10),[IdTyre24],'24H'
			FROM Ant_RankingTyre24Csv

			------------------------------------------------- Procedura Email su Errore di un Codice Generato -------------------------------------------------------------------------------------
			SET @TProfileName = 'SQL'
			IF  LEN(LTRIM(RTRIM(@Errore))) > 5 BEGIN
				SET @subject = 'Alert File CSV RankingTyre24'
				set @body = ''
				set @body = @body + 'File CSV da Verificare,'+ char(10) + char(13) + isnull(@Errore,'') + char(10) + char(13) + char(10) + char(13)
				set @body = @body + '_______________________________'
				if @body is null set @body = ''
				-- invio mail	
				EXEC msdb.dbo.sp_send_dbmail 
					@profile_name			=	@TProfileName,
					@recipients				=	@to_mails,
					@copy_recipients		=	@cc_mails,
					@blind_copy_recipients	=	@ccn_mails,
					@subject				=	@subject,
					@body					=	@body
		
			END
		COMMIT TRANSACTION
    END TRY
    BEGIN CATCH

		-- Se si è verificato un errore, Faccio il rollback dei dati inseriti
        ROLLBACK TRANSACTION

        -- Gestione degli errori
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
		DECLARE @Errorline VARCHAR(50)
		DECLARE @ErrorProcedure VARCHAR(50)

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE(),
			@Errorline = ERROR_LINE( ),
			@ErrorProcedure = ERROR_PROCEDURE( )

        -- Invia un'email di notifica
		SET @body = 'Si è verificato un errore durante l''importazione del file CSV: ' + @ErrorMessage + ' Linea: ' + @Errorline + ' Stored: ' + @ErrorProcedure
        EXEC msdb.dbo.sp_send_dbmail
            @profile_name = 'SQL',
            @recipients = @to_mails,
            @subject = 'Errore durante l''importazione CSV Tyre24_DE',
            @body = @body

        -- Rilancia l'errore
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState, @Errorline, @ErrorProcedure);
    END CATCH
END
