USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[Ant_ImportOrdiniTyre24]    Script Date: 23/06/2025 12:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[Ant_ImportOrdiniTyre24]

AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		--================= Importazione Ordini Tyre24 ===========================--

		DECLARE @URL NVARCHAR(255),@file NVARCHAR(255), @cmd NVARCHAR(255),@NomeFileXml varchar(200),@Bulk nvarchar(500),@Ordine varchar(80),@Id int,@NomeCsvDaArchiviare Varchar(400),@Data as varchar(25) = Replace((SELECT Ltrim(Rtrim(Cast(GETDATE() AS DATE))) + '_' + Left(LTRIM(Rtrim(CAST(GETDATE() AS TIME))),8)),':','')
		DECLARE @ApyKey VARCHAR(400), @RitornoComferma varchar(250), @Json VARCHAR(MAX)
		DECLARE @XML AS XML, @hDoc AS INT

		DECLARE @ListaFile TABLE (ID int IDENTITY, [TFileName] varchar(100))

		-- ================================================================================================================================================================= --
		-- ================================================================= PROCEDURA DOWNLOAD TYRE24 24H ================================================================= --
		-- ================================================================================================================================================================= --

		DECLARE @ApyKey2 VARCHAR(400) = 'MDZiNDFlZmJiMzVkZmViYjI1OWY2MzlhNmI0ZDJjOGMxYWEzYjY4ZjBlMTdjYTk2Nzk0YTg4OTg3OTc3ZmM5YWJmNWFiMzYyYzA4NDI1MTAzM2E3MmI2OGYyZDQ0ZjEyY2ZmMWFlYjEwOGZhNjI=' -- Questo del secondo account 24H 1381

		EXEC Tyre24.dbo.SP_ScaricoUltimoOrdineT24_PowerShell @ApyKey2, 'it', 0, 0, 0, 'SELLER', 0, @RitornoComferma OUTPUT

		-- Possibili Json Scaricati con Errori da Cancellare --
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table = '{"data":[],"meta":{"count":0}}'
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table LIKE '%"error":"ERR_REQUEST_LIMIT_EXCEEDED"%' 
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table LIKE '%"error_code":"ERR_GENERAL"%'

		-- Elaboro TUTTI gli ordini non elaborati per l'account 24H
		WHILE EXISTS (SELECT 1 FROM tyre24.dbo.Tjson_BGD WHERE Elaborato = 0)
		BEGIN
			SET @Json = (SELECT TOP 1 tb.Json_Table FROM tyre24.dbo.Tjson_BGD tb WHERE tb.Elaborato = 0)

			-- Verifico se ci sono ordini nel JSON prima di procedere
			IF EXISTS (SELECT 1 FROM OPENJSON(@Json, '$.data') AS order_json WHERE JSON_VALUE(order_json.value, '$.order') IS NOT NULL)
			BEGIN 
				
				INSERT INTO PiattaformeWeb.dbo.[Ant_OrdiniTyre24_Tmp]
					([TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment],[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
					[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
					,[Tbuyer_ustid],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_iban]
					,[Tbuyer_swift_bic],[Tbuyer_country],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2]
					,[Tprice_net],[Tquantity],[Twholesaler_item_number],[TipoOrdine], Tpayment_method_generic_cost)
				SELECT
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.order')), 25) AS order_number,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 10) AS article_type,
				JSON_VALUE(order_json.value, '$.payment.method.price.net') AS payment_price_net,
				JSON_VALUE(order_json.value, '$.buyer.id') AS buyer_id,
				CONVERT(DATETIME, JSON_VALUE(order_json.value, '$.date'), 120) AS order_date,
				JSON_VALUE(order_json.value, '$.sum.net') AS sum_net,
				JSON_VALUE(order_json.value, '$.sum.gross') AS sum_gross,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.comment')), 8000) AS order_comment,
				IIF(JSON_VALUE(order_json.value, '$.shipping.delivery_address.use_alternative_address') = 'true', 1, 0) AS use_alternative_address,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.name')), 50) AS shipping_address_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.street')), 50) AS shipping_address_street,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.zip')), 10) AS shipping_address_zip,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.city')), 50) AS shipping_address_city,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.country')), 50) AS shipping_address_country,
				IIF(JSON_VALUE(order_json.value, '$.shipping.neutral') = 'true', 1, 0) AS shipping_neutral,
				JSON_VALUE(order_json.value, '$.shipping.handling_fee.net') AS handling_fee_net,
				JSON_VALUE(order_json.value, '$.shipping.method.id') AS shipping_method_id,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.method.name')), 100) AS shipping_method_name,
				JSON_VALUE(order_json.value, '$.shipping.method.price.net') AS shipping_price_net,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.name')), 50) AS buyer_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.street')), 50) AS buyer_street,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.zip')), 10) AS buyer_zip,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.city')), 50) AS buyer_city,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.tax.sales_tax_identification_number')), 20) AS buyer_sales_tax_id,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.bank')), 50) AS buyer_bank_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.owner')), 50) AS buyer_bank_owner,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.iban')), 50) AS buyer_bank_iban,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.bic_swift')), 50) AS buyer_bank_bic_swift,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.country')), 50) AS buyer_country,
				JSON_VALUE(order_json.value, '$.payment.method.id') AS payment_method_id,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.payment.method.name')), 50) AS payment_method_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.payment.method.text')), 250) AS payment_method_text,
				JSON_VALUE(order_json.value, '$.payment.price_additional.net') AS payment_price_additional_net,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.country')), 50) AS country,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 1) AS article_type_pos,
				JSON_VALUE(position.value, '$.status') AS position_status,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.alzura_id')), 50) AS alzura_id,
				JSON_VALUE(position.value, '$.id') AS position_id,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 1) AS article_type_pos2,
				JSON_VALUE(position.value, '$.status') AS position_status2,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.position_name')), 50) AS position_name,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.position_description')), 50) AS position_description,
				JSON_VALUE(position.value, '$.price.net') AS position_price_net,
				JSON_VALUE(position.value, '$.quantity') AS quantity,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.supplier_item_number')), 40) AS supplier_item_number,
				'Tyre24_24H',
				0
				FROM
					OPENJSON(@Json, '$.data') AS order_json
					CROSS APPLY OPENJSON(order_json.value, '$.positions') AS position;

				-- Pulisco il Campo Partita Iva nel caso fosse vuoto per poi fermare la lavorazione dopo nel DOC T24 --
				UPDATE Ant_OrdiniTyre24_Tmp
					SET Tbuyer_ustid = NULL
				WHERE LTRIM(RTRIM(Tbuyer_ustid)) = ''

				INSERT INTO [Ant_OrdiniTyre24]
					([TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment] ,[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
					[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_name2],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
					,[Tbuyer_ustid],[Tbuyer_phone],[Tbuyer_fax],[Tbuyer_contact],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_cr_index],[Tbuyer_cr_check_date],[Tbuyer_cr_limit],[Tbuyer_cr_text],[Tbuyer_iban]
					,[Tbuyer_swift_bic],[Tbuyer_country],[Tsepa_mandate_reference],[Tsepa_mandate_pdf],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_costs_currency],[Tpayment_method_generic_cost],
					[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2],[Tposition_name3]
					,[Tprice_net],[Tquantity],[Ttax],[Tean],TArticleId,TmanufacturerName,Tmanufacturer_number,TarticleReference,Tbrand_id,[Twholesaler_item_number],[Txml_id],[TipoOrdine],Tbuyer_recipient_code)
				SELECT DISTINCT
					[TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment] ,[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
					[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_name2],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
					,[Tbuyer_ustid],[Tbuyer_phone],[Tbuyer_fax],[Tbuyer_contact],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_cr_index],[Tbuyer_cr_check_date],[Tbuyer_cr_limit],[Tbuyer_cr_text],[Tbuyer_iban]
					,[Tbuyer_swift_bic],[Tbuyer_country],[Tsepa_mandate_reference],[Tsepa_mandate_pdf],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_costs_currency],[Tpayment_method_generic_cost],
					[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2],[Tposition_name3]
					,[Tprice_net],[Tquantity],[Ttax],[Tean],TArticleId,TmanufacturerName,Tmanufacturer_number,TarticleReference,Tbrand_id,[Twholesaler_item_number],[Txml_id],[TipoOrdine],Tbuyer_recipient_code
				FROM [Ant_OrdiniTyre24_Tmp]
				WHERE NOT EXISTS (SELECT ID FROM Ant_OrdiniTyre24 WHERE ltrim(Rtrim(Ant_OrdiniTyre24.TOrdineNr)) = ltrim(rtrim(Ant_OrdiniTyre24_Tmp.TOrdineNr)) )

			END

			-- Segno come elaborato il JSON corrente
			UPDATE tyre24.dbo.Tjson_BGD
				SET Elaborato = 1
			WHERE Json_Table = @Json

		END

		-- ================================================================================================================================================================================== --
		-- =============================================================== PROCEDURA DOWNLOAD TYRE24 72H ==================================================================================== --
		-- ================================================================================================================================================================================== --

		SET @ApyKey = 'YTc3NjQ0MzViNTNjZGExM2I3N2UwNGI5ZWUxYzAwNzY1NDllMWY3M2MxZGFhMjkzMTRjZTMyZDJlYjY4OTQ4ZGViNmZhODUyNTE5MGY4NTRhOWI5NGZjNDNkNDY0NDhjNjY2OTJhNTFhMDdlOWUwMDA=' -- Questo del 203250 72H

		EXEC Tyre24.dbo.SP_ScaricoUltimoOrdineT24_PowerShell @ApyKey, 'it', 0, 0, 0, 'SELLER', 0, @RitornoComferma OUTPUT

		TRUNCATE TABLE PiattaformeWeb.dbo.[Ant_OrdiniTyre24_Tmp]

		-- Possibili Json Scaricati con Errori da Cancellare --
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table = '{"data":[],"meta":{"count":0}}'
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table LIKE '%"error":"ERR_REQUEST_LIMIT_EXCEEDED"%' 
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table LIKE '%"error_code":"ERR_GENERAL"%'

		-- Elaboro TUTTI gli ordini non elaborati per l'account 72H
		WHILE EXISTS (SELECT 1 FROM tyre24.dbo.Tjson_BGD WHERE Elaborato = 0)
		BEGIN
			SET @Json = (SELECT TOP 1 tb.Json_Table FROM tyre24.dbo.Tjson_BGD tb WHERE tb.Elaborato = 0)

			-- Verifico se ci sono ordini nel JSON prima di procedere
			IF EXISTS (SELECT 1 FROM OPENJSON(@Json, '$.data') AS order_json WHERE JSON_VALUE(order_json.value, '$.order') IS NOT NULL)
			BEGIN 
				
				INSERT INTO PiattaformeWeb.dbo.[Ant_OrdiniTyre24_Tmp]
					([TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment],[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
					[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
					,[Tbuyer_ustid],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_iban]
					,[Tbuyer_swift_bic],[Tbuyer_country],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2]
					,[Tprice_net],[Tquantity],[Twholesaler_item_number],[TipoOrdine], Tpayment_method_generic_cost)
				SELECT
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.order')), 25) AS order_number,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 10) AS article_type,
				JSON_VALUE(order_json.value, '$.payment.method.price.net') AS payment_price_net,
				JSON_VALUE(order_json.value, '$.buyer.id') AS buyer_id,
				CONVERT(DATETIME, JSON_VALUE(order_json.value, '$.date'), 120) AS order_date,
				JSON_VALUE(order_json.value, '$.sum.net') AS sum_net,
				JSON_VALUE(order_json.value, '$.sum.gross') AS sum_gross,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.comment')), 8000) AS order_comment, -- VARCHAR(MAX) - Usa 8000 come limite ragionevole
				IIF(JSON_VALUE(order_json.value, '$.shipping.delivery_address.use_alternative_address') = 'true', 1, 0) AS use_alternative_address,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.name')), 50) AS shipping_address_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.street')), 50) AS shipping_address_street,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.zip')), 10) AS shipping_address_zip,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.city')), 50) AS shipping_address_city,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.country')), 50) AS shipping_address_country,
				IIF(JSON_VALUE(order_json.value, '$.shipping.neutral') = 'true', 1, 0) AS shipping_neutral,
				JSON_VALUE(order_json.value, '$.shipping.handling_fee.net') AS handling_fee_net,
				JSON_VALUE(order_json.value, '$.shipping.method.id') AS shipping_method_id,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.method.name')), 100) AS shipping_method_name,
				JSON_VALUE(order_json.value, '$.shipping.method.price.net') AS shipping_price_net,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.name')), 50) AS buyer_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.street')), 50) AS buyer_street,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.zip')), 10) AS buyer_zip,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.city')), 50) AS buyer_city,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.tax.sales_tax_identification_number')), 20) AS buyer_sales_tax_id,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.bank')), 50) AS buyer_bank_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.owner')), 50) AS buyer_bank_owner,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.iban')), 50) AS buyer_bank_iban,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.bic_swift')), 50) AS buyer_bank_bic_swift,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.country')), 50) AS buyer_country,
				JSON_VALUE(order_json.value, '$.payment.method.id') AS payment_method_id,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.payment.method.name')), 50) AS payment_method_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.payment.method.text')), 250) AS payment_method_text,
				JSON_VALUE(order_json.value, '$.payment.price_additional.net') AS payment_price_additional_net,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.country')), 50) AS country,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 1) AS article_type_pos,
				JSON_VALUE(position.value, '$.status') AS position_status,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.alzura_id')), 50) AS alzura_id, -- Aggiunto troncamento per alzura_id
				JSON_VALUE(position.value, '$.id') AS position_id,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 1) AS article_type_pos2,
				JSON_VALUE(position.value, '$.status') AS position_status2,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.position_name')), 50) AS position_name,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.position_description')), 50) AS position_description,
				JSON_VALUE(position.value, '$.price.net') AS position_price_net,
				JSON_VALUE(position.value, '$.quantity') AS quantity,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.supplier_item_number')), 40) AS supplier_item_number,
				'Tyre24_72H',
				0
				FROM
					OPENJSON(@Json, '$.data') AS order_json
					CROSS APPLY OPENJSON(order_json.value, '$.positions') AS position;

				-- Pulisco il Campo Partita Iva nel caso fosse vuoto per poi fermare la lavorazione dopo nel DOC T24 --
				UPDATE Ant_OrdiniTyre24_Tmp
					SET Tbuyer_ustid = NULL
				WHERE LTRIM(RTRIM(Tbuyer_ustid)) = ''

				INSERT INTO [Ant_OrdiniTyre24]
					([TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment] ,[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
					[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_name2],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
					,[Tbuyer_ustid],[Tbuyer_phone],[Tbuyer_fax],[Tbuyer_contact],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_cr_index],[Tbuyer_cr_check_date],[Tbuyer_cr_limit],[Tbuyer_cr_text],[Tbuyer_iban]
					,[Tbuyer_swift_bic],[Tbuyer_country],[Tsepa_mandate_reference],[Tsepa_mandate_pdf],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_costs_currency],[Tpayment_method_generic_cost],
					[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2],[Tposition_name3]
					,[Tprice_net],[Tquantity],[Ttax],[Tean],TArticleId,TmanufacturerName,Tmanufacturer_number,TarticleReference,Tbrand_id,[Twholesaler_item_number],[Txml_id],[TipoOrdine],Tbuyer_recipient_code)
				SELECT DISTINCT
					[TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment] ,[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
					[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_name2],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
					,[Tbuyer_ustid],[Tbuyer_phone],[Tbuyer_fax],[Tbuyer_contact],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_cr_index],[Tbuyer_cr_check_date],[Tbuyer_cr_limit],[Tbuyer_cr_text],[Tbuyer_iban]
					,[Tbuyer_swift_bic],[Tbuyer_country],[Tsepa_mandate_reference],[Tsepa_mandate_pdf],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_costs_currency],[Tpayment_method_generic_cost],
					[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2],[Tposition_name3]
					,[Tprice_net],[Tquantity],[Ttax],[Tean],TArticleId,TmanufacturerName,Tmanufacturer_number,TarticleReference,Tbrand_id,[Twholesaler_item_number],[Txml_id],[TipoOrdine],Tbuyer_recipient_code
				FROM [Ant_OrdiniTyre24_Tmp]
				WHERE NOT EXISTS (SELECT ID FROM Ant_OrdiniTyre24 WHERE ltrim(Rtrim(Ant_OrdiniTyre24.TOrdineNr)) = ltrim(rtrim(Ant_OrdiniTyre24_Tmp.TOrdineNr)) )

			END

			-- Segno come elaborato il JSON corrente
			UPDATE tyre24.dbo.Tjson_BGD
				SET Elaborato = 1
			WHERE Json_Table = @Json

		END

		-- ================================================================================================================================================================= --
		-- ================================================================= PROCEDURA DOWNLOAD TYRE24 48H ================================================================= --
		-- ================================================================================================================================================================= --

		DECLARE @ApyKey3 VARCHAR(400) = 'YmMwMTExOGIzZDE0MmNmZWI3MGI1OWU4MzQ3OTE4NjliZWVhMWU5N2Y1OTBmMTkwNDI3OWRlNDJiOTJhMjA0ZDJlMjFiZTRjNTlmNDAxYWM3N2FkMDA0YjU4ZGQ4MjQyNDg0Mzk2MjE3ZmNmMDM=' -- Questo del terzo account 48H

		EXEC Tyre24.dbo.SP_ScaricoUltimoOrdineT24_PowerShell @ApyKey3, 'it', 0, 0, 0, 'SELLER', 0, @RitornoComferma OUTPUT

		-- Possibili Json Scaricati con Errori da Cancellare --
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table = '{"data":[],"meta":{"count":0}}'
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table LIKE '%"error":"ERR_REQUEST_LIMIT_EXCEEDED"%' 
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table LIKE '%"error_code":"ERR_GENERAL"%'

		-- Elaboro TUTTI gli ordini non elaborati per l'account 48H
		WHILE EXISTS (SELECT 1 FROM tyre24.dbo.Tjson_BGD WHERE Elaborato = 0)
		BEGIN
			SET @Json = (SELECT TOP 1 tb.Json_Table FROM tyre24.dbo.Tjson_BGD tb WHERE tb.Elaborato = 0)

			-- Verifico se ci sono ordini nel JSON prima di procedere
			IF EXISTS (SELECT 1 FROM OPENJSON(@Json, '$.data') AS order_json WHERE JSON_VALUE(order_json.value, '$.order') IS NOT NULL)
			BEGIN 
				
				INSERT INTO PiattaformeWeb.dbo.[Ant_OrdiniTyre24_Tmp]
					([TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment],[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
					[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
					,[Tbuyer_ustid],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_iban]
					,[Tbuyer_swift_bic],[Tbuyer_country],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2]
					,[Tprice_net],[Tquantity],[Twholesaler_item_number],[TipoOrdine], Tpayment_method_generic_cost)
				SELECT
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.order')), 25) AS order_number,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 10) AS article_type,
				JSON_VALUE(order_json.value, '$.payment.method.price.net') AS payment_price_net,
				JSON_VALUE(order_json.value, '$.buyer.id') AS buyer_id,
				CONVERT(DATETIME, JSON_VALUE(order_json.value, '$.date'), 120) AS order_date,
				JSON_VALUE(order_json.value, '$.sum.net') AS sum_net,
				JSON_VALUE(order_json.value, '$.sum.gross') AS sum_gross,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.comment')), 8000) AS order_comment,
				IIF(JSON_VALUE(order_json.value, '$.shipping.delivery_address.use_alternative_address') = 'true', 1, 0) AS use_alternative_address,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.name')), 50) AS shipping_address_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.street')), 50) AS shipping_address_street,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.zip')), 10) AS shipping_address_zip,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.city')), 50) AS shipping_address_city,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.country')), 50) AS shipping_address_country,
				IIF(JSON_VALUE(order_json.value, '$.shipping.neutral') = 'true', 1, 0) AS shipping_neutral,
				JSON_VALUE(order_json.value, '$.shipping.handling_fee.net') AS handling_fee_net,
				JSON_VALUE(order_json.value, '$.shipping.method.id') AS shipping_method_id,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.method.name')), 100) AS shipping_method_name,
				JSON_VALUE(order_json.value, '$.shipping.method.price.net') AS shipping_price_net,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.name')), 50) AS buyer_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.street')), 50) AS buyer_street,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.zip')), 10) AS buyer_zip,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.city')), 50) AS buyer_city,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.tax.sales_tax_identification_number')), 20) AS buyer_sales_tax_id,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.bank')), 50) AS buyer_bank_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.owner')), 50) AS buyer_bank_owner,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.iban')), 50) AS buyer_bank_iban,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.bic_swift')), 50) AS buyer_bank_bic_swift,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.country')), 50) AS buyer_country,
				JSON_VALUE(order_json.value, '$.payment.method.id') AS payment_method_id,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.payment.method.name')), 50) AS payment_method_name,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.payment.method.text')), 250) AS payment_method_text,
				JSON_VALUE(order_json.value, '$.payment.price_additional.net') AS payment_price_additional_net,
				LEFT(LTRIM(JSON_VALUE(order_json.value, '$.country')), 50) AS country,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 1) AS article_type_pos,
				JSON_VALUE(position.value, '$.status') AS position_status,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.alzura_id')), 50) AS alzura_id,
				JSON_VALUE(position.value, '$.id') AS position_id,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 1) AS article_type_pos2,
				JSON_VALUE(position.value, '$.status') AS position_status2,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.position_name')), 50) AS position_name,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.position_description')), 50) AS position_description,
				JSON_VALUE(position.value, '$.price.net') AS position_price_net,
				JSON_VALUE(position.value, '$.quantity') AS quantity,
				LEFT(LTRIM(JSON_VALUE(position.value, '$.supplier_item_number')), 40) AS supplier_item_number,
				'Tyre24_48H',
				0
				FROM
					OPENJSON(@Json, '$.data') AS order_json
					CROSS APPLY OPENJSON(order_json.value, '$.positions') AS position;

				-- Pulisco il Campo Partita Iva nel caso fosse vuoto per poi fermare la lavorazione dopo nel DOC T24 --
				UPDATE Ant_OrdiniTyre24_Tmp
					SET Tbuyer_ustid = NULL
				WHERE LTRIM(RTRIM(Tbuyer_ustid)) = ''

				INSERT INTO [Ant_OrdiniTyre24]
					([TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment] ,[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
					[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_name2],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
					,[Tbuyer_ustid],[Tbuyer_phone],[Tbuyer_fax],[Tbuyer_contact],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_cr_index],[Tbuyer_cr_check_date],[Tbuyer_cr_limit],[Tbuyer_cr_text],[Tbuyer_iban]
					,[Tbuyer_swift_bic],[Tbuyer_country],[Tsepa_mandate_reference],[Tsepa_mandate_pdf],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_costs_currency],[Tpayment_method_generic_cost],
					[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2],[Tposition_name3]
					,[Tprice_net],[Tquantity],[Ttax],[Tean],TArticleId,TmanufacturerName,Tmanufacturer_number,TarticleReference,Tbrand_id,[Twholesaler_item_number],[Txml_id],[TipoOrdine],Tbuyer_recipient_code)
				SELECT DISTINCT
					[TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment] ,[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
					[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_name2],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
					,[Tbuyer_ustid],[Tbuyer_phone],[Tbuyer_fax],[Tbuyer_contact],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_cr_index],[Tbuyer_cr_check_date],[Tbuyer_cr_limit],[Tbuyer_cr_text],[Tbuyer_iban]
					,[Tbuyer_swift_bic],[Tbuyer_country],[Tsepa_mandate_reference],[Tsepa_mandate_pdf],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_costs_currency],[Tpayment_method_generic_cost],
					[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2],[Tposition_name3]
					,[Tprice_net],[Tquantity],[Ttax],[Tean],TArticleId,TmanufacturerName,Tmanufacturer_number,TarticleReference,Tbrand_id,[Twholesaler_item_number],[Txml_id],[TipoOrdine],Tbuyer_recipient_code
				FROM [Ant_OrdiniTyre24_Tmp]
				WHERE NOT EXISTS (SELECT ID FROM Ant_OrdiniTyre24 WHERE ltrim(Rtrim(Ant_OrdiniTyre24.TOrdineNr)) = ltrim(rtrim(Ant_OrdiniTyre24_Tmp.TOrdineNr)) )

			END

			-- Segno come elaborato il JSON corrente
			UPDATE tyre24.dbo.Tjson_BGD
				SET Elaborato = 1
			WHERE Json_Table = @Json

		END

		-- ===================================================================================================================================================================== --
		-- ================================================================= PROCEDURA DOWNLOAD TYRE24 RICAMBI ================================================================= --
		-- ===================================================================================================================================================================== --

		DECLARE @ApyKey4 VARCHAR(400) = 'Njk4NmZmNjE5NDlmM2RiZmViZTg1NGQ1YTEyYTQzMGJjMzQ1NmZkNjIwNjA0MWY0MTNhMGM2MWM0MmE1YWRkODI3N2QyMjIyZTRlYjMwNjM0MzA4MzhmNTc3MzZlNjk0ODQ0MjRiOTU4MTdmMjQ=' -- Account Ricambi

		EXEC Tyre24.dbo.SP_ScaricoUltimoOrdineT24_PowerShell @ApyKey4, 'it', 0, 0, 0, 'SELLER', 0, @RitornoComferma OUTPUT

		-- Possibili Json Scaricati con Errori da Cancellare --
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table = '{"data":[],"meta":{"count":0}}'
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table LIKE '%"error":"ERR_REQUEST_LIMIT_EXCEEDED"%' 
		DELETE Tyre24.dbo.Tjson_BGD WHERE Json_Table LIKE '%"error_code":"ERR_GENERAL"%'

		-- Elaboro TUTTI gli ordini non elaborati per l'account Ricambi
		WHILE EXISTS (SELECT 1 FROM tyre24.dbo.Tjson_BGD WHERE Elaborato = 0)
		BEGIN
			SET @Json = (SELECT TOP 1 tb.Json_Table FROM tyre24.dbo.Tjson_BGD tb WHERE tb.Elaborato = 0)

			-- Verifico se ci sono ordini nel JSON prima di procedere
			IF EXISTS (SELECT 1 FROM OPENJSON(@Json, '$.data') AS order_json WHERE JSON_VALUE(order_json.value, '$.order') IS NOT NULL)
			BEGIN 
			
			INSERT INTO PiattaformeWeb.dbo.[Ant_OrdiniTyre24_Tmp]
				([TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment],[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
				[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
				,[Tbuyer_ustid],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_iban]
				,[Tbuyer_swift_bic],[Tbuyer_country],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2]
				,[Tprice_net],[Tquantity],[Twholesaler_item_number],[TipoOrdine], Tpayment_method_generic_cost)
			SELECT
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.order')), 25) AS order_number,
			LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 10) AS article_type,
			JSON_VALUE(order_json.value, '$.payment.method.price.net') AS payment_price_net,
			JSON_VALUE(order_json.value, '$.buyer.id') AS buyer_id,
			CONVERT(DATETIME, JSON_VALUE(order_json.value, '$.date'), 120) AS order_date,
			JSON_VALUE(order_json.value, '$.sum.net') AS sum_net,
			JSON_VALUE(order_json.value, '$.sum.gross') AS sum_gross,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.comment')), 8000) AS order_comment,
			IIF(JSON_VALUE(order_json.value, '$.shipping.delivery_address.use_alternative_address') = 'true', 1, 0) AS use_alternative_address,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.name')), 50) AS shipping_address_name,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.street')), 50) AS shipping_address_street,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.zip')), 10) AS shipping_address_zip,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.city')), 50) AS shipping_address_city,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.delivery_address.address.country')), 50) AS shipping_address_country,
			IIF(JSON_VALUE(order_json.value, '$.shipping.neutral') = 'true', 1, 0) AS shipping_neutral,
			JSON_VALUE(order_json.value, '$.shipping.handling_fee.net') AS handling_fee_net,
			JSON_VALUE(order_json.value, '$.shipping.method.id') AS shipping_method_id,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.shipping.method.name')), 100) AS shipping_method_name,
			JSON_VALUE(order_json.value, '$.shipping.method.price.net') AS shipping_price_net,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.name')), 50) AS buyer_name,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.street')), 50) AS buyer_street,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.zip')), 10) AS buyer_zip,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.city')), 50) AS buyer_city,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.tax.sales_tax_identification_number')), 20) AS buyer_sales_tax_id,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.bank')), 50) AS buyer_bank_name,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.owner')), 50) AS buyer_bank_owner,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.iban')), 50) AS buyer_bank_iban,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.bank.bic_swift')), 50) AS buyer_bank_bic_swift,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.buyer.address.country')), 50) AS buyer_country,
			JSON_VALUE(order_json.value, '$.payment.method.id') AS payment_method_id,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.payment.method.name')), 50) AS payment_method_name,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.payment.method.text')), 250) AS payment_method_text,
			JSON_VALUE(order_json.value, '$.payment.price_additional.net') AS payment_price_additional_net,
			LEFT(LTRIM(JSON_VALUE(order_json.value, '$.country')), 50) AS country,
			LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 1) AS article_type_pos,
			JSON_VALUE(position.value, '$.status') AS position_status,
			LEFT(LTRIM(JSON_VALUE(position.value, '$.alzura_id')), 50) AS alzura_id,
			JSON_VALUE(position.value, '$.id') AS position_id,
			LEFT(LTRIM(JSON_VALUE(position.value, '$.article_type')), 1) AS article_type_pos2,
			JSON_VALUE(position.value, '$.status') AS position_status2,
			LEFT(LTRIM(JSON_VALUE(position.value, '$.position_name')), 50) AS position_name,
			LEFT(LTRIM(JSON_VALUE(position.value, '$.position_description')), 50) AS position_description,
			JSON_VALUE(position.value, '$.price.net') AS position_price_net,
			JSON_VALUE(position.value, '$.quantity') AS quantity,
			LEFT(LTRIM(JSON_VALUE(position.value, '$.supplier_item_number')), 40) AS supplier_item_number,
			'Ricambi',
			0
			FROM
				OPENJSON(@Json, '$.data') AS order_json
				CROSS APPLY OPENJSON(order_json.value, '$.positions') AS position;

			-- Pulisco il Campo Partita Iva nel caso fosse vuoto per poi fermare la lavorazione dopo nel DOC T24 --
			UPDATE Ant_OrdiniTyre24_Tmp
				SET Tbuyer_ustid = NULL
			WHERE LTRIM(RTRIM(Tbuyer_ustid)) = ''

			INSERT INTO [Ant_OrdiniTyre24]
				([TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment] ,[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
				[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_name2],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
				,[Tbuyer_ustid],[Tbuyer_phone],[Tbuyer_fax],[Tbuyer_contact],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_cr_index],[Tbuyer_cr_check_date],[Tbuyer_cr_limit],[Tbuyer_cr_text],[Tbuyer_iban]
				,[Tbuyer_swift_bic],[Tbuyer_country],[Tsepa_mandate_reference],[Tsepa_mandate_pdf],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_costs_currency],[Tpayment_method_generic_cost],
				[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2],[Tposition_name3]
				,[Tprice_net],[Tquantity],[Ttax],[Tean],TArticleId,TmanufacturerName,Tmanufacturer_number,TarticleReference,Tbrand_id,[Twholesaler_item_number],[Txml_id],[TipoOrdine],Tbuyer_recipient_code)
			SELECT DISTINCT
				[TOrdineNr],[TType],[Tpayment_method_cost],[Tbuyer_id],[Tdate],[Tsum_net],[Tsum_gross],[Tcomment] ,[Tuse_diff_delivery_address],[Tdelivery_name],[Tdelivery_street],[Tdelivery_zip],[Tdelivery_city],
				[Tdelivery_country],[Tdelivery_neutral],[Tdelivery_cost],[Tshipping_method],[Tshipping_method_name],[Tshipping_method_costs],[Tbuyer_name1],[Tbuyer_name2],[Tbuyer_street],[Tbuyer_zip],[Tbuyer_city]
				,[Tbuyer_ustid],[Tbuyer_phone],[Tbuyer_fax],[Tbuyer_contact],[Tbuyer_bank],[Tbuyer_account_owner],[Tbuyer_cr_index],[Tbuyer_cr_check_date],[Tbuyer_cr_limit],[Tbuyer_cr_text],[Tbuyer_iban]
				,[Tbuyer_swift_bic],[Tbuyer_country],[Tsepa_mandate_reference],[Tsepa_mandate_pdf],[Tpayment_method_id],[Tpayment_method_name],[Tpayment_method_costs_currency],[Tpayment_method_generic_cost],
				[Tpayment_method_text],[Tpayment_method_additional_sum],[Tcountry],[Tposition],[Tposition_id],[Tarticle_id],[Torder_id],[Tprefix],[Tstatus],[Tposition_name1],[Tposition_name2],[Tposition_name3]
				,[Tprice_net],[Tquantity],[Ttax],[Tean],TArticleId,TmanufacturerName,Tmanufacturer_number,TarticleReference,Tbrand_id,[Twholesaler_item_number],[Txml_id],[TipoOrdine],Tbuyer_recipient_code
					FROM [Ant_OrdiniTyre24_Tmp]
			WHERE NOT EXISTS (SELECT ID FROM Ant_OrdiniTyre24 WHERE ltrim(Rtrim(Ant_OrdiniTyre24.TOrdineNr)) = ltrim(rtrim(Ant_OrdiniTyre24_Tmp.TOrdineNr)) )

		END

		-- Segno come elaborato il JSON corrente
		UPDATE tyre24.dbo.Tjson_BGD
			SET Elaborato = 1
			WHERE Json_Table = @Json

	END


		-------------------- Agente , Cartella e CatForn --------------------------------

		UPDATE Ant_OrdiniTyre24 
			SET AgenteId = 5, Cartella = 'C:\Antonio\Tyre24\',CatForn = 'Nostre' -- Scrive che è un Ordine 24H
		from Ant_OrdiniTyre24
		WHERE TipoOrdine = 'Tyre24_24H' AND Elaborato IS NULL -- 24H

		UPDATE Ant_OrdiniTyre24 
			SET AgenteId = 5, Cartella = 'C:\Antonio\Tyre24\48H\',CatForn = 'Forn_Italia' -- Scrive che è un Ordine 48H
		from Ant_OrdiniTyre24
		WHERE TipoOrdine = 'Tyre24_48H' AND Elaborato IS NULL -- 48H

		UPDATE Ant_OrdiniTyre24 
			SET AgenteId = 5, Cartella = 'C:\Antonio\Tyre24\72H\',CatForn = 'Forn_Estero' -- Scrive che è un Ordine 72H
		from Ant_OrdiniTyre24
		WHERE TipoOrdine = 'Tyre24_72H' AND Elaborato IS NULL -- 48H

		UPDATE Ant_OrdiniTyre24 
			SET AgenteId = 5, Cartella = 'C:\Antonio\Tyre24\Ricambi\',CatForn = 'Forn_Ricambi_Italia' -- Scrive che è un Ordine Ricambi
		from Ant_OrdiniTyre24
		WHERE TipoOrdine = 'Ricambi' AND Elaborato IS NULL -- Ricambi

		-------------------------------------------------- Pulisco ("Tbuyer_ustid" Partita Iva) ---------------------------------------

		UPDATE Ant_OrdiniTyre24
			SET Tbuyer_ustid = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Tbuyer_ustid,'IT',''),'DE',''),'NL',''),'AT',''),'BE',''),'FR',''),'LU',''),'ES',''),'PL','')
		WHERE Elaborato IS NULL

		-------------------------------------------------- Pulisco ("name" Descrizione per Anagrafica) ---------------------------------------
		--UPDATE Ant_Ordini07ZR
		--SET name = REPLACE(name,'''','')
		-------------------- Tipo di società (NULL def.; D= ditta individuale; S= società di persone; C= società di capitali) --------------------------------
		UPDATE Ant_OrdiniTyre24
			SET TipoPersona = 0,TipoSocieta = 'D'
		WHERE Elaborato IS NULL

		UPDATE Ant_OrdiniTyre24
			SET TipoSocieta = 'S'
		WHERE Tdelivery_name like '%s.a%' or Tdelivery_name like '%sa%' or Tdelivery_name like '%s.n%' or Tdelivery_name like '%sn%' AND Elaborato IS NULL

		UPDATE Ant_OrdiniTyre24
			SET TipoSocieta = 'C'
		WHERE Tdelivery_name like '%s.p%' or Tdelivery_name like '%sp%' or Tdelivery_name like '%s.r%' or Tdelivery_name like '%sr%' AND Elaborato IS NULL

		-------------------- Scrivo IdMarca con TBL Marca --------------------------------
		UPDATE Ant_OrdiniTyre24 
			SET IdMarca = MARCHE.ID -- Controllo Con la Tbl Ufficiale le Marche per Scrivere "IdMarca"
		FROM Ant_OrdiniTyre24 LEFT OUTER JOIN I24BO.dbo.MARCHE ON SUBSTRING(ltrim(Tposition_name1),1,len(ltrim(rtrim(MARCHE.DESCR)))) = ltrim(rtrim(MARCHE.DESCR))
		WHERE IdMarca IS NULL AND Elaborato IS NULL

		UPDATE Ant_OrdiniTyre24
			SET IdMarca = IdMarche -- Controllo Con la Tbl Ufficiale le Marche per Scrivere "IdMarca"
		from Ant_OrdiniTyre24 LEFT OUTER JOIN Ant_MARCHE_Agg ON SUBSTRING(ltrim(Tposition_name1),1,len(ltrim(rtrim(DescrAnt)))) = ltrim(rtrim(DescrAnt))
		WHERE IdMarca IS NULL AND Elaborato IS NULL
		-------------------- Scrivo IdArtico con Codice Articolo/Ean con Marca --------------------------------

		UPDATE Ant_OrdiniTyre24
			SET IdArtico = ARTICO.ID,IdMarca = IDMARCHE
		FROM I24BO.dbo.ARTICO INNER JOIN Ant_OrdiniTyre24 ON Twholesaler_item_number = CODICE -- Con Codice Articolo
		WHERE Ant_OrdiniTyre24.IdArtico IS NULL

		UPDATE Ant_OrdiniTyre24
			SET IdArtico = ARTICO.ID
		FROM I24BO.dbo.ARTICO INNER JOIN Ant_OrdiniTyre24 ON cast(Tean as varchar(20)) = Ext_EAN and IdMarca = IDMARCHE -- Con EAN + Marca
		WHERE Ant_OrdiniTyre24.IdArtico IS NULL

		UPDATE Ant_OrdiniTyre24
			SET IdArtico = ARTICO.ID,IdMarca = IDMARCHE
		FROM I24BO.dbo.ARTICO INNER JOIN Ant_OrdiniTyre24 ON cast(Tean AS varchar(15)) = Ext_EAN -- Con EAN Senza Marca
		WHERE Ant_OrdiniTyre24.IdArtico IS NULL 

		-------------------- Abbinamento x Ricambi ---------------------

		UPDATE Ant_OrdiniTyre24
			SET IdArtico = 561948 ,IdMarca = 10009 -- 561948 "@7RICWEB" -- 10009 "Meccanica Leggera"
		WHERE Ant_OrdiniTyre24.IdArtico IS NULL AND TipoOrdine = 'Ricambi' AND Elaborato IS NULL

		UPDATE Ant_OrdiniTyre24
			SET IdCliente = CLIENTI.ID
		FROM Ant_OrdiniTyre24 LEFT OUTER JOIN I24BO.dbo.PERSONE ON Ltrim(Rtrim(Replace(Tbuyer_ustid,'-',''))) = Ltrim(Rtrim(Replace(PARIVA,'-',''))) INNER JOIN I24BO.dbo.CLIENTI ON IDPERSONA = PERSONE.ID
		WHERE IdCliente IS NULL

		----------------------------- Lancio la Stored Procedure "Ant_Doc_OrdineTyre24" per creare gli ordini nuovi Ricambi se ci sono ITALIA -------------------------------- 

		SELECT id,Tbuyer_name1,Tquantity,Tposition_name1,Tposition_name2,Twholesaler_item_number,TipoOrdine,* FROM Ant_OrdiniTyre24 WHERE Elaborato is NULL AND TipoOrdine LIKE '%Ricambi%' ORDER by Ant_OrdiniTyre24.ID
		IF @@ROWCOUNT > 0 BEGIN

			-----========== Tyre24 ==========-----
			INSERT INTO [dbo].[OrdiniClientiAll]
				([OrdineNum],OrdineNumOrig,[DataOrdine],[OrdineSettore],[IdCliente],[DropShipping],
				[CliDescr],[CliInd],[CliCitta],[CliCap],[CliTel],[CliContact],[CliPiva],[CliBanca],[CliIban],[CliSwift],[CliNazione],[CliSID],
				[DestDescr],[DestInd],[DestCitta],[DestCap],[DestNazione],AddContrTrasp,AddSpeseIncasso,TipoPagamento,
				[NoteOrdine],[CodiceArticolo],[Art_ID],[Ean],[DescrArticolo],[Qta],[ValUni],[ValTot],
				[TipoOrdine],Canale,AgenteId,CatFornit,cartella,GiorniConsegna)
			SELECT
				'T24_' + Ltrim(TOrdineNr),TOrdineNr,Tdate,'Ricambi' ,NULL,Tuse_diff_delivery_address,
				Ltrim(Rtrim(Tbuyer_name1)) + ' ' + ISNULL(Ltrim(Rtrim(Tbuyer_name2)),''),Tbuyer_street,Tbuyer_city,Tbuyer_zip,Tbuyer_phone,Tbuyer_contact,Tbuyer_ustid,Tbuyer_bank,Tbuyer_iban,Tbuyer_swift_bic,Tcountry,Tbuyer_recipient_code,
				Tdelivery_name,Tdelivery_street,Tdelivery_city,Tdelivery_zip,Tdelivery_country,Tdelivery_cost,Tpayment_method_generic_cost,Tpayment_method_name,
				Tcomment,Twholesaler_item_number,IdArtico,Tean,Ltrim(Rtrim(Tposition_name1)) + ' ' + ISNULL(Ltrim(Rtrim(Tposition_name2)),''),Tquantity,Tprice_net,Tsum_net,
				[TipoOrdine],'Piattaforme',5,CatForn,Cartella,(SELECT TOP 1 GiorniConsegna FROM OfferteWeb INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE CodArtPiatt = Twholesaler_item_number AND PosT24 = 1)
			FROM Ant_OrdiniTyre24 WHERE Elaborato IS NULL AND TipoOrdine Like '%Ricambi%' AND NOT EXISTS (SELECT ID FROM OrdiniClientiAll WHERE 'T24_' + Ltrim(TOrdineNr) = OrdineNum)
	
			UPDATE OrdiniClientiAll -- Sistemo la Nazione dove Manca
				SET DestNazione = CliNazione
			WHERE DestNazione = ''

			--===== Aggiorno il Fornitore ed il Prezzo di Acquisto (Prima Pulisco il codice da Spazi) =====--
			UPDATE Ant_OrdiniTyre24
				SET Tmanufacturer_number = dbo.Fn_RemoveAllSpaces(Tmanufacturer_number)
			WHERE LTRIM(RTRIM(Tmanufacturer_number)) LIKE '% %'

			UPDATE Ant_OrdiniTyre24
				SET CMF = Ltrim(Rtrim(Fornitore)), PACF = PrezzoAcq
			FROM Ant_OrdiniTyre24 INNER JOIN RicambiCSV ON TecDocID = Tmanufacturer_number WHERE TipoOrdine = 'Ricambi' AND CMF IS NULL

			--------------------------------------------------------------
		
			EXEC [Ant_Doc_OrdineTyre24_Ricambi]
		END

		----------------------------- Lancio la Stored Procedure "Ant_Doc_OrdineTyre24_Pneumatici" per creare gli ordini nuovi se ci sono di Pneumatici --------------------------------

		SELECT id,Tbuyer_name1,Tquantity,Tposition_name1,Tposition_name2,Twholesaler_item_number,TipoOrdine,* FROM Ant_OrdiniTyre24 WHERE Elaborato is NULL AND TipoOrdine Like '%Tyre24%' ORDER by Ant_OrdiniTyre24.ID
		IF @@ROWCOUNT > 0 BEGIN

				-----========== Tyre24 ==========-----
			INSERT INTO [dbo].[OrdiniClientiAll]
				([OrdineNum],OrdineNumOrig,[DataOrdine],[OrdineSettore],[IdCliente],[DropShipping],
				[CliDescr],[CliInd],[CliCitta],[CliCap],[CliTel],[CliContact],[CliPiva],[CliBanca],[CliIban],[CliSwift],[CliNazione],[CliSID],
				[DestDescr],[DestInd],[DestCitta],[DestCap],[DestNazione],AddContrTrasp,AddSpeseIncasso,TipoPagamento,
				[NoteOrdine],[CodiceArticolo],[Art_ID],[Ean],[DescrArticolo],[Qta],[ValUni],[ValTot],
				[TipoOrdine],Canale,AgenteId,CatFornit,cartella,GiorniConsegna,
				CodMagForn)
			SELECT
				'T24_' + Ltrim(TOrdineNr),TOrdineNr,Tdate,'Pneumatici' ,IdCliente,Tuse_diff_delivery_address,
				Ltrim(Rtrim(Tbuyer_name1)) + ' ' + ISNULL(Ltrim(Rtrim(Tbuyer_name2)),''),Tbuyer_street,Tbuyer_city,Tbuyer_zip,Tbuyer_phone,Tbuyer_contact,Tbuyer_ustid,Tbuyer_bank,Tbuyer_iban,Tbuyer_swift_bic,Tcountry,Tbuyer_recipient_code,
				Tdelivery_name,Tdelivery_street,Tdelivery_city,Tdelivery_zip,Tdelivery_country,Tdelivery_cost,Tpayment_method_generic_cost,Tpayment_method_name,
				Tcomment,Twholesaler_item_number,IdArtico,Tean,Ltrim(Rtrim(Tposition_name1)) + ' ' + ISNULL(Ltrim(Rtrim(Tposition_name2)),''),Tquantity,Tprice_net,Tsum_net,
				[TipoOrdine],'Piattaforme',5,CatForn,Cartella,(SELECT TOP 1 GiorniConsegna FROM OfferteWeb INNER JOIN Ant_FornPiattaforma ON IdForPiatt = IdFornitore WHERE CodArtPiatt = Twholesaler_item_number AND PosT24 = 1),
				(SELECT TOP 1 OFFW.CodMagForn FROM PiattaformeWeb.dbo.OfferteWeb OFFW WHERE OFFW.PosT24 = 1 AND OFFW.CodArtPiatt = Twholesaler_item_number)
			FROM Ant_OrdiniTyre24 WHERE Elaborato IS NULL AND TipoOrdine Like '%Tyre24%' AND NOT EXISTS (SELECT ID FROM OrdiniClientiAll WHERE 'T24_' + Ltrim(TOrdineNr) = OrdineNum)
	
			UPDATE OrdiniClientiAll -- Sistemo la Nazione dove Manca
				SET DestNazione = CliNazione
			WHERE DestNazione = ''

			-- ===== Inserisco nella TBL [OfferteWebOrdini] gli articoli con tutti i prezzi per quest'ordine in modo da poter verificare il prezzo in un secondo momento ===== --

			INSERT INTO [dbo].[OfferteWebOrdini]
				([IdArtico], [CodiceArticolo], [CodArtForn], [CodArtPiatt], [DescrB2b], [IdFornitore], [Qta], [Prezzo], [PrezzoMan], [PrezzoManT24], [PrezzoMan07ZR], [PrezzoManEstero], [Posizione], [PosGlobale], [Settore], [SettList], [SettoreId], [Diametro], [P_Std], [P_StdBo], [P_Base], [P_BaseBo], [P_Top], [P_TopBo], [P_Marca1], [P_Marca1Bo], [P_Marca2], [P_Marca2Bo], [P_Marca3], [P_Marca3Bo], [P_Marca4], [P_Marca4Bo], [Note_Base], [Differenza], [Eccezzioni], [Produttore], [P_GommeAuto], [P_Esteri_Ger], [P_T24_24H], [P_T24_48H], [P_T24_72H], [P_07ZR_24H], [P_07ZR_48H], [P_07ZR_72H], [Note_07ZR], [Note_T24], [P_T24_GER], [P_T24_SPA], [P_T24_AUS], [P_07ZR_FRA], [Descr_Piatt], [Peso], [C_TraspBase], [C_TraspBaseBo], [P_PiattConTrasp], [P_PiattSenzaTrasp], [C_TraspT24], [C_PesoT24], [C_Trasp07ZR], [C_Peso07ZR], [C_PesoGerFra], [C_PesoSpa], [C_PesoAust], [M_Base], [M_T24], [M_07ZR], [M-07ZR], [M+07ZR], [M-T24], [M+T24], [P_Prec_T24], [P_1Pos_T24], [Diff_T24], [P_Min_T24], [P_Max_T24], [P_Ricalc_T24], [PosPrec_T24], [P_Prec_07ZR], [P_1Pos_07ZR], [Diff_07ZR], [P_Min_07ZR], [P_Max_07ZR], [P_Ricalc_07ZR], [PosPrec_07ZR], [Provv_PiattT24], [Provv_Piatt07ZR], [Note_07ZR_Rank], [Note_T24_Rank], [DOT_Forn], [OrderB2b], [MarcaId], [TipoPubPiatt], [CodMagForn], [Note_Std], [Note_Top], [M_Std], [M_Top], [M_Esteri], [P_Esteri_Spa], [P_Esteri_Aus], [Stagione], [PosEsteri], [PosT24], [Pos07ZR], [Misura], [P_T24_BEL], [P_T24_LUS], [P_T24_FRA], [P_T24_OLA], [P_T24_POL], [P_07ZR_GER], [P_07ZR_SPA], [P_07ZR_AUS], [P_07ZR_POR], [P_T24_Uk_Danim], [P_07ZR_Uk_Danim], NrOrdine)
			SELECT
				ow.[IdArtico], [CodiceArticolo], [CodArtForn], [CodArtPiatt], [DescrB2b], [IdFornitore], [Qta], [Prezzo], [PrezzoMan], [PrezzoManT24], [PrezzoMan07ZR], [PrezzoManEstero], [Posizione], [PosGlobale], [Settore], [SettList], [SettoreId], [Diametro], [P_Std], [P_StdBo], [P_Base], [P_BaseBo], [P_Top], [P_TopBo], [P_Marca1], [P_Marca1Bo], [P_Marca2], [P_Marca2Bo], [P_Marca3], [P_Marca3Bo], [P_Marca4], [P_Marca4Bo], [Note_Base], [Differenza], [Eccezzioni], [Produttore], [P_GommeAuto], [P_Esteri_Ger], [P_T24_24H], [P_T24_48H], [P_T24_72H], [P_07ZR_24H], [P_07ZR_48H], [P_07ZR_72H], [Note_07ZR], [Note_T24], [P_T24_GER], [P_T24_SPA], [P_T24_AUS], [P_07ZR_FRA], [Descr_Piatt], [Peso], [C_TraspBase], [C_TraspBaseBo], [P_PiattConTrasp], [P_PiattSenzaTrasp], [C_TraspT24], [C_PesoT24], [C_Trasp07ZR], [C_Peso07ZR], [C_PesoGerFra], [C_PesoSpa], [C_PesoAust], [M_Base], [M_T24], [M_07ZR], [M-07ZR], [M+07ZR], [M-T24], [M+T24], [P_Prec_T24], [P_1Pos_T24], [Diff_T24], [P_Min_T24], [P_Max_T24], [P_Ricalc_T24], [PosPrec_T24], [P_Prec_07ZR], [P_1Pos_07ZR], [Diff_07ZR], [P_Min_07ZR], [P_Max_07ZR], [P_Ricalc_07ZR], [PosPrec_07ZR], [Provv_PiattT24], [Provv_Piatt07ZR], [Note_07ZR_Rank], [Note_T24_Rank], [DOT_Forn], [OrderB2b], [MarcaId], [TipoPubPiatt], [CodMagForn], [Note_Std], [Note_Top], [M_Std], [M_Top], [M_Esteri], [P_Esteri_Spa], [P_Esteri_Aus], [Stagione], [PosEsteri], [PosT24], [Pos07ZR], [Misura], [P_T24_BEL], [P_T24_LUS], [P_T24_FRA], [P_T24_OLA], [P_T24_POL], [P_07ZR_GER], [P_07ZR_SPA], [P_07ZR_AUS], [P_07ZR_POR], [P_T24_Uk_Danim], [P_07ZR_Uk_Danim],T24.TOrdineNr

			FROM OfferteWeb ow INNER JOIN Ant_OrdiniTyre24 t24 ON t24.IdArtico = ow.IdArtico
			WHERE t24.Elaborato IS NULL
		
			-- ===== Aggiorno il Fornitore ed il Prezzo di Acquisto ===== --
			UPDATE Ant_OrdiniTyre24
				SET CMF = Ltrim(Rtrim(CodMagForn)), PACF = Prezzo
			FROM Ant_OrdiniTyre24 INNER JOIN OfferteWeb ON CodArtPiatt = Twholesaler_item_number AND PosT24 = 1
			WHERE TipoOrdine <> 'Ricambi' AND CMF IS NULL

			-- ===== Aggiorno il Vettore ed il Prezzo di Spedizione ===== --
			DECLARE @Canale VARCHAR(20),@DestNazione Varchar(2), @BestPrice Decimal(6,2), @BestVettore varchar(20), @BestColli INT, @Qta INT, @IdArtico INT , @IdRiga INT
			DECLARE	@RisultatoBrt VARCHAR(400),@RisultatoGls VARCHAR(400),@RIsultatoColliBrt INT ,@RIsultatoColliGls INT ,@RisultatoCostoColloBrt Decimal(6,2) ,@RisultatoCostoVolBrt Decimal(6,2) ,@RisultatoCostoGls Decimal(6,2)
    
			DECLARE cur CURSOR FAST_FORWARD READ_ONLY LOCAL FOR
    			SELECT aot.IdArtico,aot.Tquantity,aot.Tcountry,aot.ID
    			FROM dbo.Ant_OrdiniTyre24 aot INNER JOIN I24BO.dbo.ARTICO a ON aot.IDARTICO = a.ID WHERE a.IDCLASSI IN (4, 6, 7, 16, 76, 91) AND a.NETTO > 0 AND (YEAR(aot.Tdate) = YEAR(GETDATE()) AND MONTH(aot.Tdate) = MONTH(GETDATE())) AND aot.CostoSpedizione IS NULL
    
			OPEN cur
    
			FETCH NEXT FROM cur INTO @IdArtico,@Qta,@DestNazione,@IdRiga
    
			WHILE @@FETCH_STATUS = 0 BEGIN
 
 				IF @DestNazione = 'IT' EXEC BackOffice.dbo.SP_PrezzoSpedizioneItaliana_Ant @IdArtico,@Qta,@DestNazione,@RisultatoBrt OUTPUT,@RisultatoGls OUTPUT,@RIsultatoColliBrt OUTPUT,@RIsultatoColliGls OUTPUT,@RisultatoCostoColloBrt OUTPUT,@RisultatoCostoVolBrt OUTPUT,@RisultatoCostoGls OUTPUT,@BestPrice OUTPUT,@BestVettore OUTPUT,@BestColli OUTPUT
		  
 				IF @DestNazione <> 'IT' EXEC BackOffice.dbo.SP_PrezzoSpedizioneStraniera_Ant @IdArtico,@Qta,@DestNazione,@RisultatoBrt OUTPUT,@RisultatoGls OUTPUT,@RIsultatoColliBrt OUTPUT,@RIsultatoColliGls OUTPUT,@RisultatoCostoColloBrt OUTPUT,@RisultatoCostoVolBrt OUTPUT,@RisultatoCostoGls OUTPUT,@BestPrice OUTPUT,@BestVettore OUTPUT,@BestColli OUTPUT

				UPDATE Ant_OrdiniTyre24
					SET SiglaVettore = @BestVettore, CostoSpedizione = @BestPrice
				WHERE ID = @IdRiga
    
    			FETCH NEXT FROM cur INTO @IdArtico,@Qta,@DestNazione,@IdRiga
    
			END
    
			CLOSE cur
			DEALLOCATE cur
			---------------------------------------------------------------------------------------------------------

			EXEC Ant_Doc_OrdineTyre24_Pneumatici

			-- Cancello i duplicati che ogni tanto si creano in OrdiniClientiAll
			DELETE T1 FROM (SELECT ROW_NUMBER() OVER(PARTITION BY IdComtes,TipoOrdine,Qta,CatFornit ORDER BY IdComtes DESC) AS [NumeroCodici],* FROM OrdiniClientiAll) as T1 
			where T1.NumeroCodici>1

		END
	END TRY
    BEGIN CATCH
        -- Gestione degli errori
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
		DECLARE @Errorline VARCHAR(50)
		DECLARE @ErrorProcedure VARCHAR(50)
		DECLARE @body nvarchar(4000),@TProfileName varchar(50),@to_mails nvarchar(500) = 'antonio.sacco@bolognagomme.com',@cc_mails nvarchar(500) = '',@ccn_mails nvarchar(500) = '',@subject nvarchar(500)

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE(),
			@Errorline = ERROR_LINE( ),
			@ErrorProcedure = ERROR_PROCEDURE( )

        -- Invia un'email di notifica
		SET @body = 'Si è verificato un errore durante la Creazione ORdini Tyre24: ' + @ErrorMessage + ' Linea: ' + @Errorline + ' Stored: ' + @ErrorProcedure
        EXEC msdb.dbo.sp_send_dbmail
            @profile_name = 'SQL',
            @recipients = @to_mails,
            @subject = 'Errore durante la Creazione Ordini Tyre24',
            @body = @body

        -- Rilancia l'errore
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState, @Errorline, @ErrorProcedure);
    END CATCH

END

