USE [Tyre24]
GO
/****** Object:  StoredProcedure [dbo].[SP_ScaricoUltimoOrdineT24]    Script Date: 05/06/2025 09:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_ScaricoUltimoOrdineT24]

	@ApyKey VARCHAR(400),
	@RitornoComferma varchar(250) OUTPUT

AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @json TABLE (Json_Table NVARCHAR(MAX))
	DECLARE @contentType NVARCHAR(64), @contentType1 NVARCHAR(64), @postData NVARCHAR(MAX), @ret INT, @status NVARCHAR(32), @statusText NVARCHAR(32), @token INT

	DECLARE @RequestText as varchar(8000),@Paese varchar(2)
	DECLARE @endpoint NVARCHAR(255) = 'https://api-b2b.alzura.com/common/latestorders';
	DECLARE @country NVARCHAR(2) = 'it'; -- Esempio di codice paese, modificarlo come necessario
	DECLARE @counter INT = 0; -- Default 0. Data records are combined by the interface into blocks that can be retrieved again.
	DECLARE @no_tagging BIT = 0; -- 0: gli ordini restituiti sono impostati con il prossimo contatore disponibile, se non precedentemente recuperati, e contrassegnati con il tempo di accesso (il tempo di accesso non verrà modificato dalle chiamate successive con no_tagging=0); 1: gli ordini restituiti sono impostati con il prossimo contatore disponibile, se non recuperati in precedenza, ma non verrà impostato alcun tempo di accesso.
	DECLARE @tracking_number INT = 0; -- Valid values are: 0 = all orders, 1 = only orders with tracking, 2 = only orders without tracking
	DECLARE @order_role NVARCHAR(20) = 'SELLER'; -- Valid values are: SELLER, BUYER, SELLER_OR_BUYER, SELLER_AND_BUYER
	DECLARE @demo BIT = 0; -- 0: Real data is returned (default), 1: Demo data is returned.

		SET @Paese = 'it'

		SET @contentType = 'application/vnd.saitowag.api+json;version=1.0'; -- Obbligatoria per far funzionare tutto su Tyre24 API --
		SET @contentType1 = 'application/json';

		--SET @postData = '{
		--"counter": ' + CAST(@counter AS NVARCHAR(10)) + ',
		--	"no_tagging": ' + CAST(@no_tagging AS NVARCHAR(1)) + ',
		--	"tracking_number": ' + CAST(@tracking_number AS NVARCHAR(10)) + ',
		--	"order_role": "' + @order_role + '",
		--	"demo": ' + CAST(@demo AS NVARCHAR(1)) + '
		--}'

		-- il @postData non è obbligatorio per questo tipo di chiamata --
		SET @postData = NULL

		-- Open the connection.
		EXEC @ret = sp_OACreate 'MSXML2.ServerXMLHTTP', @token OUT;
		IF @ret <> 0 RAISERROR('Unable to open HTTP connection.', 10, 1);

		-- Send the request.
		EXEC @ret = sp_OAMethod @token, 'open', NULL, 'GET', @endpoint, 'false';

		--set a custom header Authorization is the header key and VALUE is the value in the header
		EXEC @ret = sp_OAMethod @token, 'setRequestHeader', NULL, 'Country', @Paese;
		EXEC @ret = sp_OAMethod @token, 'setRequestHeader', NULL, 'Accept', @contentType;
		EXEC @ret = sp_OAMethod @token, 'setRequestHeader', NULL, 'Content-Type', @contentType1;
		EXEC @ret = sp_OAMethod @token, 'setRequestHeader', NULL, 'X-AUTH-TOKEN', @ApyKey;

		EXEC @ret = sp_OAMethod @token, 'send', NULL, @postData;

		-- Handle the response.
		EXEC @ret = sp_OAGetProperty @token, 'status', @status OUT;
		EXEC @ret = sp_OAGetProperty @token, 'statusText', @statusText OUT;
		INSERT INTO Tjson_BGD (Json_Table) EXEC @ret = sp_OAGetProperty @token, 'responseText'

		-- Show the response.
		SET @RitornoComferma = REPLACE(ISNULL(@RitornoComferma,'') + @status + ' (' + @statusText + ')','204 (No Content)','OK')

		-- Close the connection.
		EXEC @ret = sp_OADestroy @token

		IF @ret <> 0 BEGIN
			RAISERROR('Unable to close HTTP connection.', 10, 1)
			SET @RitornoComferma = 'Non sono Riuscito a Connetermi al Server'
			SELECT @RitornoComferma
		END
		ELSE BEGIN
			SELECT @RitornoComferma
		END

END
