USE [Tyre24]
GO
/****** Object:  StoredProcedure [dbo].[SP_ScaricoDaT24_JsonOrdini]    Script Date: 05/06/2025 08:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_ScaricoDaT24_JsonOrdini]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Autenticazione Con Richiesta Token e Chiusura Ordine ---

	DECLARE @command NVARCHAR(MAX);
	DECLARE @orderId VARCHAR(40);
	DECLARE @command_varchar VARCHAR(8000);  -- Variabile per convertire in varchar

	TRUNCATE TABLE Tjson

	DECLARE cur CURSOR FAST_FORWARD READ_ONLY LOCAL FOR
		SELECT TOP 2 o.OrderID
		FROM dbo.Orders o
		WHERE o.OrderDate IS NULL AND o.Account = 110875

	OPEN cur

	FETCH NEXT FROM cur INTO @orderId

	WHILE @@FETCH_STATUS = 0 BEGIN

        -- Comando PowerShell da eseguire
        SET @command = 'powershell.exe -ExecutionPolicy Bypass -File "C:\Antonio\Tyre24\OridniFatti_110875\Script\DownloadJson.ps1" -orderId ' + @orderId;

        -- Convertire in varchar
        SET @command_varchar = CAST(@command AS VARCHAR(8000));

        -- Eseguire il comando PowerShell
        EXEC xp_cmdshell @command_varchar;

		FETCH NEXT FROM cur INTO @orderId

	END

	CLOSE cur
	DEALLOCATE cur

END

