USE [PiattaformeWeb]
GO
/****** Object:  StoredProcedure [dbo].[SP_CostoSpedGlsIT]    Script Date: 10/06/2025 07:31:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_CostoSpedGlsIT]
	-- Add the parameters for the stored procedure here
@PesoArt decimal(6,2),
@VolumeArt DECIMAL(6,3),
@SettoreId int,
@CostoRitorno decimal(6,2) Output,
@ResNrPnPerCollo int Output

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @Sql nvarchar(max),@xx float,@CostoSped Decimal(6,2),@x float,@MediaPezzi decimal(6,2),@VolumeMaxSped DECIMAL(6,2),@fuel Decimal(6,2)
	DECLARE @C_Gls_Ita DECIMAL (6,2),@PesoMaxGlsIta DECIMAL(6,2),@NrPnPerCollo INT,@VolumeMaxSpedGls DECIMAL(6,2),@Imprevisti decimal(6,2),@Aggiustamenti Decimal(6,2)
	
		-- Cerco il Prezzo GLS
	SET @VolumeMaxSped = (SELECT MAX(Vol_Max) FROM GlsListinoSpedVolume_Ita) -- Massimo Volume possibile da Spedire
	SET @PesoMaxGlsIta = (SELECT Peso_Max FROM GlsListinoSpedVolume_Ita WHERE @VolumeArt BETWEEN Vol_Min AND Vol_Max) -- Peso Max per Collo di GLS
	SET @C_Gls_Ita = (SELECT Z1 FROM GlsListinoSpedVolume_Ita WHERE @VolumeArt BETWEEN Vol_Min AND Vol_Max) -- Costo per la Fascia di Volume del Collo GLS
	SET @MediaPezzi = (SELECT TOP 1 NrMediaPezziOrdine FROM GlsListinoSpedVolume_Ita) -- Media Pezzi anno Precedente T24
	SET @Imprevisti = (SELECT TOP 1 ImprevistiPerc FROM GlsListinoSpedVolume_Ita) -- Massimo Volume possibile da Spedire GLS
	SET @Aggiustamenti = (SELECT TOP 1 AggiustamentiPerc FROM GlsListinoSpedVolume_Ita) -- Massimo Volume possibile da Spedire GLS
	SET @fuel = (SELECT TOP 1 FuelPerc FROM GlsListinoSpedVolume_Ita) -- Costo ricarico Fuel (Percentuale) GLS

	-- Regola con questa Formula di GLS per Calcolare se le gomme stanno in un singolo Collo per l'le loro Regole Estere
	IF @PesoArt * 2 <= @PesoMaxGlsIta AND @VolumeArt * 2 <= @VolumeMaxSped SET @NrPnPerCollo = 2
	
	IF @NrPnPerCollo IS NULL BEGIN
		IF @PesoArt <= @PesoMaxGlsIta AND @VolumeArt <= @VolumeMaxSped SET @NrPnPerCollo = 1 -- Se ci Stanno solo 1 Pneumatico per Collo
	END

	SET @CostoSped = @C_Gls_Ita * @Aggiustamenti -- @Aggiustamenti usato per Aumeti tariffari (1 Settembre 2020 2%)

	IF @NrPnPerCollo = 2 AND @SettoreId NOT IN (16,91) SET @CostoSped = ((@CostoSped / @MediaPezzi) * @Imprevisti) * @fuel --(Faccio il 30% se ci stanno 2 gomme per collo) 

	IF @SettoreId IN (16,91) SET @CostoSped = (SELECT Z1 FROM GlsListinoSpedVolume_Ita WHERE @VolumeArt BETWEEN Vol_Min AND Vol_Max) --(Faccio il prezzo normale senza Aggiunte)	
	
    SELECT @CostoRitorno = @CostoSped
	SELECT @ResNrPnPerCollo = @NrPnPerCollo
END
